<div class="mt-3">
  <div class="card border">
    <div class="card-body">
      <mat-tab-group mat-stretch-tabs #thongTinCapPhepThamDoTabs [animationDuration]=""
        (selectedIndexChange)="tabChange($event)">
        <mat-tab  [disabled]="disabledTabState[TabType.ThongTinChiTiet]" label="{{ 'CAPPHEPHOATDONGKHOANGSAN.thongtincapphep.thongTinChiTietTabTitle' | translate }}">
          <ng-template appContentContainer>
          </ng-template>
        </mat-tab>
        <mat-tab [disabled]="disabledTabState[TabType.DonViHanhChinh]" label="{{ 'CAPPHEPHOATDONGKHOANGSAN.thongtincapphep.donViHanhChinhTabTile' | translate }}">
          <app-cp-tdks-donvihanhchinh-list #capPhepThamDoDvhc [allowAutoInit]="false"></app-cp-tdks-donvihanhchinh-list>
        </mat-tab>
        <mat-tab  [disabled]="disabledTabState[TabType.LoaiKhoangSan]" label="{{ 'CAPPHEPHOATDONGKHOANGSAN.thongtincapphep.loaiKhoangSanTabTile' | translate }}">

        </mat-tab>
        <mat-tab [disabled]="disabledTabState[TabType.KhuVucThamDo]" label="{{ 'CAPPHEPHOATDONGKHOANGSAN.thongtincapphep.khuVucThamDoTabTile' | translate }}">

        </mat-tab>
        <mat-tab  [disabled]="disabledTabState[TabType.CongTrinhThamDo]"  label="{{ 'CAPPHEPHOATDONGKHOANGSAN.thongtincapphep.congTrinhThamDoTabTitle' | translate }}">

        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
