<div class="mt-3">
  <div class="card border">
    <div class="card-body">
      <mat-tab-group mat-stretch-tabs #thongTinDangKyThamDoTabs [animationDuration]="" [selectedIndex]="TabType.ThongTinChiTiet"
        (selectedIndexChange)="tabChange($event)">
        <mat-tab  [disabled]="!disabledTabState[TabType.ThongTinChiTiet]" label="{{ 'DANGKYHOATDONGKHOANGSAN.thongtindangky.thongTinChiTietTabTitle' | translate }}">

        </mat-tab>
        <mat-tab [disabled]="!disabledTabState[TabType.DonViHanhChinh]" label="{{ 'DANGKYHOATDONGKHOANGSAN.thongtindangky.donViHanhChinhTabTile' | translate }}">

        </mat-tab>
        <mat-tab  [disabled]="!disabledTabState[TabType.LoaiKhoangSan]" label="{{ 'DANGKYHOATDONGKHOANGSAN.thongtindangky.loaiKhoangSanTabTile' | translate }}">

        </mat-tab>
        <mat-tab [disabled]="!disabledTabState[TabType.KhuVucThamDo]" label="{{ 'DANGKYHOATDONGKHOANGSAN.thongtindangky.khuVucThamDoTabTile' | translate }}">

        </mat-tab>
        <mat-tab  [disabled]="!disabledTabState[TabType.CongTrinhThamDo]"  label="{{ 'DANGKYHOATDONGKHOANGSAN.thongtindangky.congTrinhThamDoTabTitle' | translate }}">

        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
