<div class="pt-3">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
      <div class="card border">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
              <h4>
                <span class="title font-weight-bold">
                  {{ 'HOSOGIAYTO.hoso.thongTinHoSoDangKyTitle' | translate}}
                </span>
              </h4>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <button class="btn btn-primary mb-sm-1" *ngIf="currentAction === ActionType.Add || currentAction === ActionType.Edit" style="float: right;" (click)="saveItemHoSo()">
                <i class="fal fa-save"></i>
                {{ "COMMON.default.save" | translate }}
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="hosoIOForm">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <h5>
                      <span class="title font-weight-bold">
                        {{ 'HOSOGIAYTO.hoso.thongTinHoSoTitle' | translate}}
                      </span>
                    </h5>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.hoso.mahoso" | translate }}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" type="text" formControlName="mahoso" placeholder="{{'HOSOGIAYTO.hoso.mahosoPlaceholder' | translate}}" />
                    <span *ngIf="formErrors.mahoso" class="alert-danger">{{formErrors.mahoso}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.hoso.mabiennhan" | translate }}
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" type="text" formControlName="mabiennhan" placeholder="{{'HOSOGIAYTO.hoso.mabiennhanPlaceholder' | translate}}" />
                    <span *ngIf="formErrors.mabiennhan" class="alert-danger">{{formErrors.mabiennhan}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.hoso.soden" | translate }}
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" type="text" formControlName="soden" placeholder="{{'HOSOGIAYTO.hoso.sodenPlaceholder' | translate}}" />
                    <span *ngIf="formErrors.soden" class="alert-danger">{{formErrors.soden}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"HOSOGIAYTO.hoso.ngaynop" | translate}}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8 ">
                      <div class="d-flex">
                          <input class="form-control mr-2" formControlName="ngaynop"
                              [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"
                              placeholder="{{'HOSOGIAYTO.giayphep.ngaynopPlaceholder' | translate}}" />
                              <span [owlDateTimeTrigger]="dt1" style="cursor: pointer;"
                              class="btn btn-outline-secondary"><i class="fa fa-calendar"></i></span>
                          <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                      </div>
                      <span *ngIf="formErrors.ngaynop" class="alert-danger">{{formErrors.ngaynop}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"HOSOGIAYTO.hoso.ngaytiepnhan" | translate}}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8 ">
                      <div class="d-flex">
                          <input class="form-control mr-2" formControlName="ngaytiepnhan"
                              [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"
                              placeholder="{{'HOSOGIAYTO.giayphep.ngaytiepnhanPlaceholder' | translate}}" />
                              <span [owlDateTimeTrigger]="dt2" style="cursor: pointer;"
                              class="btn btn-outline-secondary"><i class="fa fa-calendar"></i></span>
                          <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
                      </div>
                      <span *ngIf="formErrors.ngaytiepnhan" class="alert-danger">{{formErrors.ngaytiepnhan}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"HOSOGIAYTO.hoso.ngaytraketqua" | translate}}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8 ">
                      <div class="d-flex">
                          <input class="form-control mr-2" formControlName="ngaytraketqua"
                              [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3"
                              placeholder="{{'HOSOGIAYTO.giayphep.ngaytraketquaPlaceholder' | translate}}" />
                              <span [owlDateTimeTrigger]="dt3" style="cursor: pointer;"
                              class="btn btn-outline-secondary"><i class="fa fa-calendar"></i></span>
                          <owl-date-time #dt3 [pickerType]="'calendar'"></owl-date-time>
                      </div>
                      <span *ngIf="formErrors.ngaytraketqua" class="alert-danger">{{formErrors.ngaytraketqua}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"HOSOGIAYTO.hoso.loaicapphep" | translate}}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8" *ngIf="!disabledLoaiCapPhepSelectionState">
                    <mat-select class="form-control" placeholder="{{ 'HOSOGIAYTO.hoso.chonloaicapphep' | translate }}" formControlName="loaicapphep"
                      *ngIf="dataTranslate">
                      <mat-select-filter [displayMember]="'tenloaicapphep'" [array]="loaiCapPhepFilters" (filteredReturn)="loaiCapPhepList = $event">
                      </mat-select-filter>
                      <mat-option value="">
                        {{ "HOSOGIAYTO.hoso.chonloaicapphep" | translate }}
                      </mat-option>
                      <mat-option *ngFor="let loaiCapPhep of loaiCapPhepList" [value]="loaiCapPhep.maloaicapphep">
                        {{ loaiCapPhep.tenloaicapphep }}
                      </mat-option>
                    </mat-select>
                    <span *ngIf="formErrors.loaicapphep" class="alert-danger">{{formErrors.loaicapphep}}</span>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 font-weight-bold" style="padding-top: 9px;" *ngIf="disabledLoaiCapPhepSelectionState">
                    {{tenLoaiCapPhep}}
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"HOSOGIAYTO.hoso.hinhthucnophoso" | translate}}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <mat-select class="form-control" placeholder="{{ 'HOSOGIAYTO.hoso.chonhinhthucnophoso' | translate }}" formControlName="hinhthucnophoso"
                      *ngIf="dataTranslate">
                      <mat-select-filter [displayMember]="'name'" [array]="hinhThucNopHoSoFilters" (filteredReturn)="hinhThucNopHoSoList = $event">
                      </mat-select-filter>
                      <mat-option value="">
                        {{ "HOSOGIAYTO.hoso.chonhinhthucnophoso" | translate }}
                      </mat-option>
                      <mat-option *ngFor="let hinhThucNopHoSo of hinhThucNopHoSoList" [value]="hinhThucNopHoSo.id">
                        {{ hinhThucNopHoSo.name }}
                      </mat-option>
                    </mat-select>
                    <span *ngIf="formErrors.hinhthucnophoso" class="alert-danger">{{formErrors.hinhthucnophoso}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"HOSOGIAYTO.hoso.hinhthucnhanketqua" | translate}}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <mat-select class="form-control" placeholder="{{ 'HOSOGIAYTO.hoso.chonhinhthucnhanketqua' | translate }}" formControlName="hinhthucnhanketqua"
                      *ngIf="dataTranslate">
                      <mat-select-filter [displayMember]="'name'" [array]="hinhThucNhanKetQuaFilters" (filteredReturn)="hinhThucNhanKetQuaList = $event">
                      </mat-select-filter>
                      <mat-option value="">
                        {{ "HOSOGIAYTO.hoso.chonhinhthucnhanketqua" | translate }}
                      </mat-option>
                      <mat-option *ngFor="let hinhThucNhanKetQua of hinhThucNhanKetQuaList" [value]="hinhThucNhanKetQua.id">
                        {{ hinhThucNhanKetQua.name }}
                      </mat-option>
                    </mat-select>
                    <span *ngIf="formErrors.hinhthucnhanketqua" class="alert-danger">{{formErrors.hinhthucnhanketqua}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"HOSOGIAYTO.hoso.coquantiepnhan" | translate}}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <mat-select class="form-control" placeholder="{{ 'HOSOGIAYTO.hoso.choncoquantiepnhan' | translate }}" formControlName="idcoquantiepnhan"
                      *ngIf="dataTranslate">
                      <mat-select-filter [displayMember]="'tencoquanquanly'" [array]="coQuanTiepNhanFilters" (filteredReturn)="coQuanTiepNhanList = $event">
                      </mat-select-filter>
                      <mat-option value="">
                        {{ "HOSOGIAYTO.hoso.choncoquantiepnhan" | translate }}
                      </mat-option>
                      <mat-option *ngFor="let coquantiepnhan of coQuanTiepNhanList" [value]="coquantiepnhan.idcoquanquanly">
                        {{ coquantiepnhan.tencoquanquanly }}
                      </mat-option>
                    </mat-select>
                    <span *ngIf="formErrors.idcoquantiepnhan" class="alert-danger">{{formErrors.idcoquantiepnhan}}</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <h5>
                      <span class="title font-weight-bold">
                        {{ 'HOSOGIAYTO.hoso.thongTinToChucTitle' | translate}}
                      </span>
                    </h5>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"HOSOGIAYTO.hoso.loaidoituong" | translate}}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <mat-select class="form-control" formControlName="loaidoituong" (selectionChange)="selectItemLoaiDoiTuongChange()"
                      *ngIf="dataTranslate">
                      <mat-option *ngFor="let loaiDoiTuong of loaiDoiTuongList" [value]="loaiDoiTuong.id">
                        {{ loaiDoiTuong.name }}
                      </mat-option>
                    </mat-select>
                    <span *ngIf="formErrors.loaidoituong" class="alert-danger">{{formErrors.loaidoituong}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.hoso.tencanhantochuc" | translate }}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <input class="form-control" type="text" formControlName="tencanhantochuc" placeholder="{{'HOSOGIAYTO.hoso.tencanhantochucPlaceholder' | translate}}" />
                    <span *ngIf="formErrors.tencanhantochuc || formErrors.idcanhantochuc" class="alert-danger">{{formErrors.tencanhantochuc ? formErrors.tencanhantochuc : formErrors.idcanhantochuc}}</span>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2">
                    <button class="btn btn-primary mb-sm-1" style="float: right;" (click)="openIOSidenav()">
                      <i class="fal fa-plus-square"></i>
                      {{ "COMMON.default.select" | translate }}
                    </button>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"HOSOGIAYTO.hoso.loaigiayto" | translate}}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <mat-select class="form-control" placeholder="{{ 'HOSOGIAYTO.hoso.chonloaigiayto' | translate }}" formControlName="loaigiaytoDisplay"
                      *ngIf="dataTranslate">
                      <mat-select-filter [displayMember]="'name'" [array]="loaiGiayToFilters" (filteredReturn)="loaiGiayToList = $event">
                      </mat-select-filter>
                      <mat-option value="">
                        {{ "HOSOGIAYTO.hoso.chonloaigiayto" | translate }}
                      </mat-option>
                      <mat-option *ngFor="let loaiGiayTo of loaiGiayToList" [value]="loaiGiayTo.id">
                        {{ loaiGiayTo.name }}
                      </mat-option>
                    </mat-select>
                    <span *ngIf="formErrors.loaigiayto" class="alert-danger">{{formErrors.loaigiayto}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.hoso.sogiayto" | translate }}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" type="text" formControlName="sogiaytoDisplay" placeholder="{{'HOSOGIAYTO.hoso.sogiaytoPlaceholder' | translate}}" />
                    <span *ngIf="formErrors.sogiayto" class="alert-danger">{{formErrors.sogiayto}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"HOSOGIAYTO.hoso.ngaycap" | translate}}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" formControlName="ngaycapDisplay" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" placeholder="{{'HOSOGIAYTO.hoso.ngaycapPlaceholder' | translate}}" />
                    <owl-date-time #dt4 [pickerType]="'calendar'"></owl-date-time>
                    <span *ngIf="formErrors.ngaycap" class="alert-danger">{{formErrors.ngaycap}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.hoso.noicap" | translate }}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" type="text" formControlName="noicapDisplay" placeholder="{{'HOSOGIAYTO.hoso.noicapPlaceholder' | translate}}" />
                    <span *ngIf="formErrors.noicap" class="alert-danger">{{formErrors.noicap}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.hoso.diachi" | translate }}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" type="text" formControlName="diachiDisplay" placeholder="{{'HOSOGIAYTO.hoso.diachiPlaceholder' | translate}}" />
                    <span *ngIf="formErrors.diachi" class="alert-danger">{{formErrors.diachi}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.hoso.dienthoai" | translate }}
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" type="text" formControlName="dienthoai" placeholder="{{'HOSOGIAYTO.hoso.dienthoaiPlaceholder' | translate}}" />
                    <span *ngIf="formErrors.dienthoai" class="alert-danger">{{formErrors.dienthoai}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.hoso.fax" | translate }}
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" type="text" formControlName="fax" placeholder="{{'HOSOGIAYTO.hoso.faxPlaceholder' | translate}}" />
                    <span *ngIf="formErrors.fax" class="alert-danger">{{formErrors.fax}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.hoso.email" | translate }}
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" type="text" formControlName="email" placeholder="{{'HOSOGIAYTO.hoso.emailPlaceholder' | translate}}" />
                    <span *ngIf="formErrors.email" class="alert-danger">{{formErrors.email}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.hoso.website" | translate }}
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" type="text" formControlName="website" placeholder="{{'HOSOGIAYTO.hoso.websitePlaceholder' | translate}}" />
                    <span *ngIf="formErrors.website" class="alert-danger">{{formErrors.website}}</span>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <mat-sidenav #aside [fixedInViewport]="true" [fixedTopGap]="50" class="aside" position="end"
        style="width: 700px;">
        <div class="p-2 pl-3 bg-primary text-white mat-sidenav-title fixed-top">
          <button class="btn btn-sm btn-light" (click)="closeIOSidenav()">
            <i class="fad fa-chevron-double-right"></i>
          </button>
          <span style="vertical-align: middle;"
            class="ml-3 mat-sidenav-title-text">{{ matSidenavService.sidenavTitle }}</span>
        </div>
        <template #compio> </template>
      </mat-sidenav>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>
