<!-- Page header -->
<app-sub-header [menuItems]="navArray"></app-sub-header>

<!-- /page header -->
<div class="content pt-3">
  <mat-sidenav-container class="sidenav-container" hasBackdrop="false">
    <mat-sidenav-content>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 px-0">
            <div class="card border">
              <div class="card-header">
                <h3>
                  <span class="title">{{'THIETLAP.doituongthietlap.titleList' |translate}}
                    {{doiTuongTram ? doiTuongTram.otypeName : ''}}</span>
                  <button class="btn btn-primary" style="float:right" (click)="openDoiTuongTramIOSidebar()">
                    <i class="fal fa-plus-square"></i> {{'COMMON.default.add' |translate}}
                  </button>
                  <button class="btn btn-outline-primary mr-3" style="float:right" (click)="getDoiTuongTram()">
                    <i class="far fa-sync-alt"></i> {{'COMMON.default.load' |translate}}
                  </button>
                </h3>
              </div>
              <div class="card-body">
                <div class="group-layer-detail" *ngIf="doiTuongTram !== undefined">
                  <div class="row mx-0">
                    <label
                      class="col-sm-3 col-form-label text-right">{{'THIETLAP.thietlaptram.otypeName' | translate}}</label>
                    <label class="col-sm-9 col-form-label"><strong>{{ doiTuongTram.otypeName }}</strong></label>
                  </div>
                  <div class="row mx-0">
                    <label
                      class="col-sm-3 col-form-label text-right">{{'THIETLAP.thietlaptram.otypeKey' | translate}}</label>
                    <label class="col-sm-9 col-form-label"><strong>{{ doiTuongTram.otypeKey }}</strong></label>
                  </div>
                  <div class="row mx-0">
                    <label
                      class="col-sm-3 col-form-label text-right">{{'THIETLAP.thietlaptram.otypeCat' | translate}}</label>
                    <label class="col-sm-9 col-form-label"><strong>{{ doiTuongTram.otypeCat }}</strong></label>
                  </div>
                </div>

                <ejs-grid #grid [dataSource]="listThietLapDoiTuongTram" *ngIf="listThietLapDoiTuongTram"
                  [editSettings]="settingsCommon.editSettings" [allowPaging]="true" [allowSorting]="true"
                  [pageSettings]="settingsCommon.pageSettings" [toolbar]="settingsCommon.toolbar" class="table-striped"
                  [allowResizing]="true">
                  <e-columns>
                    <e-column field="serialNumber" headerText="{{'COMMON.default.numericalOrder' | translate}}">
                    </e-column>
                    <e-column field="otypeKey" headerText="{{'THIETLAP.doituongthietlap.otypeKey' | translate}}">
                    </e-column>
                    <e-column field="optKey" headerText="{{'THIETLAP.doituongthietlap.optKey' | translate}}"></e-column>
                    <e-column field="optName" headerText="{{'THIETLAP.doituongthietlap.optName' | translate}}">
                    </e-column>
                    <e-column field="optTitle" headerText="{{'THIETLAP.doituongthietlap.optTitle' | translate}}">
                    </e-column>
                    <e-column field="optOrder" headerText="{{'THIETLAP.doituongthietlap.optOrder' | translate}}">
                    </e-column>
                    <e-column field="optType" headerText="{{'THIETLAP.doituongthietlap.optType' | translate}}">
                    </e-column>
                    <e-column field="id" headerText="{{'COMMON.default.action' | translate}}">
                      <ng-template #template let-data>
                        <div class="btn-group">
                          <button class="btn btn-sm btn-primary " title="{{'COMMON.default.edit' |translate}}"
                            (click)="editItemDoiTuongTram(data)">
                            <i class="far fa-edit"></i>
                          </button>
                          <button class="btn btn-sm btn-danger" [disabled]="checkdeleted(data.optKey)"
                            title="{{'COMMON.default.delete' |translate}}" (click)="deleteItem(data)">
                            <i class="far fa-trash"></i>
                          </button>
                        </div>
                      </ng-template>
                    </e-column>
                  </e-columns>
                </ejs-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
      <mat-sidenav #aside [fixedInViewport]="true" [fixedTopGap]="50" class="aside" position="end"
        style="width: 600px;">
        <div class="p-2 pl-3 bg-primary text-white mat-sidenav-title fixed-top">
          <button class="btn btn-sm btn-light" (click)="closeDoiTuongTramIOSidebar()">
            <i class="fad fa-chevron-double-right"></i>
          </button>
          <span style="vertical-align: middle;"
            class="ml-3 mat-sidenav-title-text">{{ matSidenavService.sidenavTitle }}</span>
        </div>
        <template #compDoiTuongTramio> </template>
      </mat-sidenav>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>