<div class="card border mt-3">
  <div class="card-header">
    <h3>
      <div class="row">
        <div class="col-md-4 mb-sm-1">
          <span class="title">{{ "DANGKYHOATDONGKHOANGSAN.dangkythamdodvhc.titleList" | translate }}</span>
        </div>
        <div class="col-md-8">
          <button class="btn btn-primary mb-sm-1" style="float: right;" (click)="openDangKyThamDoDvhcIOSidenav()">
            <i class="fal fa-plus-square"></i>
            {{ "COMMON.default.add" | translate }}
          </button>
          <button class="btn btn-outline-primary mr-2" style="float: right;" (click)="reloadDataGrid()">
            <i class="far fa-sync-alt"></i>
            {{ "COMMON.default.load" | translate }}
          </button>
        </div>
      </div>
    </h3>
  </div>
  <div class="card-body">
    <ejs-grid #gridDangKyThamDoDvhc *ngIf="listDangKyThamDoDvhc" [dataSource]="listDangKyThamDoDvhc"
      [editSettings]="settingsCommon.editSettings" [allowPaging]="true" [allowSorting]="true"
      [pageSettings]="settingsCommon.pageSettings" [toolbar]="settingsCommon.toolbar" class="table-striped"
      [allowResizing]="true">
      <e-columns>
        <e-column field="serialNumber" headerText="{{ 'COMMON.default.numericalOrder' | translate }}"></e-column>
        <e-column field="tenTinh" headerText="{{ 'DANGKYHOATDONGKHOANGSAN.dangkythamdodvhc.tentinh' | translate }}"></e-column>
        <e-column field="tenHuyen" headerText="{{ 'DANGKYHOATDONGKHOANGSAN.dangkythamdodvhc.tenhuyen' | translate }}"></e-column>
        <e-column field="tenXa" headerText="{{ 'DANGKYHOATDONGKHOANGSAN.dangkythamdodvhc.tenxa' | translate }}"></e-column>
        <e-column field="idthamdodvhc" isPrimaryKey='true' headerText="{{ 'COMMON.default.action' | translate }}">
          <ng-template #template let-data>
            <div class="btn-group">
              <button class="btn btn-sm btn-primary" title="{{ 'COMMON.default.edit' | translate }}"
                (click)="editItemDangKyThamDoDvhc(data.idthamdodvhc)">
                <i class="far fa-edit"></i>
              </button>
              <button class="btn btn-sm btn-danger" title="{{ 'COMMON.default.delete' | translate }}"
                (click)="deleteItemDangKyThamDoDvhc(data)">
                <i class="far fa-trash"></i>
              </button>
            </div>
          </ng-template>
        </e-column>
      </e-columns>
    </ejs-grid>
  </div>
</div>

