<app-sub-header [menuItems]="navArray" [buttonItems]="btnArray"></app-sub-header>
<div class="content pt-3">
  <mat-sidenav-container class="sidenav-container" hasBackdrop="false">
    <mat-sidenav-content>
      <div class="container-fluid">
        <!-- <div class="row">
          <div class="col-12 px-0"> -->
            <div class="card border">
              <div class="card-header">
                <h3>
                  <span class="title" *ngIf="currentAction === ActionType.Add">
                    {{ 'CAPPHEPHOATDONGKHOANGSAN.cappheptralaigiayphepthamdokhaithackhoangsan.titleAdd' | translate}}
                  </span>
                  <span class="title" *ngIf="currentAction === ActionType.Edit">
                    {{ 'CAPPHEPHOATDONGKHOANGSAN.cappheptralaigiayphepthamdokhaithackhoangsan.titleEdit' | translate}}
                  </span>
                </h3>
              </div>
              <div class="card-body">
                <mat-tab-group mat-stretch-tabs #capPhepTraLaiGiayPhepThamDoKhaiThacKhoanSanTabs [animationDuration]=""  [selectedIndex]="TabType.ThongTinGiayPhep"
                  (selectedIndexChange)="tabChange($event)">
                  <mat-tab [disabled]="!disabledTabState[TabType.ThongTinGiayPhep]" label="{{ 'CAPPHEPHOATDONGKHOANGSAN.cappheptralaigiayphepthamdokhaithackhoangsan.thongTinCapPhepTabTitle' | translate }}">
                    <app-quyetdinh-io  [disabled]="!disabledTabState[TabType.ThongTinGiayPhep]" label="{{ 'CAPPHEPHOATDONGKHOANGSAN.cappheptralaigiayphepthamdokhaithackhoangsan.thongTinCapPhepTabTitle' | translate }}"
                        [nhomLoaiCapPhep]="nhomLoaiCapPhepEnum.TraLaiGiayPhep"
                        [insertedState]="insertedState.SaveAndEdit" [allowAutoInit]="false" (selectCurrentFormStateEvent)="getGiayPhepIoFormState($event)"
                        (selectNewInsertedGiayPhepEvent)="getIdGiayPhep($event)" #giayPhepIOComp>
                    </app-quyetdinh-io>
                  </mat-tab>
                  <mat-tab [disabled]="!disabledTabState[TabType.TaiLieuGiayPhepDinhKem]" label="{{ 'CAPPHEPHOATDONGKHOANGSAN.cappheptralaigiayphepthamdokhaithackhoangsan.taiLieuDinhKemCapPhepTabTile' | translate }}">
                    <app-giaypheptailieu-list [disabledMatsidenav]="true" #taiLieuListComp [allowAutoInit]="false">
                    </app-giaypheptailieu-list>
                  </mat-tab>
                  <mat-tab *ngIf="showTabThongTin" [disabled]="!disabledTabState[TabType.ThongTinCapPhep]" label="{{ 'CAPPHEPHOATDONGKHOANGSAN.cappheptralaigiayphepthamdokhaithackhoangsan.thongTinCapPhepTabTitle' | translate }}">
                    <app-thongtindangky #thongTinDangKyComp [allowAutoInit]="false" ></app-thongtindangky>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
          <!-- </div>
        </div> -->
      </div>
      <mat-sidenav #aside [fixedInViewport]="true" [fixedTopGap]="50" class="aside" position="end"
        style="width: 700px;">
        <div class="p-2 pl-3 bg-primary text-white mat-sidenav-title fixed-top">
          <button class="btn btn-sm btn-light" (click)="closeIOSidenav()">
            <i class="fad fa-chevron-double-right"></i>
          </button>
          <span style="vertical-align: middle;"
            class="ml-3 mat-sidenav-title-text">{{ matSidenavService.sidenavTitle }}</span>
        </div>
        <template #compio> </template>
      </mat-sidenav>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

