<div class="pt-5 pl-2 pr-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 px-0">
        <div class="card border">
          <div class="card-body">
            <h4>{{ 'COMMON.default.timkiemnangcao' | translate }}:</h4>
            <div class="row" [formGroup]="formSearch">
              <div class="col-lg-2 col-md-2 col-sm-2"><label class="col-form-label">{{"COMMON.default.key" | translate}}:</label></div>
              <div class="col-lg-5 col-md-7 col-sm-8 form-group">
                <input type="text" formControlName="Keyword" class="form-control" placeholder="{{'COMMON.default.keyPlaceholder' | translate}}">
              </div>
              <div class="col-lg-5 col-md-5 col-sm-3 form-group d-flex" style="align-items: flex-end;">
                <div>
                <button class="btn btn-success" (click)="searchAdvance()">
                  {{"COMMON.default.search" | translate}}
                </button>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 px-0">
        <div class="card border">
          <div class="card-header">
            <h3>
              <div class="row">
                <div class="col-md-4 mb-sm-1">
                  <span class="title">{{ "DANHMUC.canhan.titleList" | translate }}</span>
                </div>
                <div class="col-md-8">
                  <button class="btn btn-outline-primary mr-2" style="float: right;" (click)="reloadDataGrid()">
                    <i class="far fa-sync-alt"></i>
                    {{ "COMMON.default.load" | translate }}
                  </button>
                </div>
              </div>
            </h3>
          </div>
          <div class="card-body" >
            <ejs-grid #gridCaNhan *ngIf="listCanhan" [dataSource]="listCanhan" [allowSelection]="true" height="400px"
              [editSettings]="settingsCommon.editSettings" [allowPaging]="true" [allowSorting]="true" [allowTextWrap]="true" [textWrapSettings]='wrapSettings' [pageSettings]="settingsCommon.pageSettings" class="table-striped" [allowResizing]="true">
              <e-columns>
                <e-column field="serialNumber" headerText="{{ 'COMMON.default.numericalOrder' | translate }}"></e-column>
                <e-column field="hovaten" headerText="{{ 'DANHMUC.canhan.hovaten' | translate }}"></e-column>
                <e-column field="sogiayto" headerText="{{ 'DANHMUC.canhan.sogiayto' | translate }}"></e-column>
                <e-column field="diachi" headerText="{{ 'DANHMUC.canhan.diachi' | translate }}"></e-column>
                <e-column field="idcanhan" isPrimaryKey='true' headerText="{{ 'COMMON.default.action' | translate }}">
                  <ng-template #template let-data>
                    <div class="btn-group">
                      <button class="btn btn-sm btn-primary" title="{{ 'COMMON.default.select' | translate }}"
                      (click)="selectItemCaNhan(data.idcanhan)">
                        <i class="far fa-plus-square"></i>
                      </button>
                    </div>
                  </ng-template>
                </e-column>
              </e-columns>
            </ejs-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
