<div class="pt-3" style="width: 510px !important;">
  <form [formGroup]="createForm" class="pt-toolbar">
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right"
        >{{ "MAP.projection.projectionName" | translate }}:</label
      >
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="prjName" />
        <span *ngIf="formErrors.prjName" class="alert-danger">{{
          formErrors.prjName
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right"
        >{{ "MAP.projection.srid" | translate }}:</label
      >
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="srid" />
        <span *ngIf="formErrors.srid" class="alert-danger">{{
          formErrors.srid
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right"
        >{{ "MAP.projection.proj4Params" | translate }}:</label
      >
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="proj4Params" />
        <span *ngIf="formErrors.proj4Params" class="alert-danger">{{
          formErrors.proj4Params
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right"
        >{{ "MAP.projection.extent" | translate }}:</label
      >
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="extent" />
        <span *ngIf="formErrors.extent" class="alert-danger">{{
          formErrors.extent
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right"
        >{{ "MAP.projection.status" | translate }}:
      </label>
      <div class="col-sm-9">
        <mat-select
          placeholder="{{ 'MAP.projection.statusPlaceHolder' | translate }}"
          class="form-control"
          formControlName="status"
        >
          <mat-select-filter
            [displayMember]="'name'"
            [array]="projectionStatus"
          ></mat-select-filter>
          <mat-option
            *ngFor="let layerStt of projectionStatus"
            [value]="layerStt.index"
          >
            {{ layerStt.name }}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.status" class="alert-danger">{{
          formErrors.status
        }}</span>
      </div>
    </div>

    <div class="toolbar-container py-2">
      <div class="function-toolbar">
        <div class="form-group row mx-0">
          <div class="col-12">
            <button class="btn btn-primary float-right" (click)="onSubmit()">
              <i class="far fa-save"></i>
              {{ "COMMON.default.saveAndClose" | translate }}
            </button>
            <button
              class="btn btn-outline-primary float-right mr-3"
              *ngIf="purpose === 'new'"
              (click)="onContinueAdd()"
            >
              <i class="far fa-download"></i>
              {{ "COMMON.default.saveAndRefresh" | translate }}
            </button>
            <button
              class="btn btn-outline-info float-right mr-3"
              (click)="onFormReset()"
            >
              <i class="far fa-sync-alt"></i>
              {{ "COMMON.default.refresh" | translate }}
            </button>
            <button
              class="btn btn-danger float-right mr-3"
              (click)="closeIOSidebar()"
            >
              <i class="far fa-times-circle"></i>
              {{ "COMMON.default.cancel" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <ng-template #detailInfo> </ng-template>
</div>
