<div class="pt-3" style="width: 510px !important;">
  <form [formGroup]="createForm" class="pt-toolbar">
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right"
        >{{ "MAP.layer.showTitle" | translate }}:</label
      >
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="layerTitle" />
        <span *ngIf="formErrors.layerTitle" class="alert-danger">{{
          formErrors.layerTitle
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right"
        >{{ "MAP.layer.opacity" | translate }}:</label
      >
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="opacity" />
        <span *ngIf="formErrors.opacity" class="alert-danger">{{
          formErrors.opacity
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right"
        >{{ "MAP.layer.description" | translate }}:</label
      >
      <div class="col-sm-9">
        <ckeditor
          formControlName="description"
          [editor]="Editor"
          [config]="{ enterMode: 2, shiftEnterMode: 1 }"
        >
        </ckeditor>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right"
        >{{ "MAP.layer.extentMinx" | translate }}:</label
      >
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="extentMinx" />
        <span *ngIf="formErrors.extentMinx" class="alert-danger">{{
          formErrors.extentMinx
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right"
        >{{ "MAP.layer.extentMaxx" | translate }}:</label
      >
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="extentMaxx" />
        <span *ngIf="formErrors.extentMaxx" class="alert-danger">{{
          formErrors.extentMaxx
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right"
        >{{ "MAP.layer.extentMiny" | translate }}:</label
      >
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="extentMiny" />
        <span *ngIf="formErrors.extentMiny" class="alert-danger">{{
          formErrors.extentMiny
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right"
        >{{ "MAP.layer.extentMaxy" | translate }}:</label
      >
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="extentMaxy" />
        <span *ngIf="formErrors.extentMaxy" class="alert-danger">{{
          formErrors.extentMaxy
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right"
        >{{ "MAP.layer.layerStatus" | translate }}:
      </label>
      <div class="col-sm-9">
        <mat-select
          placeholder="{{ 'MAP.layer.layerStatusPlaceholder' | translate }}"
          class="form-control"
          formControlName="status"
        >
          <mat-select-filter
            [displayMember]="'name'"
            [array]="layerStatus"
          ></mat-select-filter>
          <mat-option
            *ngFor="let layerStt of layerStatus"
            [value]="layerStt.index"
          >
            {{ layerStt.name }}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.status" class="alert-danger">{{
          formErrors.status
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right"
        >{{ "MAP.layer.baseLayer" | translate }}:
      </label>
      <div class="col-sm-9">
        <mat-slide-toggle
          class="example-margin"
          formControlName="baselayer"
        ></mat-slide-toggle>
        <span *ngIf="formErrors.baselayer" class="alert-danger">{{
          formErrors.baselayer
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right"
        >{{ "MAP.layer.minResolution" | translate }}:</label
      >
      <div class="col-sm-9">
        <input
          class="form-control"
          type="text"
          formControlName="minResolution"
        />
        <span *ngIf="formErrors.minResolution" class="alert-danger">{{
          formErrors.minResolution
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right"
        >{{ "MAP.layer.maxResolution" | translate }}:</label
      >
      <div class="col-sm-9">
        <input
          class="form-control"
          type="text"
          formControlName="maxResolution"
        />
        <span *ngIf="formErrors.maxResolution" class="alert-danger">{{
          formErrors.maxResolution
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right"
        >{{ "MAP.layer.queryFieldName" | translate }}:</label
      >
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="fieldsInfo" />
        <span *ngIf="formErrors.fieldsInfo" class="alert-danger">{{
          formErrors.fieldsInfo
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right"
        >{{ "MAP.layer.labelFieldName" | translate }}:</label
      >
      <div class="col-sm-9">
        <input
          class="form-control"
          type="text"
          formControlName="fieldsDisplay"
        />
        <span *ngIf="formErrors.fieldsDisplay" class="alert-danger">{{
          formErrors.fieldsDisplay
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right"
        >{{ "MAP.layer.dataFormatReturn" | translate }}:</label
      >
      <div class="col-sm-9">
        <input
          class="form-control"
          type="text"
          formControlName="fieldsInfoFormat"
        />
        <span *ngIf="formErrors.fieldsInfoFormat" class="alert-danger">{{
          formErrors.fieldsInfoFormat
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right"
        >{{ "MAP.layer.fieldsInfoTemplate" | translate }}:</label
      >
      <div class="col-sm-9">
        <textarea
          class="form-control"
          formControlName="fieldsInfoTemplate"
        ></textarea>
        <span *ngIf="formErrors.fieldsInfoTemplate" class="alert-danger">{{
          formErrors.fieldsInfoTemplate
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right"
        >{{ "MAP.layer.otherSettings" | translate }}:</label
      >
      <div class="col-sm-9">
        <textarea
          class="form-control"
          formControlName="moreSettings"
        ></textarea>
        <span *ngIf="formErrors.moreSettings" class="alert-danger">{{
          formErrors.moreSettings
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right"
        >{{ "MAP.layer.tocDisplay" | translate }}:
      </label>
      <div class="col-sm-9">
        <mat-slide-toggle class="example-margin" formControlName="tocDisplay">
        </mat-slide-toggle>
        <span *ngIf="formErrors.tocDisplay" class="alert-danger">{{
          formErrors.tocDisplay
        }}</span>
      </div>
    </div>
    <div class="toolbar-container py-2">
      <div class="function-toolbar">
        <div class="form-group row mx-0">
          <div class="col-12">
            <button class="btn btn-primary float-right" (click)="onSubmit()">
              <i class="far fa-save"></i
              >{{ "COMMON.default.saveAndClose" | translate }}
            </button>
            <button
              class="btn btn-outline-info float-right mr-3"
              (click)="onFormReset()"
            >
              <i class="far fa-sync-alt"></i>
              {{ "COMMON.default.refresh" | translate }}
            </button>
            <button
              class="btn btn-danger float-right mr-3"
              (click)="closeIOSidebar()"
            >
              <i class="far fa-times-circle"></i>
              {{ "COMMON.default.cancel" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <ng-template #detailInfo> </ng-template>
</div>
