<div class="pt-3">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
      <div class="card border">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
              <h4>
                <span class="title font-weight-bold">
                  {{ 'HOSOGIAYTO.giayphep.thongTinQuyetDinhTitle' | translate}}
                </span>
              </h4>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <button class="btn btn-primary mb-sm-1" *ngIf="currentAction === ActionType.Add || currentAction === ActionType.Edit" style="float: right;" (click)="saveItemGiayPhep()">
                <i class="fal fa-save"></i>
                {{ "COMMON.default.save" | translate }}
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="giayPhepIOForm">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <h5>
                      <span class="title font-weight-bold">
                        {{ 'HOSOGIAYTO.giayphep.thongTinQuyetDinhTinhTienCapQuyenTitle' | translate}}
                      </span>
                    </h5>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"HOSOGIAYTO.giayphep.loaicapphep" | translate}}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8" *ngIf="!disabledLoaiCapPhepSelectionState">
                    <mat-select class="form-control" placeholder="{{ 'HOSOGIAYTO.giayphep.chonloaicapphep' | translate }}" formControlName="loaicapphep"
                      *ngIf="dataTranslate" (selectionChange)="selectItemLoaiCapPhepChange($event)">
                      <mat-select-filter [displayMember]="'tenloaicapphep'" [array]="loaiCapPhepFilters" (filteredReturn)="loaiCapPhepList = $event">
                      </mat-select-filter>
                      <mat-option value="">
                        {{ "HOSOGIAYTO.giayphep.chonloaicapphep" | translate }}
                      </mat-option>
                      <mat-option *ngFor="let loaiCapPhep of loaiCapPhepList" [value]="loaiCapPhep.maloaicapphep">
                        {{ loaiCapPhep.tenloaicapphep }}
                      </mat-option>
                    </mat-select>
                    <span *ngIf="formErrors.loaicapphep" class="alert-danger">{{formErrors.loaicapphep}}</span>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 font-weight-bold" style="padding-top: 9px;" *ngIf="disabledLoaiCapPhepSelectionState">
                    {{tenLoaiCapPhep}}
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.giayphep.sogiayphep" | translate }}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <mat-select class="form-control" formControlName="idgiayphepls" (selectionChange)="selectItemGiayPhepLichSuChange($event)"
                      *ngIf="dataTranslate" [displayMember]="'sogiayphep'" placeholder="{{'HOSOGIAYTO.giayphep.chongiayphep' | translate}}">
                      <mat-option value="">
                        {{ "HOSOGIAYTO.giayphep.chongiayphep" | translate }}
                      </mat-option>
                      <mat-option *ngFor="let giayPhep of giayPhepLichSuList" [value]="giayPhep.idgiayphep">
                        {{ giayPhep.sogiayphep }}
                      </mat-option>
                    </mat-select>
                    <span *ngIf="formErrors.idgiayphepls" class="alert-danger">{{formErrors.idgiayphepls}}</span>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2">
                    <button class="btn btn-primary mb-sm-1" style="float: right;" (click)="openGiayPhepLichSuIOSidenav()">
                      <i class="fal fa-plus-square"></i>
                      {{ "COMMON.default.select" | translate }}
                    </button>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.giayphep.soquyetdinh" | translate }}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" type="text" formControlName="sogiayphep" placeholder="{{'HOSOGIAYTO.giayphep.soquyetdinhpPlaceholder' | translate}}" />
                    <span *ngIf="formErrors.sogiayphep" class="alert-danger">{{formErrors.sogiayphep}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.giayphep.loaivanban" | translate }}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <mat-select class="form-control" formControlName="loaivanban"
                      *ngIf="dataTranslate" [displayMember]="'name'" placeholder="{{'HOSOGIAYTO.giayphep.chonloaivanban' | translate}}">
                      <mat-option value="">
                        {{ "HOSOGIAYTO.giayphep.chonloaivanban" | translate }}
                      </mat-option>
                      <mat-option *ngFor="let loaiVanBan of loaiVanBanList" [value]="loaiVanBan.id">
                        {{ loaiVanBan.name }}
                      </mat-option>
                    </mat-select>
                    <span *ngIf="formErrors.loaivanban" class="alert-danger">{{formErrors.loaivanban}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"HOSOGIAYTO.giayphep.ngayquyetdinh" | translate}}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8 ">
                      <div class="d-flex">
                          <input class="form-control mr-2" formControlName="ngaycapphep"
                              [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"
                              placeholder="{{'HOSOGIAYTO.giayphep.ngayquyetdinhPlaceholder' | translate}}" />
                              <span [owlDateTimeTrigger]="dt1" style="cursor: pointer;"
                              class="btn btn-outline-secondary"><i class="fa fa-calendar"></i></span>
                          <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                      </div>
                      <span *ngIf="formErrors.ngaycapphep" class="alert-danger">{{formErrors.ngaycapphep}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"HOSOGIAYTO.giayphep.coquanquyetdinh" | translate}}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <mat-select class="form-control" placeholder="{{ 'HOSOGIAYTO.giayphep.choncoquanquyetdinh' | translate }}" formControlName="idcoquancapphep"
                      *ngIf="dataTranslate">
                      <mat-select-filter [displayMember]="'tencoquanquanly'" [array]="coQuanCapPhepFilters" (filteredReturn)="allCoQuanCapPhep = $event">
                      </mat-select-filter>
                      <mat-option value="">
                        {{ "HOSOGIAYTO.giayphep.choncoquanquyetdinh" | translate }}
                      </mat-option>
                      <mat-option *ngFor="let coQuanCapPhep of allCoQuanCapPhep" [value]="coQuanCapPhep.idcoquanquanly">
                        {{ coQuanCapPhep.tencoquanquanly }}
                      </mat-option>
                    </mat-select>
                    <span *ngIf="formErrors.idcoquancapphep" class="alert-danger">{{formErrors.idcoquancapphep}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.giayphep.tennguoiky" | translate }}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" type="text" formControlName="tennguoiky" placeholder="{{'HOSOGIAYTO.giayphep.tennguoikyPlaceholder' | translate}}" />
                    <span *ngIf="formErrors.tennguoiky" class="alert-danger">{{formErrors.tennguoiky}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.giayphep.chucvunguoiky" | translate }}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" type="text" formControlName="chucvunguoiky" placeholder="{{'HOSOGIAYTO.giayphep.chucvunguoikyPlaceholder' | translate}}" />
                    <span *ngIf="formErrors.chucvunguoiky" class="alert-danger">{{formErrors.chucvunguoiky}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.giayphep.ghichu" | translate }}
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" type="text" formControlName="ghichu" placeholder="{{'HOSOGIAYTO.giayphep.ghichuPlaceholder' | translate}}" />
                    <span *ngIf="formErrors.ghichu" class="alert-danger">{{formErrors.ghichu}}</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <h5>
                      <span class="title font-weight-bold">
                        {{ 'HOSOGIAYTO.giayphep.thongTinCaNhanToChucTitle' | translate}}
                      </span>
                    </h5>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"HOSOGIAYTO.giayphep.loaidoituong" | translate}}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <mat-select class="form-control" [disabled]= "disabledLoaiDoiTuong" formControlName="loaidoituong" (selectionChange)="selectItemLoaiDoiTuongChange()"
                      *ngIf="dataTranslate">
                      <mat-option *ngFor="let loaiDoiTuong of loaiDoiTuongList" [value]="loaiDoiTuong.id">
                        {{ loaiDoiTuong.name }}
                      </mat-option>
                    </mat-select>
                    <span *ngIf="formErrors.loaidoituong" class="alert-danger">{{formErrors.loaidoituong}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.giayphep.tencanhantochuc" | translate }}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <input class="form-control" type="text" formControlName="tencanhantochuc" placeholder="{{'HOSOGIAYTO.giayphep.tencanhantochucPlaceholder' | translate}}" />
                    <span *ngIf="formErrors.tencanhantochuc || formErrors.idcanhantochuc" class="alert-danger">{{formErrors.tencanhantochuc ? formErrors.tencanhantochuc : formErrors.idcanhantochuc}}</span>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2">
                    <button class="btn btn-primary mb-sm-1" *ngIf="!disabledLoaiDoiTuong" style="float: right;" (click)="openCaNhanToChucIOSidenav()">
                      <i class="fal fa-plus-square"></i>
                      {{ "COMMON.default.select" | translate }}
                    </button>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"HOSOGIAYTO.giayphep.loaigiayto" | translate}}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <mat-select class="form-control" placeholder="{{ 'HOSOGIAYTO.giayphep.chonloaigiayto' | translate }}" formControlName="loaigiaytoDisplay"
                      *ngIf="dataTranslate">
                      <mat-select-filter [displayMember]="'name'" [array]="loaiGiayToFilters" (filteredReturn)="loaiGiayToList = $event">
                      </mat-select-filter>
                      <mat-option value="">
                        {{ "HOSOGIAYTO.giayphep.chonloaigiayto" | translate }}
                      </mat-option>
                      <mat-option *ngFor="let loaiGiayTo of loaiGiayToList" [value]="loaiGiayTo.id">
                        {{ loaiGiayTo.name }}
                      </mat-option>
                    </mat-select>
                    <span *ngIf="formErrors.loaigiayto" class="alert-danger">{{formErrors.loaigiayto}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.giayphep.sogiayto" | translate }}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" type="text" formControlName="sogiaytoDisplay" placeholder="{{'HOSOGIAYTO.giayphep.sogiaytoPlaceholder' | translate}}" />
                    <span *ngIf="formErrors.sogiayto" class="alert-danger">{{formErrors.sogiayto}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"HOSOGIAYTO.giayphep.ngaycap" | translate}}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" formControlName="ngaycapDisplay" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" placeholder="{{'HOSOGIAYTO.giayphep.ngaycapPlaceholder' | translate}}" />
                    <owl-date-time #dt4 [pickerType]="'calendar'"></owl-date-time>
                    <span *ngIf="formErrors.ngaycap" class="alert-danger">{{formErrors.ngaycap}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.giayphep.noicap" | translate }}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" type="text" formControlName="noicapDisplay" placeholder="{{'HOSOGIAYTO.giayphep.noicapPlaceholder' | translate}}" />
                    <span *ngIf="formErrors.noicap" class="alert-danger">{{formErrors.noicap}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.giayphep.diachi" | translate }}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" type="text" formControlName="diachiDisplay" placeholder="{{'HOSOGIAYTO.giayphep.diachiPlaceholder' | translate}}" />
                    <span *ngIf="formErrors.diachi" class="alert-danger">{{formErrors.diachi}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.giayphep.dienthoai" | translate }}
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" type="text" formControlName="dienthoai" placeholder="{{'HOSOGIAYTO.giayphep.dienthoaiPlaceholder' | translate}}" />
                    <span *ngIf="formErrors.dienthoai" class="alert-danger">{{formErrors.dienthoai}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.giayphep.fax" | translate }}
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" type="text" formControlName="fax" placeholder="{{'HOSOGIAYTO.giayphep.faxPlaceholder' | translate}}" />
                    <span *ngIf="formErrors.fax" class="alert-danger">{{formErrors.fax}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.giayphep.email" | translate }}
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" type="text" formControlName="email" placeholder="{{'HOSOGIAYTO.giayphep.emailPlaceholder' | translate}}" />
                    <span *ngIf="formErrors.email" class="alert-danger">{{formErrors.email}}</span>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "HOSOGIAYTO.giayphep.website" | translate }}
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" type="text" formControlName="website" placeholder="{{'HOSOGIAYTO.giayphep.websitePlaceholder' | translate}}" />
                    <span *ngIf="formErrors.website" class="alert-danger">{{formErrors.website}}</span>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <mat-sidenav #aside [fixedInViewport]="true" [fixedTopGap]="50" class="aside" position="end"
        style="width: 700px;">
        <div class="p-2 pl-3 bg-primary text-white mat-sidenav-title fixed-top">
          <button class="btn btn-sm btn-light" (click)="closeIOSidenav()">
            <i class="fad fa-chevron-double-right"></i>
          </button>
          <span style="vertical-align: middle;"
            class="ml-3 mat-sidenav-title-text">{{ matSidenavService.sidenavTitle }}</span>
        </div>
        <template #compio> </template>
      </mat-sidenav>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>

