<div class="pt-3">
  <form *ngIf="editMode" [formGroup]="thietLapDoiTuongIOForm" class="pt-toolbar">
    <div class="form-group row mx-0 d-none">
      <label class="col-sm-4 col-form-label text-right">{{'THIETLAP.doituongthietlap.otypeKey' | translate}} </label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="{{'THIETLAP.doituongthietlap.otypeKeyPlaceholder' | translate}}"
          type="text" formControlName="otypeKey" />
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{'THIETLAP.doituongthietlap.optKey' | translate}}
        <small>(*)</small> </label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="{{'THIETLAP.doituongthietlap.optKeyPlaceholder' | translate}}"
          type="text" formControlName="optKey" />
        <span *ngIf="formErrors.optKey" class="alert-danger">{{formErrors.optKey}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{'THIETLAP.doituongthietlap.optName' | translate}}
        <small>(*)</small></label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="{{'THIETLAP.doituongthietlap.optNamePlaceholder' | translate}}"
          type="text" formControlName="optName" />
        <span *ngIf="formErrors.optName" class="alert-danger">{{formErrors.optName}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{'THIETLAP.doituongthietlap.optTitle' | translate}}
        <small>(*)</small></label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="{{'THIETLAP.doituongthietlap.optTitlePlaceholder' | translate}}"
          type="text" formControlName="optTitle" />
        <span *ngIf="formErrors.optTitle" class="alert-danger">{{formErrors.optTitle}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{'THIETLAP.doituongthietlap.optOrder' | translate}}
        <small>(*)</small></label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="{{'THIETLAP.doituongthietlap.optOrderPlaceholder' | translate}}"
          type="text" formControlName="optOrder" />
        <span *ngIf="formErrors.optOrder" class="alert-danger">{{formErrors.optOrder}}</span>
        <span *ngIf="errorOrder" class="alert-danger">{{errorOrder}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{'THIETLAP.doituongthietlap.optType' | translate}}
        <small>(*)</small></label>
      <div class="col-sm-8">
        <mat-select *ngIf="dataTranslate" class="form-control" formControlName="optType">
          <mat-option value="">
            {{'THIETLAP.doituongthietlap.chooseOptType' | translate}}
          </mat-option>
          <mat-option value="String"> String </mat-option>
          <mat-option value="Number"> Number </mat-option>
          <mat-option value="Combobox"> Select </mat-option>
          <mat-option value="Date"> Date </mat-option>
          <mat-option value="Textarea"> Textarea </mat-option>
          <mat-option value="Slider"> Slide </mat-option>
        </mat-select>
        <span *ngIf="formErrors.optType" class="alert-danger">{{formErrors.optType}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{'THIETLAP.doituongthietlap.isNull' | translate}}</label>
      <div class="col-sm-8">
        <mat-slide-toggle class="example-margin p-1" formControlName="isNull"
          [disabled]="thietLapDoiTuongIOForm.value.nullValidate === true">
          {{thietLapDoiTuongIOForm.value.isNull ? thietLapDoiTuongIOForm.value.isNull === true? 'Có' : 'Không' : 'Không'}}
        </mat-slide-toggle>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{'THIETLAP.doituongthietlap.typeValidate' | translate}}</label>
      <div class="col-sm-8">
        <mat-slide-toggle class="example-margin p-1" formControlName="typeValidate">
          {{thietLapDoiTuongIOForm.value.typeValidate ? thietLapDoiTuongIOForm.value.typeValidate === true? 'Có' : 'Không' : 'Không'}}
        </mat-slide-toggle>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{'THIETLAP.doituongthietlap.nullValidate' | translate}}</label>
      <div class="col-sm-8">
        <mat-slide-toggle class="example-margin p-1" formControlName="nullValidate"
          [disabled]="thietLapDoiTuongIOForm.value.isNull === true">
          {{thietLapDoiTuongIOForm.value.nullValidate ? thietLapDoiTuongIOForm.value.nullValidate === true? 'Có' : 'Không' : 'Không'}}
        </mat-slide-toggle>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{'THIETLAP.doituongthietlap.isEnable' | translate}}</label>
      <div class="col-sm-8">
        <mat-slide-toggle class="example-margin p-1" formControlName="isEnable">
          {{thietLapDoiTuongIOForm.value.isEnable ? thietLapDoiTuongIOForm.value.isEnable === true? 'Hoạt động' : 'Không hoạt động' : 'Không hoạt động'}}
        </mat-slide-toggle>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{'THIETLAP.doituongthietlap.inList' | translate}}</label>
      <div class="col-sm-8">
        <mat-slide-toggle class="example-margin p-1" formControlName="inList">
          {{thietLapDoiTuongIOForm.value.inList ? thietLapDoiTuongIOForm.value.inList === true? 'Có' : 'Không' : 'Không'}}
        </mat-slide-toggle>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{'THIETLAP.doituongthietlap.inIo' | translate}}</label>
      <div class="col-sm-8">
        <mat-slide-toggle class="example-margin p-1" formControlName="inIo">
          {{thietLapDoiTuongIOForm.value.inIo ? thietLapDoiTuongIOForm.value.inIo === true? 'Có' : 'Không' : 'Không'}}
        </mat-slide-toggle>
      </div>
    </div>
    <div class="toolbar-container py-2">
      <div class="function-toolbar">
        <div class="form-group row mx-0">
          <div class="col-12">
            <button class="btn btn-primary float-right" (click)="onSubmit(purpose)">
              <i class="far fa-save"></i> {{'COMMON.default.saveAndClose' |translate}}
            </button>
            <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose === 'new'"
              (click)="onContinueAdd(purpose)">
              <i class="far fa-download"></i> {{'COMMON.default.saveAndRefresh' |translate}}
            </button>
            <button class="btn btn-outline-info float-right mr-3" *ngIf="purpose === 'new'" (click)="onFormReset()">
              <i class="far fa-sync-alt"></i> {{'COMMON.default.refresh' |translate}}
            </button>
            <button class="btn btn-danger float-right mr-3" (click)="closeThietLapTramIOSidebar()">
              <i class="far fa-times-circle"></i> {{'COMMON.default.cancel' |translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>