<div class="pt-3 pb-4">
    <form [formGroup]="cpKhaiThacLoaiKhoangSanIOForm" class="pt-toolbar">
      <div class="form-group row mx-0">
        <label
          class="col-sm-3 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.capphepthamdoloaikhoangsan.tennhomkhoangsan" | translate }}
          <small>(*)</small></label>
        <div class="col-sm-9">
          <div class="row">
            <div class="{{classColWithFiftyPercentForCombobox ? 'col-sm-6' : 'col-sm-12'}}">
              <mat-select class="form-control" formControlName="nhomkhoangsan" [compareWith]="compareNhomKhoangSan"
                          placeholder="{{ 'CAPPHEPHOATDONGKHOANGSAN.capphepthamdoloaikhoangsan.chonnhomkhoangsan' | translate }}"
                          (selectionChange)="showLoaiKhoangSan()" *ngIf="dataTranslate">
                <mat-select-filter [displayMember]="'tennhomkhoangsan'" [array]="nhomKhoangSanFilters"
                                   (filteredReturn)="allNhomKhoangSan = $event">
                </mat-select-filter>
                <mat-option value="">
                  {{ "CAPPHEPHOATDONGKHOANGSAN.capphepthamdoloaikhoangsan.chonnhomkhoangsan" | translate }}
                </mat-option>
                <mat-option *ngFor="let nhomKhoangSan of allNhomKhoangSan"
                            [value]="{idnhomkhoangsan: nhomKhoangSan.idnhomkhoangsan, tennhomkhoangsan: nhomKhoangSan.tennhomkhoangsan}">
                  {{ nhomKhoangSan.tennhomkhoangsan }}
                </mat-option>
              </mat-select>
            </div>
            <div class="{{classColWithFiftyPercentForCombobox ? 'col-sm-6' : ''}}">
              <label class="m-0"
                     *ngIf="tenNhomKhoangSanDisplay">{{"CAPPHEPHOATDONGKHOANGSAN.capphepthamdoloaikhoangsan.nhomkhoangsandangdung" | translate}}
                :</label><br>
              <span><b>{{tenNhomKhoangSanDisplay}}</b></span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row mx-0">
        <label
          class="col-sm-3 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.capphepthamdoloaikhoangsan.tenloaikhoangsan" | translate }}
          <small>(*)</small></label>
        <div class="col-sm-9">
          <div class="row">
            <div class="{{classColWithFiftyPercentForCombobox ? 'col-sm-6' : 'col-sm-12'}}">
              <mat-select class="form-control" formControlName="loaikhoangsan" [compareWith]="compareLoaiKhoangSan"
                          placeholder="{{ 'CAPPHEPHOATDONGKHOANGSAN.capphepthamdoloaikhoangsan.chonloaikhoangsan' | translate }}"
                          (selectionChange)="selectLoaiKhoangSan()" *ngIf="dataTranslate">
                <mat-select-filter [displayMember]="'tenloaikhoangsan'" [array]="loaiKhoangSanFilters"
                                   (filteredReturn)="allLoaiKhoangSan = $event">
                </mat-select-filter>
                <mat-option value="">
                  {{ "CAPPHEPHOATDONGKHOANGSAN.capphepthamdoloaikhoangsan.chonloaikhoangsan" | translate }}
                </mat-option>
                <mat-option *ngFor="let loaiKhoangSan of allLoaiKhoangSan"
                            [value]="{idloaikhoangsan: loaiKhoangSan.idloaikhoangsan, tenloaikhoangsan: loaiKhoangSan.tenloaikhoangsan}">
                  {{ loaiKhoangSan.tenloaikhoangsan }}
                </mat-option>
              </mat-select>
              <input type="hidden" class="form-control" formControlName="idloaikhoangsan">
            </div>
            <div class="{{classColWithFiftyPercentForCombobox ? 'col-sm-6' : ''}}">
              <label class="m-0"
                     *ngIf="tenLoaiKhoangSanDisplay">{{"CAPPHEPHOATDONGKHOANGSAN.capphepthamdoloaikhoangsan.loaikhoangsandangdung" | translate}}
                :</label><br>
              <span><b>{{tenLoaiKhoangSanDisplay}}</b></span>
            </div>
          </div>
          <span *ngIf="formErrors.idloaikhoangsan" class="alert-danger">{{formErrors.idloaikhoangsan}}</span>
        </div>
      </div>
  
      <div class="form-group row mx-0">
        <label
          class="col-sm-3 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.capphepthamdoloaikhoangsan.tenkhoangsan" | translate }}
          <small>(*)</small></label>
        <div class="col-sm-9">
          <input class="form-control" type="text" formControlName="tenkhoangsan"
                 placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.capphepthamdoloaikhoangsan.tenkhoangsanPlaceholder' | translate}}"/>
          <span *ngIf="formErrors.tenkhoangsan" class="alert-danger">{{formErrors.tenkhoangsan}}</span>
        </div>
      </div>

      <div class="form-group row mx-0">
        <label
          class="col-sm-3 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.capphepthamdoloaikhoangsan.truluong" | translate }}
          <small>(*)</small></label>
        <div class="col-sm-9">
          <input class="form-control" type="text" formControlName="truluong"
                 placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.capphepthamdoloaikhoangsan.truluongPlaceholder' | translate}}"/>
          <span *ngIf="formErrors.truluong" class="alert-danger">{{formErrors.truluong}}</span>
        </div>
      </div>

      <div class="form-group row mx-0">
        <label
          class="col-sm-3 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cpkhaithacloaikhoangsan.donvitruluong" | translate }}
          <small>(*)</small>
        </label>
        <div class="col-sm-9">
          <mat-select class="form-control" formControlName="donvitruluong" *ngIf="dataTranslate"
            placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cpkhaithacloaikhoangsan.donvitruluongPlaceholder' | translate}}">
            <mat-option value="">
              {{ "CAPPHEPHOATDONGKHOANGSAN.cpkhaithacloaikhoangsan.donvitruluongPlaceholder" | translate }}
            </mat-option>
            <mat-option *ngFor="let dvtl of donViTruLuong" [value]="dvtl.id">
              {{ dvtl.name }}
            </mat-option>
          </mat-select>
          <span *ngIf="formErrors.donvitruluong" class="alert-danger">{{formErrors.donvitruluong}}</span>
        </div>
      </div>

      <div class="toolbar-container py-2">
        <div class="function-toolbar">
          <div class="form-group row mx-0">
            <div class="col-12">
              <button class="btn btn-primary float-right" (click)="onSubmit(purpose)">
                <i class="far fa-save"></i>
                {{ "COMMON.default.saveAndClose" | translate }}
              </button>
              <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose === 'new'"
                      (click)="onContinueAdd(purpose)">
                <i class="far fa-download"></i>
                {{ "COMMON.default.saveAndRefresh" | translate }}
              </button>
              <button class="btn btn-outline-info float-right mr-3" *ngIf="purpose === 'new'" (click)="onFormReset()">
                <i class="far fa-sync-alt"></i>
                {{ "COMMON.default.refresh" | translate }}
              </button>
              <button class="btn btn-danger float-right mr-3" (click)="closeCpKhaiThacLoaiKhoangSanIOSidenav()">
                <i class="far fa-times-circle"></i>
                {{ "COMMON.default.cancel" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  
  