<div class="pt-3 pb-4">
  <form [formGroup]="baoCaoIOForm" class="pt-toolbar">
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{ "BAOCAO.baocao.tenbaocao" | translate }}
        <small>(*)</small></label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="tenbaocao"
          placeholder="{{'BAOCAO.baocao.tenbaocaoPlaceholder' | translate}}" />
        <span *ngIf="formErrors.tenbaocao" class="alert-danger">{{formErrors.tenbaocao}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"BAOCAO.baocao.sobaocao" | translate}}</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="sobaocao"
          placeholder="{{'BAOCAO.baocao.sobaocaoPlaceholder' | translate}}" />
        <span *ngIf="formErrors.sobaocao" class="alert-danger">{{formErrors.sobaocao}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"BAOCAO.baocao.ngaybaocao" | translate}}</label>
      <div class="col-sm-9">
        <input class="form-control" formControlName="ngaybaocao" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"
          placeholder="{{'BAOCAO.baocao.ngaybaocaoPlaceholder' | translate}}" />
        <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
        <span *ngIf="formErrors.ngaybaocao" class="alert-danger">{{formErrors.ngaybaocao}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"BAOCAO.baocao.loaibaocao" | translate}}
        <small>(*)</small></label>
      <div class="col-sm-9">
        <mat-select class="form-control" placeholder="{{'BAOCAO.baocao.loaibaocaoPlaceholder' | translate}}"
          formControlName="idloaibaocao" *ngIf="dataTranslate">
          <mat-option value="">
            {{ "BAOCAO.baocao.loaibaocaoPlaceholder" | translate }}
          </mat-option>
          <mat-option *ngFor="let loaiBC of listLoaiBaoCao" [value]="loaiBC.idloaibaocao">
            {{ loaiBC.tenloaibaocao }}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.idloaibaocao" class="alert-danger">{{formErrors.idloaibaocao}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"BAOCAO.baocao.diadiem" | translate}}</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="diadiem"
          placeholder="{{'BAOCAO.baocao.diadiemPlaceHolder' | translate}}" />
        <span *ngIf="formErrors.diadiem" class="alert-danger">{{formErrors.diadiem}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"BAOCAO.baocao.baocaonam" | translate}}</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="baocaonam"
          placeholder="{{'BAOCAO.baocao.baocaonamPlaceholder' | translate}}" />
        <span *ngIf="formErrors.baocaonam" class="alert-danger">{{formErrors.baocaonam}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"BAOCAO.baocao.donvibaocao" | translate}}</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="donvibaocao"
          placeholder="{{'BAOCAO.baocao.donvibaocaoPlaceHolder' | translate}}" />
        <span *ngIf="formErrors.donvibaocao" class="alert-danger">{{formErrors.donvibaocao}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"BAOCAO.baocao.doituongbaocao" | translate}}</label>
      <div class="col-sm-9">
        <mat-select class="form-control" formControlName="doituongbaocao"
          placeholder="{{ 'BAOCAO.baocao.doituongbaocaoPlaceholder' | translate }}" *ngIf="dataTranslate">
          <mat-option value="">
            {{ "BAOCAO.baocao.doituongbaocaoPlaceholder" | translate }}
          </mat-option>
          <mat-option *ngFor="let dt of doiTuongBaoCao" [value]="dt.id">
            {{ dt.name }}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.doituongbaocao" class="alert-danger">{{formErrors.doituongbaocao}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"BAOCAO.baocao.ghichu" | translate}}</label>
      <div class="col-sm-9">
        <textarea class="form-control" formControlName="ghichu"
          placeholder="{{'BAOCAO.baocao.ghichuPlaceholder' | translate}}"></textarea>
        <span *ngIf="formErrors.ghichu" class="alert-danger">{{formErrors.ghichu}}</span>
      </div>
    </div>
    <div class="toolbar-container py-2">
      <div class="function-toolbar">
        <div class="form-group row mx-0">
          <div class="col-12">
            <button class="btn btn-primary float-right" (click)="onSubmit(purpose)">
              <i class="far fa-save"></i>
              {{ "COMMON.default.saveAndClose" | translate }}
            </button>
            <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose === 'new'"
              (click)="onContinueAdd(purpose)">
              <i class="far fa-download"></i>
              {{ "COMMON.default.saveAndRefresh" | translate }}
            </button>
            <button class="btn btn-outline-info float-right mr-3" *ngIf="purpose === 'new'" (click)="onFormReset()">
              <i class="far fa-sync-alt"></i>
              {{ "COMMON.default.refresh" | translate }}
            </button>
            <button class="btn btn-danger float-right mr-3" (click)="closeBaoCaoIOSidenav()">
              <i class="far fa-times-circle"></i>
              {{ "COMMON.default.cancel" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>