<!-- Page header -->
<app-sub-header [menuItems]="navArray"></app-sub-header>
<!-- /page header -->
<div class="content pt-3">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 px-0">
            <div class="card border">
              <div class="card-body">
                <h4>{{ 'COMMON.default.timkiemnangcao' | translate }}:</h4>
                <div class="row" [formGroup]="formSearch">
                  <div class="col-lg-3 col-md-3 col-sm-4 form-group">
                    <label
                      class="col-form-label text-right">{{"THIETLAP.cauhinhtailieu.thutuchanhchinh" | translate}}:</label>
                    <mat-select class="form-control"
                      placeholder="{{ 'THIETLAP.cauhinhtailieu.chonThutuchanhchinh' | translate }}"
                      formControlName="Idthutuchanhchinh" *ngIf="dataTranslate">
                      <mat-option value="">
                        {{ "THIETLAP.cauhinhtailieu.chonThutuchanhchinh" | translate }}
                      </mat-option>
                      <mat-option *ngFor="let thutuc of listThuTucHanhChinh" [value]="thutuc.idthutuchanhchinh">
                        * {{ thutuc.tenthutuc }}
                      </mat-option>
                    </mat-select>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-4 form-group">
                    <label
                      class="col-form-label text-right">{{"THIETLAP.cauhinhtailieu.nhomloaicapphep" | translate}}:</label>
                    <mat-select class="form-control"
                      placeholder="{{ 'THIETLAP.cauhinhtailieu.chonNhomloaicapphep' | translate }}"
                      formControlName="Nhomloaicapphep" *ngIf="dataTranslate">
                      <mat-option value="">
                        {{ "THIETLAP.cauhinhtailieu.chonNhomloaicapphep" | translate }}
                      </mat-option>
                      <mat-option *ngFor="let nhomLCP of nhomLoaiCapPhep" [value]="nhomLCP.id">
                        * {{ nhomLCP.name }}
                      </mat-option>
                    </mat-select>
                  </div>
                  <div class="col-lg-2 col-md-3 col-sm-4 form-group">
                    <label
                      class="col-form-label text-right">{{"THIETLAP.cauhinhtailieu.trangthai" | translate}}:</label>
                    <mat-select class="form-control" formControlName="Trangthai"
                      placeholder="{{ 'THIETLAP.cauhinhtailieu.chonTrangthai' | translate }}" *ngIf="dataTranslate">
                      <mat-option value="">
                        {{ "THIETLAP.cauhinhtailieu.chonTrangthai" | translate }}
                      </mat-option>
                      <mat-option *ngFor="let tt of trangthai" [value]="tt.id">
                        {{ tt.name }}
                      </mat-option>
                    </mat-select>
                  </div>
                  <div class="col-lg-2 col-md-3 col-sm-4 form-group">
                    <label class="col-form-label text-right">{{"COMMON.default.key" | translate}}:</label>
                    <input type="text" formControlName="Keyword" class="form-control"
                      placeholder="{{'COMMON.default.keyPlaceholder' | translate}}">
                  </div>
                  <div class="col-lg-2 col-md-3 col-sm-4 form-group d-flex" style="align-items: flex-end;">
                    <div>
                      <button class="btn btn-success" (click)="searchAdvance()">
                        <i class="fal fa-search"></i>
                        {{"COMMON.default.search" | translate}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-sidenav-container class="sidenav-container" hasBackdrop="false">
    <mat-sidenav-content>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 px-0">
            <div class="card border">
              <div class="card-header">
                <h3>
                  <div class="row">
                    <div class="col-md-4 mb-sm-1">
                      <span class="title">{{ "THIETLAP.cauhinhtailieu.titleList" | translate }}</span>
                    </div>
                    <div class="col-md-8">
                      <button class="btn btn-outline-primary mr-2" style="float: right;" (click)="reloadDataGrid()">
                        <i class="far fa-sync-alt"></i>
                        {{ "COMMON.default.load" | translate }}
                      </button>
                    </div>
                  </div>
                </h3>
              </div>
              <div class="card-body">
                <ejs-grid #gridCauHinhTaiLieu *ngIf="listLoaiCapPhep" [dataSource]="listLoaiCapPhep"
                  [allowTextWrap]="true" [textWrapSettings]='wrapSettings' [editSettings]="settingsCommon.editSettings"
                  [allowPaging]="true" [allowSorting]="true" [pageSettings]="settingsCommon.pageSettings"
                  [toolbar]="settingsCommon.toolbar" class="table-striped" [allowResizing]="true">
                  <e-columns>
                    <e-column field="serialNumber" headerText="{{ 'COMMON.default.numericalOrder' | translate }}">
                    </e-column>
                    <e-column field="tenloaicapphep"
                      headerText="{{ 'THIETLAP.cauhinhtailieu.tenloaicapphep' | translate }}"></e-column>
                    <e-column field="tenthutuchanhchinh"
                      headerText="{{ 'THIETLAP.cauhinhtailieu.thutuchanhchinh' | translate }}">
                    </e-column>
                    <e-column field="nhomloaicapphep"
                      headerText="{{ 'THIETLAP.cauhinhtailieu.nhomloaicapphep' | translate }}">
                      <ng-template #template let-data>
                        {{ data.nhomloaicapphep | getNameFileConstant: nhomLoaiCapPhep}}
                      </ng-template>
                    </e-column>
                    <e-column field="trangthaicauhinh"
                      headerText="{{ 'THIETLAP.cauhinhtailieu.thaotaccauhinh' | translate }}">
                      <ng-template #template let-data>
                        <span>{{ data.trangthaicauhinh === trangThaiCauHinh.DaCauHinh ? 'Đã cấu hình' : 'Chưa cấu hình'}}</span>
                      </ng-template>
                    </e-column>
                    <e-column field="idloaicapphep" headerText="{{ 'COMMON.default.action' | translate }}">
                      <ng-template #template let-data>
                        <div class="btn-group">
                          <button class="btn btn-sm btn-primary"
                            title="{{ 'THIETLAP.cauhinhtailieu.thaotaccauhinh' | translate }} "
                            (click)="showMatDialog(data.maloaicapphep)">
                            <i class="far fa-cog"></i>
                          </button>
                        </div>
                      </ng-template>
                    </e-column>
                  </e-columns>
                </ejs-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
