<div class="pt-3">
  <form [formGroup]="coQuanQuanLyIOForm" class="pt-toolbar">
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{ "DANHMUC.coquanquanly.tencoquanquanly" | translate }}
        <small>(*)</small></label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="tencoquanquanly" placeholder="{{'DANHMUC.coquanquanly.tencoquanquanlyPlaceholder' | translate}}" />
        <span *ngIf="formErrors.tencoquanquanly" class="alert-danger">{{formErrors.tencoquanquanly}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANHMUC.coquanquanly.macoquanquanly" | translate}}</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="macoquanquanly" placeholder="{{'DANHMUC.coquanquanly.macoquanquanlyPlaceholder' | translate}}" />
        <span *ngIf="formErrors.macoquanquanly" class="alert-danger">{{formErrors.macoquanquanly}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANHMUC.coquanquanly.diachi" | translate}}</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="diachi" placeholder="{{'DANHMUC.coquanquanly.diachiPlaceholder' | translate}}" />
        <span *ngIf="formErrors.diachi" class="alert-danger">{{formErrors.diachi}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANHMUC.coquanquanly.fax" | translate}}</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="fax" placeholder="{{'DANHMUC.coquanquanly.faxPlaceholder' | translate}}" />
        <span *ngIf="formErrors.fax" class="alert-danger">{{formErrors.fax}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANHMUC.coquanquanly.website" | translate}}</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="website"  placeholder="{{'DANHMUC.coquanquanly.websitePlaceholder' | translate}}" />
        <span *ngIf="formErrors.website" class="alert-danger">{{formErrors.website}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANHMUC.coquanquanly.dienthoai" | translate}}</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="dienthoai" placeholder="{{'DANHMUC.coquanquanly.dienthoaiPlaceholder' | translate}}" />
        <span *ngIf="formErrors.dienthoai" class="alert-danger">{{formErrors.dienthoai}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANHMUC.coquanquanly.email" | translate}}</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="email" placeholder="{{'DANHMUC.coquanquanly.emailPlaceholder' | translate}}" />
        <span *ngIf="formErrors.email" class="alert-danger">{{formErrors.email}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{ "COMMON.default.matinh" | translate }}
        <small>(*)</small></label>
      <div class="col-sm-8">
        <mat-select class="form-control" formControlName="matinh"
          (selectionChange)="showDvhcHuyen()" *ngIf="dataTranslate">
          <mat-select-filter [displayMember]="'tendvhc'" [array]="dvhcProvinceFilters" (filteredReturn)="allTinh = $event">
          </mat-select-filter>
          <mat-option value="">
            {{ "COMMON.default.chonTinh" | translate }}
          </mat-option>
          <mat-option *ngFor="let tinh of allTinh" [value]="tinh.matinh">
            {{ tinh.tendvhc }}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.matinh" class="alert-danger">{{formErrors.matinh}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{ "COMMON.default.mahuyen" | translate }}
        <small>(*)</small></label>
      <div class="col-sm-8">
        <mat-select class="form-control" formControlName="mahuyen"
          (selectionChange)="showDvhcXa()" *ngIf="dataTranslate">
          <mat-select-filter [displayMember]="'tendvhc'" [array]="dvhcDistrictFilters"(filteredReturn)="allHuyen = $event">
          </mat-select-filter>
          <mat-option value="">
            {{ "COMMON.default.chonHuyen" | translate }}
          </mat-option>
          <mat-option *ngFor="let huyen of allHuyen" [value]="huyen.mahuyen">
            {{ huyen.tendvhc }}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.mahuyen" class="alert-danger">{{formErrors.mahuyen}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"COMMON.default.maxa" | translate}}</label>
      <div class="col-sm-8">
        <mat-select class="form-control" formControlName="maxa" *ngIf="dataTranslate">
          <mat-select-filter [displayMember]="'tendvhc'" [array]="dvhcWardFilters" (filteredReturn)="allXa = $event">
          </mat-select-filter>
          <mat-option value="">
            {{ "COMMON.default.chonXa" | translate }}
          </mat-option>
          <mat-option *ngFor="let xa of allXa" [value]="xa.maxa">
            {{ xa.tendvhc }}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANHMUC.coquanquanly.trangthai" | translate}}</label>
      <div class="col-sm-8">
        <mat-select class="form-control" formControlName="trangthai" *ngIf="dataTranslate">
          <mat-option value="">
            {{ "DANHMUC.coquanquanly.chonTrangthai" | translate }}
          </mat-option>
          <mat-option *ngFor="let tt of trangthai" [value]="tt.id">
            {{ tt.name }}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.trangthai" class="alert-danger">{{formErrors.trangthai}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANHMUC.coquanquanly.thutu" | translate}}</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="thutu" placeholder="{{'DANHMUC.coquanquanly.thutuPlaceholder' | translate}}" />
        <span *ngIf="formErrors.thutu" class="alert-danger">{{formErrors.thutu}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANHMUC.capquanly.mota" | translate}}</label>
      <div class="col-sm-8">
        <textarea class="form-control" formControlName="mota" placeholder="{{'DANHMUC.capquanly.motaPlaceholder' | translate}}"></textarea>
        <span *ngIf="formErrors.mota" class="alert-danger">{{formErrors.mota}}</span>
      </div>
    </div>
    <div class="toolbar-container py-2">
      <div class="function-toolbar">
        <div class="form-group row mx-0">
          <div class="col-12">
            <button class="btn btn-primary float-right" (click)="onSubmit(purpose)">
              <i class="far fa-save"></i>
              {{ "COMMON.default.saveAndClose" | translate }}
            </button>
            <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose === 'new'"
              (click)="onContinueAdd(purpose)">
              <i class="far fa-download"></i>
              {{ "COMMON.default.saveAndRefresh" | translate }}
            </button>
            <button class="btn btn-outline-info float-right mr-3" *ngIf="purpose === 'new'" (click)="onFormReset()">
              <i class="far fa-sync-alt"></i>
              {{ "COMMON.default.refresh" | translate }}
            </button>
            <button class="btn btn-danger float-right mr-3" (click)="closeCoQuanQuanLyIOSidenav()">
              <i class="far fa-times-circle"></i>
              {{ "COMMON.default.cancel" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>