<app-sub-header [menuItems]="navArray"></app-sub-header>
<div class="content pt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 px-0">
        <div class="card border">
          <div class="card-header">
            <h3>
              <span class="title">
                Khu vực khoáng sản
                <strong></strong></span>
            </h3>
          </div>
          <div class="card-body">
            <mat-tab-group mat-stretch-tabs [animationDuration]="" [selectedIndex] = "selectedDefaultTab" #khuVucKhoangSanTab (selectedIndexChange)="khuVucKhoangSanTabChange($event)">
              <mat-tab label="Thông tin chung">
                <ng-template matTabContent >
                  <div #detailComponent></div>
                </ng-template>
              </mat-tab>
              <mat-tab label="Tọa độ">
                <ng-template matTabContent>
                  <app-dkt-hosoktct></app-dkt-hosoktct>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
