<app-sub-header [menuItems]="navArray" [buttonItems]="btnArr"></app-sub-header>
<div class="content pt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 px-0">
        <div class="card border">
          <div class="card-header">
            <h3>
              <span class="title">
                Khu vực khoáng sản
                <strong></strong></span>
            </h3>
          </div>
          <div class="card-body">
            <mat-tab-group mat-stretch-tabs [animationDuration]="" #khuVucKhoangSanTab (selectedIndexChange)="tabChange($event)">
              <mat-tab label="{{ 'KHUVUCKHOANGSAN.default.thongtinchung' | translate }}">
                <ng-template appContentContainer>
                </ng-template>
              </mat-tab>
              <mat-tab label="{{ 'KHUVUCKHOANGSAN.default.toado' | translate }}">
                  <app-khuvuctoado-list (callBackTabThongTinChiTiet)="reloadDataTabThongTinChiTiet()" [allowAutoInit]="false" #khuVucToaDoListComp></app-khuvuctoado-list>
              </mat-tab>
              <mat-tab  label="{{ 'KHUVUCKHOANGSAN.default.bandokhuvucTab' | translate }}">
                <ng-template matTabContent>
                  <app-toadokhuvuc [GeometryText]="geoMetry"></app-toadokhuvuc>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
