<div class="pt-3">
    <div class="container-fluid">
      <div class="card border">
        <div class="card-body">
          <h4>{{ 'COMMON.default.timkiemnangcao' | translate }}</h4>
          <div class="row" [formGroup]="formSearch">
            <div class="col-lg-2 col-md-2 col-sm-2 form-group">
              <label class="col-form-label text-right">{{"HOSOGIAYTO.quyetdinh.tungay" | translate}}</label>
              <input class="form-control" formControlName="GTEqualNgaycapphep" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"
                placeholder="{{'HOSOGIAYTO.quyetdinh.tungayPlaceholder' | translate}}" />
              <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 form-group">
              <label class="col-form-label text-right">{{"HOSOGIAYTO.quyetdinh.denngay" | translate}}</label>
              <input class="form-control" formControlName="LTEqualNgaycapphep" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"
                placeholder="{{'HOSOGIAYTO.quyetdinh.denngayPlaceholder' | translate}}" />
              <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 form-group">
              <label class="col-form-label text-right">{{ "HOSOGIAYTO.quyetdinh.loaicapphep" | translate }}:</label>
                <mat-select class="form-control" formControlName="Loaicapphep"  placeholder="{{ 'HOSOGIAYTO.quyetdinh.chonloaicapphep' | translate }}"  *ngIf="dataTranslate">
                  <mat-select-filter [displayMember]="'tenloaicapphep'" [array]="loaiCapPhepFilters" (filteredReturn)="allLoaiCapPhep = $event">
                  </mat-select-filter>
                  <mat-option value="">
                    {{ "HOSOGIAYTO.quyetdinh.chonloaicapphep" | translate }}
                  </mat-option>
                  <mat-option *ngFor="let loaiCapPhep of allLoaiCapPhep" [value]="loaiCapPhep.maloaicapphep">
                    {{ loaiCapPhep.tenloaicapphep }}
                  </mat-option>
                </mat-select>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 form-group">
              <label class="col-form-label text-right">{{"COMMON.default.key" | translate}}:</label>
              <input type="text" formControlName="Keyword" class="form-control" placeholder="{{'COMMON.default.keyPlaceholder' | translate}}">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 form-group">
              <button class="btn btn-success" *ngIf="checkValidNhomLoaiCapPhep()" style="position: absolute; bottom: 0;" (click)="getAllGiayPhep()">
                <i class="fal fa-search"></i>
                {{"COMMON.default.search" | translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="card border">
        <div class="card-header">
          <h3>
            <div class="row">
              <div class="col-md-7 mb-sm-1">
                <span class="title" *ngIf="title">{{ title }}</span>
                <span class="title" *ngIf="!title">{{ "HOSOGIAYTO.quyetdinh.titleList" | translate }}</span>
              </div>
              <div class="col-md-5">
                <button class="btn btn-primary mb-sm-1" *ngIf="checkValidNhomLoaiCapPhep()" style="float: right;" (click)="addItemGiayPhep()">
                  <i class="fal fa-plus-square"></i>
                  {{ "COMMON.default.add" | translate }}
                </button>
                <button class="btn btn-outline-primary mr-2 mb-sm-1" *ngIf="checkValidNhomLoaiCapPhep()" style="float: right;" (click)="reloadDataGrid()">
                  <i class="far fa-sync-alt"></i>
                  {{ "COMMON.default.load" | translate }}
                </button>
              </div>
            </div>
          </h3>
        </div>
        <div class="card-body">
          <ejs-grid #gridGiayPhep *ngIf="listGiayPhep" [dataSource]="listGiayPhep | async"
            [editSettings]="settingsCommon.editSettings" [allowPaging]="true" [allowSorting]="true"
            [pageSettings]="settingsCommon.pageSettings" class="table-striped"  [allowTextWrap]="true"
            [allowResizing]="true"  [textWrapSettings]='wrapSettings' (dataStateChange)="dataStateChange($event)">
            <e-columns>
              <e-column field="serialNumber" headerText="{{ 'COMMON.default.numericalOrder' | translate }}"></e-column>
              <e-column field="tencanhantochuc" headerText="{{ 'HOSOGIAYTO.quyetdinh.tencanhantochuc' | translate }}"></e-column>
              <e-column field="sogiayphep" headerText="{{ ('HOSOGIAYTO.quyetdinh.sogiayphep' | translate) + '/' + ('HOSOGIAYTO.quyetdinh.soquyetdinh' | translate) }}"></e-column>
              <e-column field="tenloaicapphep" headerText="{{ 'HOSOGIAYTO.quyetdinh.loaicapphep' | translate }}"></e-column>
              <e-column field="diachi" headerText="{{ 'HOSOGIAYTO.quyetdinh.diachi' | translate }}"></e-column>
              <e-column field="ngaycap" headerText="{{ 'HOSOGIAYTO.quyetdinh.ngaycapphep' | translate }}">
                <ng-template #template let-data>
                  {{ data.ngaycap ? (data.ngaycap | date: 'dd-MM-yyyy') : "" }}
                </ng-template>
              </e-column>
              <e-column field="idgiayphep" isPrimaryKey='true' headerText="{{ 'COMMON.default.action' | translate }}">
                <ng-template #template let-data>
                  <div class="btn-group">
                    <button class="btn btn-sm btn-primary" *ngIf="checkValidNhomLoaiCapPhep()" title="{{ 'COMMON.default.edit' | translate }}"
                      (click)="editItemGiayPhep(data.idgiayphep)">
                      <i class="far fa-edit"></i>
                    </button>
                    <button class="btn btn-sm btn-danger" *ngIf="checkValidNhomLoaiCapPhep()" title="{{ 'COMMON.default.delete' | translate }}"
                      (click)="deleteItemGiayPhep(data)">
                      <i class="far fa-trash"></i>
                    </button>
                  </div>
                </ng-template>
              </e-column>
            </e-columns>
          </ejs-grid>
        </div>
      </div>
    </div>
  </div>
  
  