<div class="pt-3 pb-4">
  <form [formGroup]="loaiGiayPhepIOForm" class="pt-toolbar">
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{ "DANHMUC.loaigiayphep.maloaigiayphep" | translate }}</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="maloaigiayphep" placeholder="{{'DANHMUC.loaigiayphep.maloaigiayphepPlaceholder' | translate}}" />
        <span *ngIf="formErrors.maloaigiayphep" class="alert-danger">{{formErrors.maloaigiayphep}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"DANHMUC.loaigiayphep.tenloaigiayphep" | translate}} <small>(*)</small></label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="tenloaigiayphep" placeholder="{{'DANHMUC.loaigiayphep.tenloaigiayphepPlaceholder' | translate}}" />
        <span *ngIf="formErrors.tenloaigiayphep" class="alert-danger">{{formErrors.tenloaigiayphep}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"DANHMUC.loaigiayphep.nhomloaigiayphep" | translate}} <small>(*)</small></label>
      <div class="col-sm-9">
        <mat-select class="form-control" placeholder="{{ 'DANHMUC.loaigiayphep.chonNhomloaigiayphep' | translate }}" formControlName="nhomloaigiayphep" *ngIf="dataTranslate">
          <mat-option value="">
            {{ "DANHMUC.loaigiayphep.chonNhomloaigiayphep" | translate }}
          </mat-option>
          <mat-option *ngFor="let nhomLGP of nhomLoaiGiayPhep" [value]="nhomLGP.id">
            * {{ nhomLGP.name }}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.nhomloaigiayphep" class="alert-danger">{{formErrors.nhomloaigiayphep}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"DANHMUC.loaicapphep.thutuchanhchinh" | translate}} <small>(*)</small></label>
      <div class="col-sm-9">
        <div class="row">
          <div class="{{classColDvhc ? 'col-sm-6' : 'col-sm-12'}}">
            <mat-select class="form-control" placeholder="{{ 'DANHMUC.loaicapphep.chonThutuchanhchinh' | translate }}" formControlName="thutuchanhchinh" [compareWith]="compareThuTucHanhChinh" *ngIf="dataTranslate">
              <mat-option value="">
                {{ "DANHMUC.loaicapphep.chonThutuchanhchinh" | translate }}
              </mat-option>
              <mat-option *ngFor="let thutuc of listThuTucHanhChinh" [value]="{idthutuc: thutuc.idthutuchanhchinh, tenthutuc: thutuc.tenthutuc}">
                * {{ thutuc.tenthutuc }}
              </mat-option>
            </mat-select>
            <input type="hidden" class="form-control" formControlName="idthutuchanhchinh">
          </div>
          <div *ngIf="classColDvhc" class="{{classColDvhc ? 'col-sm-6' : ''}}">
            <label *ngIf="tenThuTucDisplay" class="m-0">{{"COMMON.default.tenthutucdangdung" | translate}}:</label><br>
            <span><b>{{ tenThuTucDisplay}}</b></span>
          </div>
        </div>
        <span *ngIf="formErrors.idthutuchanhchinh" class="alert-danger">{{formErrors.idthutuchanhchinh}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"DANHMUC.loaigiayphep.thutu" | translate}}</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="thutu" placeholder="{{'DANHMUC.loaigiayphep.thutuPlaceholder' | translate}}" />
        <span *ngIf="formErrors.thutu" class="alert-danger">{{formErrors.thutu}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"DANHMUC.loaigiayphep.mota" | translate}}</label>
      <div class="col-sm-9">
        <textarea class="form-control" formControlName="mota" placeholder="{{'DANHMUC.loaigiayphep.motaPlaceholder' | translate}}"></textarea>
        <span *ngIf="formErrors.mota" class="alert-danger">{{formErrors.mota}}</span>
      </div>
    </div>
    <div class="toolbar-container py-2">
      <div class="function-toolbar">
        <div class="form-group row mx-0">
          <div class="col-12">
            <button class="btn btn-primary float-right" (click)="onSubmit(purpose)">
              <i class="far fa-save"></i>
              {{ "COMMON.default.saveAndClose" | translate }}
            </button>
            <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose === 'new'"
              (click)="onContinueAdd(purpose)">
              <i class="far fa-download"></i>
              {{ "COMMON.default.saveAndRefresh" | translate }}
            </button>
            <button class="btn btn-outline-info float-right mr-3" *ngIf="purpose === 'new'" (click)="onFormReset()">
              <i class="far fa-sync-alt"></i>
              {{ "COMMON.default.refresh" | translate }}
            </button>
            <button class="btn btn-danger float-right mr-3" (click)="closeLoaiGiayPhepIOSidenav()">
              <i class="far fa-times-circle"></i>
              {{ "COMMON.default.cancel" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>