<div class="pt-3 pb-4">
  <form [formGroup]="dKTanThuKhuVucIOForm" class="pt-toolbar">
    <div class="form-group row mx-0">
      <label
        class="col-sm-3 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithackhuvuc.tenkhuvuc" | translate }}
        <small>(*)</small></label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="tenkhuvuc"
               placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithackhuvuc.tenkhuvucPlaceholder' | translate}}" />
        <span *ngIf="formErrors.tenkhuvuc" class="alert-danger">{{formErrors.tenkhuvuc}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label
        class="col-sm-3 col-form-label text-right">{{"DANGKYHOATDONGKHOANGSAN.dangkykhaithackhuvuc.dientich" | translate}}
        <small>(*)</small></label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="dientich"
               placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithackhuvuc.dientichPlaceholder' | translate}}" />
        <span *ngIf="formErrors.dientich" class="alert-danger">{{formErrors.dientich}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label
        class="col-sm-3 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithackhuvuc.donvidientich" | translate }}
        <small>(*)</small>
      </label>
      <div class="col-sm-9">
        <mat-select class="form-control" formControlName="donvidientich" *ngIf="dataTranslate"
                    placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithackhuvuc.chondonvidientich' | translate}}">
          <mat-option value="">
            {{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithackhuvuc.chondonvidientich" | translate }}
          </mat-option>
          <mat-option *ngFor="let donViDienTich of donViDienTichList" [value]="donViDienTich.id">
            {{ donViDienTich.name }}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.donvidientich" class="alert-danger">{{formErrors.donvidientich}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label
        class="col-sm-3 col-form-label text-right">{{"DANGKYHOATDONGKHOANGSAN.dangkythamdokhuvuc.hequychieu" | translate}}
      </label>
    <div class="col-sm-9 font-weight-bold" style="padding-top: 9px;">
      {{tenHeQuyChieu}}
    </div>
    </div>
  </form>
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-12 px-0">
        <div class="card border">
          <div class="card-header">
            <form [formGroup]="dkTanThuToaDoKhuVucIOForm">
              <div class="row">
                <div class="col-2">
                  <div class="form-group mb-1">
                    <label>{{ 'DANGKYHOATDONGKHOANGSAN.dangkykhaithackhuvuc.thutu' | translate}}:</label>
                    <input type="text" class="form-control" formControlName="thutu"
                           placeholder="{{ 'DANGKYHOATDONGKHOANGSAN.dangkykhaithackhuvuc.thutuPlaceholder' | translate}}">
                    <span *ngIf="formErrorsToaDo.thutu"
                          class="alert-danger">{{formErrorsToaDo.thutu}}</span>
                    <span *ngIf="errorThuTu" class="alert-danger">{{errorThuTu}}</span>
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group mb-1">
                    <label>{{ 'DANGKYHOATDONGKHOANGSAN.dangkykhaithackhuvuc.sohieu' | translate}}:</label>
                    <input type="text" class="form-control" formControlName="sohieu"
                           placeholder="{{ 'DANGKYHOATDONGKHOANGSAN.dangkykhaithackhuvuc.sohieuPlaceholder' | translate}}">
                    <span *ngIf="formErrorsToaDo.sohieu"
                          class="alert-danger">{{formErrorsToaDo.sohieu}}</span>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group mb-1">
                    <label>{{ 'DANGKYHOATDONGKHOANGSAN.dangkykhaithackhuvuc.toadox' | translate}}:</label>
                    <input type="text" class="form-control" formControlName="toadox"
                           placeholder="{{ 'DANGKYHOATDONGKHOANGSAN.dangkykhaithackhuvuc.toadoxPlaceholder' | translate}}">
                    <span *ngIf="formErrorsToaDo.toadox"
                          class="alert-danger">{{formErrorsToaDo.toadox}}</span>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group mb-1">
                    <label>{{ 'DANGKYHOATDONGKHOANGSAN.dangkykhaithackhuvuc.toadoy' | translate}}:</label>
                    <input type="text" class="form-control" formControlName="toadoy"
                           placeholder="{{ 'DANGKYHOATDONGKHOANGSAN.dangkykhaithackhuvuc.toadoyPlaceholder' | translate}}">
                    <span *ngIf="formErrorsToaDo.toadoy"
                          class="alert-danger">{{formErrorsToaDo.toadoy}}</span>
                  </div>
                </div>
                <div class="col-2 mb-1">
                  <button class="btn btn-success" style="position: absolute;top: 28px;"
                          (click)="saveToaDoKhuVuc()">{{ 'COMMON.default.save' | translate }}</button>
                </div>

              </div>
            </form>
          </div>
          <div class="card-body">
            <ejs-grid #gridDkToaDoKhuVuc *ngIf="listToaDoKhuVuc" [dataSource]="listToaDoKhuVuc"
                      [editSettings]="settingsCommon.editSettings" [allowPaging]="true" [allowSorting]="true"
                      [allowTextWrap]="true" [textWrapSettings]='wrapSettings'
                      [pageSettings]="settingsCommon.pageSettings" class="table-striped" [allowResizing]="true">
              <e-columns>
                <e-column field="thutu"
                          headerText="{{ 'DANGKYHOATDONGKHOANGSAN.dangkykhaithackhuvuc.thutu' | translate }}">
                </e-column>
                <e-column field="sohieu"
                          headerText="{{ 'DANGKYHOATDONGKHOANGSAN.dangkykhaithackhuvuc.sohieu' | translate }}">
                </e-column>
                <e-column field="toadox"
                          headerText="{{ 'DANGKYHOATDONGKHOANGSAN.dangkykhaithackhuvuc.toadox' | translate }}">
                </e-column>
                <e-column field="toadoy"
                          headerText="{{ 'DANGKYHOATDONGKHOANGSAN.dangkykhaithackhuvuc.toadoy' | translate }}">
                </e-column>
                <e-column field="idthamdokhuvuc" isPrimaryKey='true'
                          headerText="{{ 'COMMON.default.action' | translate }}">
                  <ng-template #template let-data>
                    <div class="btn-group">
                      <button class="btn btn-sm btn-danger"
                              title="{{ 'COMMON.default.delete' | translate }}"
                              (click)="deleteToaDoKhuVuc(data)">
                        <i class="far fa-trash"></i>
                      </button>
                    </div>
                  </ng-template>
                </e-column>
              </e-columns>
            </ejs-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="toolbar-container py-2">
    <div class="function-toolbar">
      <div class="form-group row mx-0">
        <div class="col-12">
          <button class="btn btn-primary float-right" (click)="onSubmit(purpose)">
            <i class="far fa-save"></i>
            {{ "COMMON.default.saveAndClose" | translate }}
          </button>
          <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose === 'new'"
                  (click)="onContinueAdd(purpose)">
            <i class="far fa-download"></i>
            {{ "COMMON.default.saveAndRefresh" | translate }}
          </button>
          <button class="btn btn-outline-info float-right mr-3" *ngIf="purpose === 'new'"
                  (click)="onFormReset()">
            <i class="far fa-sync-alt"></i>
            {{ "COMMON.default.refresh" | translate }}
          </button>
          <button class="btn btn-danger float-right mr-3" (click)="closeKhuVucToaDoIOSidenav()">
            <i class="far fa-times-circle"></i>
            {{ "COMMON.default.cancel" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
