<div class="pt-3 pb-4">
    <form [formGroup]="cpThamDoLoaiKhoangSanIOForm" class="pt-toolbar">
      <!-- Nhóm khoáng sản -->
      <div class="form-group row mx-0">
        <label
          class="col-sm-3 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cappheppheduyettruluong_loaikhoangsan.tennhomkhoangsan" | translate }}
          <small>(*)</small></label>
        <div class="col-sm-9">
          <div class="row">
            <div class="{{classColWithFiftyPercentForCombobox&&tenNhomKhoangSanDisplay ? 'col-sm-6' : 'col-sm-12'}}">
              <mat-select class="form-control" formControlName="idnhomkhoangsan" 
                          placeholder="{{ 'CAPPHEPHOATDONGKHOANGSAN.cappheppheduyettruluong_loaikhoangsan.chonnhomkhoangsan' | translate }}"
                          (selectionChange)="selectNhomKhoangSanHandler($event)" *ngIf="dataTranslate">
                <mat-select-filter [displayMember]="'tennhomkhoangsan'" [array]="nhomKhoangSanFilters"
                                   (filteredReturn)="allNhomKhoangSan = $event">
                </mat-select-filter>
                <mat-option value="">
                  {{ "CAPPHEPHOATDONGKHOANGSAN.cappheppheduyettruluong_loaikhoangsan.chonnhomkhoangsan" | translate }}
                </mat-option>
                <mat-option *ngFor="let nhomKhoangSan of allNhomKhoangSan"
                            [value]="nhomKhoangSan.idnhomkhoangsan">
                  {{ nhomKhoangSan.tennhomkhoangsan }}
                </mat-option>
              </mat-select>
            </div>
            <div class="{{classColWithFiftyPercentForCombobox && tenNhomKhoangSanDisplay ? 'col-sm-6' : ''}}">
              <label class="m-0"
                     *ngIf="tenNhomKhoangSanDisplay">{{"CAPPHEPHOATDONGKHOANGSAN.cappheppheduyettruluong_loaikhoangsan.nhomkhoangsandangdung" | translate}}
                :</label><br>
              <span><b>{{tenNhomKhoangSanDisplay}}</b></span>
            </div>
          </div>
          <span *ngIf="formErrors.idnhomkhoangsan" class="alert-danger">{{formErrors.idnhomkhoangsan}}</span>
        </div>
      </div>
      <!-- Loại khoáng sản -->
      <div class="form-group row mx-0">
        <label
          class="col-sm-3 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cappheppheduyettruluong_loaikhoangsan.tenloaikhoangsan" | translate }}
          <small>(*)</small></label>
        <div class="col-sm-9">
          <div class="row">
            <div class="{{classColWithFiftyPercentForCombobox && tenLoaiKhoangSanDisplay ? 'col-sm-6' : 'col-sm-12'}}">
              <mat-select class="form-control" formControlName="idloaikhoangsan"
                          placeholder="{{ 'CAPPHEPHOATDONGKHOANGSAN.cappheppheduyettruluong_loaikhoangsan.chonloaikhoangsan' | translate }}"
                          (selectionChange)="selectLoaiKhoangSanHandler($event)" *ngIf="dataTranslate">
                <mat-select-filter [displayMember]="'tenloaikhoangsan'" [array]="loaiKhoangSanFilters"
                                   (filteredReturn)="allLoaiKhoangSan = $event">
                </mat-select-filter>
                <mat-option value="">
                  {{ "CAPPHEPHOATDONGKHOANGSAN.cappheppheduyettruluong_loaikhoangsan.chonloaikhoangsan" | translate }}
                </mat-option>
                <mat-option *ngFor="let loaiKhoangSan of allLoaiKhoangSan"
                            [value]="loaiKhoangSan.idloaikhoangsan">
                  {{ loaiKhoangSan.tenloaikhoangsan }}
                </mat-option>
              </mat-select>
              <input type="hidden" class="form-control" formControlName="idloaikhoangsan">
            </div>
            <div class="{{classColWithFiftyPercentForCombobox && tenLoaiKhoangSanDisplay ? 'col-sm-6' : ''}}">
              <label class="m-0"
                     *ngIf="tenLoaiKhoangSanDisplay">{{"CAPPHEPHOATDONGKHOANGSAN.cappheppheduyettruluong_loaikhoangsan.loaikhoangsandangdung" | translate}}
                :</label><br>
              <span><b>{{tenLoaiKhoangSanDisplay}}</b></span>
            </div>
          </div>
          <span *ngIf="formErrors.idloaikhoangsan" class="alert-danger">{{formErrors.idloaikhoangsan}}</span>
        </div>
      </div>
      <!-- Tên khoáng sản -->
      <div class="form-group row mx-0">
        <label
          class="col-sm-3 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cappheppheduyettruluong_loaikhoangsan.tenkhoangsan" | translate }}
          <small>(*)</small></label>
        <div class="col-sm-9">
          <input class="form-control" type="text" formControlName="tenkhoangsan"
                 placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cappheppheduyettruluong_loaikhoangsan.tenkhoangsanPlaceholder' | translate}}"/>
          <span *ngIf="formErrors.tenkhoangsan" class="alert-danger">{{formErrors.tenkhoangsan}}</span>
        </div>
      </div>

      <!-- Phân loại -->
      <div class="form-group row mx-0">
        <label
          class="col-sm-3 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cappheppheduyettruluong_loaikhoangsan.phanloai" | translate }}
          <small>(*)</small></label>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-12">
              <mat-select class="form-control" formControlName="phanloai"
                          *ngIf="dataTranslate">
                <mat-option value="">
                  {{ "CAPPHEPHOATDONGKHOANGSAN.cappheppheduyettruluong_loaikhoangsan.chonphanloai" | translate }}
                </mat-option>
                <mat-option *ngFor="let item of phanLoaiData"
                            [value]="item.id">
                  {{ item.name }}
                </mat-option>
              </mat-select>  
            </div>
          </div>
          <span *ngIf="formErrors.phanloai" class="alert-danger">{{formErrors.phanloai}}</span>
        </div>
      </div>

      <!-- Cấp trữ lượng -->
      <div class="form-group row mx-0">
        <label
          class="col-sm-3 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cappheppheduyettruluong_loaikhoangsan.captruluong" | translate }}
          <small>(*)</small></label>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-12">
              <mat-select class="form-control" formControlName="idcaptruluong"
                          *ngIf="dataTranslate">
                <mat-option value="">
                  {{ "CAPPHEPHOATDONGKHOANGSAN.cappheppheduyettruluong_loaikhoangsan.choncaptruluong" | translate }}
                </mat-option>
                <mat-option *ngFor="let item of capTruLuongData"
                            [value]="item.idcaptruluong">
                  {{ item.macaptruluong }}
                </mat-option>
              </mat-select>  
            </div>
          </div>
          <span *ngIf="formErrors.idcaptruluong" class="alert-danger">{{formErrors.idcaptruluong}}</span>
        </div>
      </div>
      
      <!-- Trữ lượng -->
      <div class="form-group row mx-0">
        <label
          class="col-sm-3 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cappheppheduyettruluong_loaikhoangsan.truluong" | translate }}
          <small>(*)</small></label>
        <div class="col-sm-9">
          <input class="form-control" type="text" formControlName="truluong"
                 placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cappheppheduyettruluong_loaikhoangsan.truluongPlaceholder' | translate}}"/>
          <span *ngIf="formErrors.truluong" class="alert-danger">{{formErrors.truluong}}</span>
        </div>
      </div>

      <!-- Đơn vị trữ lượng -->
      <div class="form-group row mx-0">
        <label
          class="col-sm-3 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cappheppheduyettruluong_loaikhoangsan.donvitruluong" | translate }}
          <small>(*)</small></label>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-12">
              <mat-select class="form-control" formControlName="donvitruluong"
                          *ngIf="dataTranslate">
                <mat-option value="">
                  {{ "CAPPHEPHOATDONGKHOANGSAN.cappheppheduyettruluong_loaikhoangsan.chondonvitruluong" | translate }}
                </mat-option>
                <mat-option *ngFor="let item of donViTruLuongData"
                            [value]="item.id">
                  {{ item.name }}
                </mat-option>
              </mat-select>  
            </div>
          </div>
          <span *ngIf="formErrors.donvitruluong" class="alert-danger">{{formErrors.donvitruluong}}</span>
        </div>
      </div>

      <div class="toolbar-container py-2">
        <div class="function-toolbar">
          <div class="form-group row mx-0">
            <div class="col-12">
              <button class="btn btn-primary float-right" (click)="onSubmit(purpose)">
                <i class="far fa-save"></i>
                {{ "COMMON.default.saveAndClose" | translate }}
              </button>
              <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose === 'new'"
                      (click)="onContinueAdd(purpose)">
                <i class="far fa-download"></i>
                {{ "COMMON.default.saveAndRefresh" | translate }}
              </button>
              <button class="btn btn-outline-info float-right mr-3" *ngIf="purpose === 'new'" (click)="onFormReset()">
                <i class="far fa-sync-alt"></i>
                {{ "COMMON.default.refresh" | translate }}
              </button>
              <button class="btn btn-danger float-right mr-3" (click)="closeCpThamDoLoaiKhoangSanIOSidenav()">
                <i class="far fa-times-circle"></i>
                {{ "COMMON.default.cancel" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  
  