<div class="card border mt-3">
  <div class="card-header">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4 *ngIf="!isTraLaiDienTichThamDo; else temp">
          <span class="title" *ngIf="currentAction === ActionType.Add">
            {{ 'DANGKYHOATDONGKHOANGSAN.dangkythamdotralai.titleAdd' | translate}}
          </span>
          <span class="title" *ngIf="currentAction === ActionType.Edit">
            {{ 'DANGKYHOATDONGKHOANGSAN.dangkythamdotralai.titleEdit' | translate}}
          </span>
        </h4>
        <ng-template #temp>
          <h4>
            <span class="title" *ngIf="currentAction === ActionType.Add">
              {{ 'DANGKYHOATDONGKHOANGSAN.dangkythamdotralai.titleAddTraLaiDienTich' | translate}}
            </span>
            <span class="title" *ngIf="currentAction === ActionType.Edit">
              {{ 'DANGKYHOATDONGKHOANGSAN.dangkythamdotralai.titleEditTraLaiDienTich' | translate}}
            </span>
          </h4>
        </ng-template>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <button class="btn btn-primary mb-sm-1" style="float: right;" (click)="saveItemDangKyThamDo()">
          <i class="fal fa-save"></i>
          {{ "COMMON.default.save" | translate }}
        </button>
        <button *ngIf="!disabledDeleteButton" class="btn btn-outline-danger mr-2" style="float: right;"
          (click)="deleteItemDangKyThamDoTraLai()">
          <i class="far fa-trash"></i>
          {{ "COMMON.default.delete" | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="dangKyThamDoTraLaiIOForm">
      <div class="container-fluid p-0">
        <!-- Số Giấy tờ-->
        <div class=" row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
              <label
                class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkythamdotralai.sogiayphep" | translate }}
                <small>(*)</small>
              </label>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <input type="hidden" formControlName="idgiayphep">
                <input class="form-control" type="text" formControlName="sogiayphep"
                  placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkythamdotralai.sogiayphepPlaceholder' | translate}}" />
                <span *ngIf="formErrors.idgiayphep || formErrors.sogiayphep"
                  class="alert-danger">{{formErrors.sogiayphep}}</span>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                <button class="btn btn-primary mb-sm-1" style="float: right;" (click)="openGiayPhepIOSidenav()">
                  <i class="fal fa-plus-square"></i>
                  {{ "COMMON.default.select" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Diện tích thăm dò & Diện tích trả lại-->
        <div class=" row" *ngIf="isTraLaiDienTichThamDo">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
              <label
                class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkythamdotralai.dientichthamdo" | translate }}
                <small>(*)</small>
              </label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <input class="form-control" type="text" formControlName="dientichthamdo"
                  placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkythamdotralai.dientichthamdoPlaceholder' | translate}}" />
                <span *ngIf="formErrors.dientichthamdo" class="alert-danger">{{formErrors.dientichthamdo}}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
              <label
                class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkythamdotralai.dientichtralai" | translate }}
                <small>(*)</small>
              </label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <input class="form-control" type="text" formControlName="dientichtralai"
                  placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkythamdotralai.dientichtralaiPlaceholder' | translate}}" />
                <span *ngIf="formErrors.dientichtralai" class="alert-danger">{{formErrors.dientichtralai}}</span>
              </div>
            </div>
          </div>
        </div>
        <!--đơn vị diện tích-->
        <div class=" row" *ngIf="isTraLaiDienTichThamDo">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
              <label
                class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkythamdotralai.donvidientich" | translate }}
                <small>(*)</small>
              </label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <mat-select class="form-control" formControlName="donvidientich" *ngIf="dataTranslate"
                  placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkythamdotralai.chondonvidientich' | translate}}">
                  <mat-option value="">
                    {{ "DANGKYHOATDONGKHOANGSAN.dangkythamdogiahan.chondonvidientich" | translate }}
                  </mat-option>
                  <mat-option *ngFor="let donViDienTich of donViDienTichList" [value]="donViDienTich.id">
                    {{ donViDienTich.name }}
                  </mat-option>
                </mat-select>
                <span *ngIf="formErrors.donvidientich" class="alert-danger">{{formErrors.donvidientich}}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Hệ quy chiếu & Lý do trả lại-->
        <div class=" row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
              <label
                class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"DANGKYHOATDONGKHOANGSAN.dangkythamdotralai.lydotralai" | translate}}</label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <textarea class="form-control" formControlName="lydotralai"
                  placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkythamdotralai.lydotralaiPlaceholder' | translate}}"></textarea>
                <span *ngIf="formErrors.lydotralai" class="alert-danger">{{formErrors.lydotralai}}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="isTraLaiDienTichThamDo">
            <div class="form-group row mx-0">
              <label
                class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"DANGKYHOATDONGKHOANGSAN.dangkythamdotralai.hequychieu" | translate}}
                <small>(*)</small>
              </label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <mat-select class="form-control"
                  placeholder="{{ 'DANGKYHOATDONGKHOANGSAN.dangkythamdotralai.chonhequychieu' | translate }}"
                  formControlName="hequychieu" *ngIf="dataTranslate">
                  <mat-option value="">
                    {{ "DANGKYHOATDONGKHOANGSAN.dangkythamdotralai.chonhequychieu" | translate }}
                  </mat-option>
                  <mat-option *ngFor="let hequychieu of allHeQuyChieu" [value]="hequychieu.srid">
                    {{("DANHMUC.hequychieu.meridian"  | translate) + ": " + hequychieu.meridian + " - " + ("DANHMUC.hequychieu.prjzone"  | translate) + ": " + hequychieu.prjzone}}
                  </mat-option>
                </mat-select>
                <span *ngIf="formErrors.hequychieu" class="alert-danger">{{formErrors.hequychieu}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>