<div class="container-fluid">
  <div class="row">
    <div class="col-5">
      <ejs-grid #gridLoaiTaiLieu *ngIf="listLoaitaiLieu" [dataSource]="listLoaitaiLieu" [allowTextWrap]="true" [textWrapSettings]='wrapSettings' [editSettings]="settingsCommon.editSettings" [allowPaging]="true" [allowSelection]="true" [allowSorting]="true" [pageSettings]="settingsCommon.pageSettings" [toolbar]="settingsCommon.toolbar" [allowResizing]='true' (rowSelected)="rowSelectedLoaiTaiLieu()" (rowDeselected)="rowSelectedLoaiTaiLieu()" class="table-striped">
        <e-columns>
          <e-column field="tenloaitailieu" headerText="Loại tài liệu" [customAttributes]="{class: 'gridloaitailieu-tenloaitailieu'}"></e-column>
          <e-column type="checkbox" isPrimaryKey='true' [customAttributes]="{class: 'gridloaitailieu-checkbox'}"></e-column>
        </e-columns>
      </ejs-grid>
    </div>
    <div class="col-1 text-center">
      <div class="d-inline-flex flex-column mt-5">
        <button class="btn btn-outline-secondary" [disabled]="disableBtnRight" (click)="btnDoubleRight()">
          <i class="fas fa-angle-double-right"></i>
        </button>
        <button class="btn btn-outline-secondary mt-3" [disabled]="disableBtnLeft" (click)="btnDoubleLeft()">
          <i class="fas fa-angle-double-left"></i>
        </button>
      </div>
    </div>
    <div class="col-6">
      <button (click)="getAllDataCauHinh()">Save</button>
      <ejs-grid #gridCauHinhTaiLieu *ngIf="listLoaitaiLieu" [dataSource]="listCauHinhTaiLieu" [allowTextWrap]="true"  [textWrapSettings]='wrapSettings' [editSettings]="editSettings" [allowPaging]="true" [allowSorting]="true" [pageSettings]="settingsCommon.pageSettings" [toolbar]="settingsCommon.toolbar" [allowResizing]='true' (rowSelected)="rowSelectedCauHinhTaiLieu()" (rowDeselected)="rowSelectedCauHinhTaiLieu()"  class="table-striped">
        <e-columns>
          <e-column field="tenloaitailieu" headerText="Loại tài liệu" isPrimaryKey='true' [customAttributes]="{class: 'gridcauhinhtailieu-tenloaitailieu'}"></e-column>
          <e-column field="sobanchinh" editType='numericedit' headerText="Số bản chính"></e-column>
          <e-column field="sobansao" editType='numericedit' headerText="Số bản sao"></e-column>
          <e-column type="checkbox" [allowEditing]='false' [customAttributes]="{class: 'gridcauhinhtailieu-checkbox'}"></e-column>
        </e-columns>
      </ejs-grid>
    </div>
  </div>
</div>