.gridloaitailieu-tenloaitailieu {
    width: 80% !important;
}

.gridcauhinhtailieu-tenloaitailieu {
    width: 40% !important;
}

.gridloaitailieu-checkbox {
    width: 20% !important;
}

.gridcauhinhtailieu-sobanchinh-sobansao {
    width: 20% !important;
}

.gridcauhinhtailieu-checkbox {
    width: 15% !important;
}