<div class="pt-3">
  <form *ngIf="editMode" [formGroup]="donvidoIOForm" class="pt-toolbar">
    <div
      class="form-group row mx-0"
      [ngClass]="displayFieldCss(formErrors.tendovido)"
    >
      <label class="col-sm-4 col-form-label text-right">
        {{ "DANHMUC.donvido.tendonvido" | translate }}
        <small>(*)</small>
      </label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="tendovido" />
        <span *ngIf="formErrors.tendovido" class="alert-danger">{{
          formErrors.tendovido
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">
        {{ "DANHMUC.donvido.kyhieudonvido" | translate }}
      </label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="kyhieudonvido" />
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">
        {{ "DANHMUC.donvido.idNhomdonvido" | translate }}
      </label>
      <div class="col-sm-8">
        <mat-select
          placeholder="{{ 'DANHMUC.donvido.chonNhomdonvido' | translate }}"
          class="form-control"
          formControlName="idNhomdonvido"
          *ngIf="dataTranslate"
        >
          <mat-select-filter
            [displayMember]="'tenndvd'"
            [array]="nhomDonvidoFilters"
            (filteredReturn)="allNhomDonvido = $event"
          >
          </mat-select-filter>
          <mat-option value="">
            {{ "DANHMUC.donvido.chonNhomdonvido" | translate }}
          </mat-option>
          <mat-option *ngFor="let ndvd of allNhomDonvido" [value]="ndvd.id">
            {{ ndvd.tenndvd }}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="toolbar-container py-2">
      <div class="function-toolbar">
        <div class="form-group row mx-0">
          <div class="col-12">
            <button
              class="btn btn-primary float-right"
              (click)="onSubmit(purpose)"
            >
              <i class="far fa-save"></i>
              {{ "COMMON.default.saveAndClose" | translate }}
            </button>
            <button
              class="btn btn-outline-primary float-right mr-3"
              *ngIf="purpose === 'new'"
              (click)="addOrUpdateContinue(purpose)"
            >
              <i class="far fa-download"></i>
              {{ "COMMON.default.saveAndRefresh" | translate }}
            </button>
            <button
              class="btn btn-outline-info float-right mr-3"
              *ngIf="purpose === 'new'"
              (click)="onFormReset()"
            >
              <i class="far fa-sync-alt"></i>
              {{ "COMMON.default.refresh" | translate }}
            </button>
            <button
              class="btn btn-danger float-right mr-3"
              (click)="closeDonvidoIOSidebar()"
            >
              <i class="far fa-times-circle"></i>
              {{ "COMMON.default.cancel" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
