<div class="pt-3 pb-4">
  <form [formGroup]="dKKhaiThacCongTrinhIOForm" class="pt-toolbar">
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithaccongtrinh.sohieu" | translate }} <small>(*)</small></label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="sohieu" placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithaccongtrinh.sohieuPlaceholder' | translate}}" />
        <span *ngIf="formErrors.sohieu" class="alert-danger">{{formErrors.sohieu}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANGKYHOATDONGKHOANGSAN.dangkykhaithaccongtrinh.chieusau" | translate}} <small>(*)</small></label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="chieusau" placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithaccongtrinh.chieusauPlaceholder' | translate}}" />
        <span *ngIf="formErrors.chieusau" class="alert-danger">{{formErrors.chieusau}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANGKYHOATDONGKHOANGSAN.dangkykhaithaccongtrinh.hequychieu" | translate}}
        <small>(*)</small>
      </label>
      <div class="col-sm-8">
        <mat-select class="form-control" placeholder="{{ 'DANGKYHOATDONGKHOANGSAN.dangkykhaithaccongtrinh.chonhequychieu' | translate }}"
                    formControlName="hequychieu" *ngIf="dataTranslate">
          <mat-option value="">
            {{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithaccongtrinh.chonhequychieu" | translate }}
          </mat-option>
          <mat-option *ngFor="let hequychieu of allHeQuyChieu" [value]="hequychieu.srid">
            {{("DANHMUC.hequychieu.meridian"  | translate) + ": " + hequychieu.meridian + " - " + ("DANHMUC.hequychieu.prjzone"  | translate) + ": " + hequychieu.prjzone}}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.hequychieu" class="alert-danger">{{formErrors.hequychieu}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANGKYHOATDONGKHOANGSAN.dangkykhaithaccongtrinh.toadox" | translate}} <small>(*)</small></label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="toadox" placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithaccongtrinh.toadoxPlaceholder' | translate}}" />
        <span *ngIf="formErrors.toadox" class="alert-danger">{{formErrors.toadox}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANGKYHOATDONGKHOANGSAN.dangkykhaithaccongtrinh.toadoy" | translate}} <small>(*)</small></label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="toadoy" placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithaccongtrinh.toadoyPlaceholder' | translate}}" />
        <span *ngIf="formErrors.toadoy" class="alert-danger">{{formErrors.toadoy}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANGKYHOATDONGKHOANGSAN.dangkykhaithaccongtrinh.luuluong" | translate}} <small>(*)</small></label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="luuluong" placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithaccongtrinh.luuluongPlaceholder' | translate}}" />
        <span *ngIf="formErrors.luuluong" class="alert-danger">{{formErrors.luuluong}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANGKYHOATDONGKHOANGSAN.dangkykhaithaccongtrinh.hathap" | translate}} <small>(*)</small></label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="hathap" placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithaccongtrinh.hathapPlaceholder' | translate}}" />
        <span *ngIf="formErrors.hathap" class="alert-danger">{{formErrors.hathap}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANGKYHOATDONGKHOANGSAN.dangkykhaithaccongtrinh.mucnuoctinh" | translate}} <small>(*)</small></label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="mucnuoctinh" placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithaccongtrinh.mucnuoctinhPlaceholder' | translate}}" />
        <span *ngIf="formErrors.mucnuoctinh" class="alert-danger">{{formErrors.mucnuoctinh}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANGKYHOATDONGKHOANGSAN.dangkykhaithaccongtrinh.ghichu" | translate}}</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="ghichu" placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithaccongtrinh.ghichuPlaceholder' | translate}}" />
        <span *ngIf="formErrors.ghichu" class="alert-danger">{{formErrors.ghichu}}</span>
      </div>
    </div>
    <div class="toolbar-container py-2">
      <div class="function-toolbar">
        <div class="form-group row mx-0">
          <div class="col-12">
            <button class="btn btn-primary float-right" (click)="onSubmit(purpose)">
              <i class="far fa-save"></i>
              {{ "COMMON.default.saveAndClose" | translate }}
            </button>
            <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose === 'new'"
                    (click)="onContinueAdd(purpose)">
              <i class="far fa-download"></i>
              {{ "COMMON.default.saveAndRefresh" | translate }}
            </button>
            <button class="btn btn-outline-info float-right mr-3" *ngIf="purpose === 'new'" (click)="onFormReset()">
              <i class="far fa-sync-alt"></i>
              {{ "COMMON.default.refresh" | translate }}
            </button>
            <button class="btn btn-danger float-right mr-3" (click)="closeKhuVucToaDoIOSidenav()">
              <i class="far fa-times-circle"></i>
              {{ "COMMON.default.cancel" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

