<div class="pt-3 pb-4">
  <form [formGroup]="canhanIOForm" class="pt-toolbar">
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{ "DANHMUC.canhan.hovaten" | translate }}
        <small>(*)</small></label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="hovaten" placeholder="{{'DANHMUC.canhan.hovatenPlaceholder' | translate}}" />
        <span *ngIf="formErrors.hovaten" class="alert-danger">{{formErrors.hovaten}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"DANHMUC.canhan.diachi" | translate}}</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="diachi" placeholder="{{'DANHMUC.canhan.diachiPlaceholder' | translate}}" />
        <span *ngIf="formErrors.diachi" class="alert-danger">{{formErrors.diachi}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"DANHMUC.canhan.sogiayto" | translate}}</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="sogiayto" placeholder="{{'DANHMUC.canhan.sogiaytoPlaceholder' | translate}}" />
        <span *ngIf="formErrors.sogiayto" class="alert-danger">{{formErrors.sogiayto}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"DANHMUC.canhan.loaigiayto" | translate}}</label>
      <div class="col-sm-9">
        <mat-select class="form-control" placeholder="{{'DANHMUC.canhan.chonLoaiGiayTo' | translate}}" formControlName="loaigiayto" *ngIf="dataTranslate">
          <mat-option value="">
            {{ "DANHMUC.canhan.chonLoaiGiayTo" | translate }}
          </mat-option>
          <mat-option *ngFor="let loai of loaigiayto" [value]="loai.id">
            {{ loai.name }}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.loaigiayto" class="alert-danger">{{formErrors.loaigiayto}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"DANHMUC.canhan.ngaycap" | translate}}</label>
      <div class="col-sm-9">
        <input class="form-control" formControlName="ngaycap" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" placeholder="{{'DANHMUC.canhan.ngaycapPlaceholder' | translate}}" />
        <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
        <span *ngIf="formErrors.ngaycap" class="alert-danger">{{formErrors.ngaycap}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"DANHMUC.canhan.noicap" | translate}}</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="noicap" placeholder="{{'DANHMUC.canhan.noicapPlaceholder' | translate}}" />
        <span *ngIf="formErrors.noicap" class="alert-danger">{{formErrors.noicap}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"DANHMUC.canhan.dienthoai" | translate}} <small>(*)</small></label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="dienthoai" placeholder="{{'DANHMUC.canhan.dienthoaiPlaceholder' | translate}}" />
        <span *ngIf="formErrors.dienthoai" class="alert-danger">{{formErrors.dienthoai}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"DANHMUC.canhan.email" | translate}} <small>(*)</small></label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="email" placeholder="{{'DANHMUC.canhan.emailPlaceholder' | translate}}" />
        <span *ngIf="formErrors.email" class="alert-danger">{{formErrors.email}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{ "COMMON.default.matinh" | translate }}
        <small>(*)</small></label>
      <div class="col-sm-9">
        <div class="row">
          <div class="{{classColDvhc ? 'col-sm-6' : 'col-sm-12'}}">
            <mat-select class="form-control"  placeholder="{{ 'COMMON.default.chonTinh' | translate }}" formControlName="matinh" [compareWith]="compareTinh" (selectionChange)="showDvhcHuyen()" *ngIf="dataTranslate">
              <mat-select-filter [displayMember]="'ten'"  [array]="dvhcProvinceFilters" (filteredReturn)="allTinh = $event">
              </mat-select-filter>
              <mat-option value="">
                {{ "COMMON.default.chonTinh" | translate }}
              </mat-option>
              <mat-option *ngFor="let tinh of allTinh" [value]="{idtinh: tinh.id, matinh: tinh.matinh}">
                {{ tinh.ten }}
              </mat-option> 
            </mat-select>
          </div>
          <div *ngIf="classColDvhc" class="{{classColDvhc ? 'col-sm-6' : ''}}">
            <label class="m-0">{{"COMMON.default.tentinhdangdung" | translate}}:</label><br>
            <span><b>Tỉnh Hà Giang</b></span>
          </div>
        </div>
        <span *ngIf="formErrors.matinh" class="alert-danger">{{formErrors.matinh}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{ "COMMON.default.mahuyen" | translate }}
        <small>(*)</small></label>
      <div class="col-sm-9">
        <div class="row">
          <div class="{{classColDvhc ? 'col-sm-6' : 'col-sm-12'}}">
            <mat-select class="form-control" formControlName="mahuyen" [compareWith]="compareHuyen" placeholder="{{ 'COMMON.default.chonHuyen' | translate }}" (selectionChange)="showDvhcXa()" *ngIf="dataTranslate">
              <mat-select-filter [displayMember]="'ten'" [array]="dvhcDistrictFilters"(filteredReturn)="allHuyen = $event">
              </mat-select-filter>
              <mat-option value="">
                {{ "COMMON.default.chonHuyen" | translate }}
              </mat-option>
              <mat-option *ngFor="let huyen of allHuyen" [value]="{idhuyen: huyen.id, mahuyen: huyen.mahuyen}">
                {{ huyen.ten }}
              </mat-option>
            </mat-select>
          </div>
          <div *ngIf="classColDvhc" class="{{classColDvhc ? 'col-sm-6' : ''}}">
            <label class="m-0">{{"COMMON.default.tenhuyendangdung" | translate}}:</label><br>
            <span><b>Tỉnh Hà Giang</b></span>
          </div>
        </div>
        <span *ngIf="formErrors.mahuyen" class="alert-danger">{{formErrors.mahuyen}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"COMMON.default.maxa" | translate}}</label>
      <div class="col-sm-9">
        <div class="row">
          <div class="{{classColDvhc ? 'col-sm-6' : 'col-sm-12'}}">
            <mat-select class="form-control" formControlName="maxa" placeholder="{{ 'COMMON.default.chonXa' | translate }}" [compareWith]="compareXa"  *ngIf="dataTranslate">
              <mat-select-filter [displayMember]="'ten'" [array]="dvhcWardFilters" (filteredReturn)="allXa = $event">
              </mat-select-filter>
              <mat-option value="">
                {{ "COMMON.default.chonXa" | translate }}
              </mat-option>
              <mat-option *ngFor="let xa of allXa" [value]="{idxa: xa.id, maxa: xa.maxa}">
                {{ xa.ten }}
              </mat-option>
            </mat-select>
          </div>
          <div *ngIf="classColDvhc" class="{{classColDvhc ? 'col-sm-6' : ''}}">
            <label class="m-0">{{"COMMON.default.tenxadangdung" | translate}}:</label><br>
            <span><b>Tỉnh Hà Giang</b></span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"DANHMUC.canhan.thutu" | translate}}</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="thutu" placeholder="{{'DANHMUC.canhan.thutuPlaceholder' | translate}}" />
        <span *ngIf="formErrors.thutu" class="alert-danger">{{formErrors.thutu}}</span>
      </div>
    </div>
    <div class="toolbar-container py-2">
      <div class="function-toolbar">
        <div class="form-group row mx-0">
          <div class="col-12">
            <button class="btn btn-primary float-right" (click)="onSubmit(purpose)">
              <i class="far fa-save"></i>
              {{ "COMMON.default.saveAndClose" | translate }}
            </button>
            <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose === 'new'"
              (click)="onContinueAdd(purpose)">
              <i class="far fa-download"></i>
              {{ "COMMON.default.saveAndRefresh" | translate }}
            </button>
            <button class="btn btn-outline-info float-right mr-3" *ngIf="purpose === 'new'" (click)="onFormReset()">
              <i class="far fa-sync-alt"></i>
              {{ "COMMON.default.refresh" | translate }}
            </button>
            <button class="btn btn-danger float-right mr-3" (click)="closeCanhanIOSidenav()">
              <i class="far fa-times-circle"></i>
              {{ "COMMON.default.cancel" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>