<!-- Container -->
<div class="flex-fill" id="not-authorized">
    <!-- Error title -->
    <div class="text-center mb-3">
        <h1 class="error-title">404</h1>
        <h5>Trang này không tồn tại!</h5>
        <!-- Error content -->
        <div class="row mt-5">
            <div class="col-xl-4 offset-xl-4 col-md-8 offset-md-2">
                <!-- Buttons -->
                <div class="row">
                    <div class="col-sm-6">
                        <a href="/" class="btn btn-primary btn-block">Trang chủ</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" class="btn btn-light btn-block mt-3 mt-sm-0">Tìm kiếm</a>
                    </div>
                </div>
                <!-- /buttons -->
            </div>
        </div>
        <!-- /error wrapper -->
    </div>
    <!-- /error title -->
</div>
<!-- /container -->