<div class="pt-3 pb-4">
  <form [formGroup]="nguongocmoIOForm" class="pt-toolbar">
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{ "DANHMUC.nguongocmo.manguongocmo" | translate }}</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="manguongocmo" placeholder="{{'DANHMUC.nguongocmo.manguongocmoPlaceholder' | translate}}" />
        <span *ngIf="formErrors.manguongocmo" class="alert-danger">{{formErrors.manguongocmo}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANHMUC.nguongocmo.tennguongocmo" | translate}} <small>(*)</small></label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="tennguongocmo" placeholder="{{'DANHMUC.nguongocmo.tennguongocmoPlaceholder' | translate}}" />
        <span *ngIf="formErrors.tennguongocmo" class="alert-danger">{{formErrors.tennguongocmo}}</span>
      </div>
    </div>
    <!-- <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANHMUC.nguongocmo.trangthai" | translate}}</label>
      <div class="col-sm-8">
        <mat-select class="form-control" placeholder="{{ 'DANHMUC.nguongocmo.chonTrangthai' | translate }}" formControlName="trangthai" *ngIf="dataTranslate">
          <mat-option value="">
            {{ "DANHMUC.nguongocmo.chonTrangthai" | translate }}
          </mat-option>
          <mat-option *ngFor="let tt of trangthai" [value]="tt.id">
            {{ tt.name }}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.trangthai" class="alert-danger">{{formErrors.trangthai}}</span>
      </div>
    </div> -->
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANHMUC.nguongocmo.mota" | translate}}</label>
      <div class="col-sm-8">
        <textarea class="form-control" formControlName="mota" placeholder="{{'DANHMUC.nguongocmo.motaPlaceholder' | translate}}"></textarea>
        <span *ngIf="formErrors.mota" class="alert-danger">{{formErrors.mota}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANHMUC.nguongocmo.thutu" | translate}}</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="thutu" placeholder="{{'DANHMUC.nguongocmo.thutuPlaceholder' | translate}}" />
        <span *ngIf="formErrors.thutu" class="alert-danger">{{formErrors.thutu}}</span>
      </div>
    </div>
    <div class="toolbar-container py-2">
      <div class="function-toolbar">
        <div class="form-group row mx-0">
          <div class="col-12">
            <button class="btn btn-primary float-right" (click)="onSubmit(purpose)">
              <i class="far fa-save"></i>
              {{ "COMMON.default.saveAndClose" | translate }}
            </button>
            <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose === 'new'"
              (click)="onContinueAdd(purpose)">
              <i class="far fa-download"></i>
              {{ "COMMON.default.saveAndRefresh" | translate }}
            </button>
            <button class="btn btn-outline-info float-right mr-3" *ngIf="purpose === 'new'" (click)="onFormReset()">
              <i class="far fa-sync-alt"></i>
              {{ "COMMON.default.refresh" | translate }}
            </button>
            <button class="btn btn-danger float-right mr-3" (click)="closeNguonGocMoIOSidenav()">
              <i class="far fa-times-circle"></i>
              {{ "COMMON.default.cancel" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
