<div class="card border mt-3">
  <div class="card-header">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>
          <span class="title" *ngIf="currentAction === ActionType.Add">
            {{ 'DANGKYHOATDONGKHOANGSAN.dangkykhaithacgiahan.titleAdd' | translate}}
          </span>
          <span class="title" *ngIf="currentAction === ActionType.Edit">
            {{ 'DANGKYHOATDONGKHOANGSAN.dangkykhaithacgiahan.titleEdit' | translate}}
          </span>
        </h4>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <button class="btn btn-primary mb-sm-1" style="float: right;" (click)="saveItemdangKyKhaiThacGiaHan()">
          <i class="fal fa-save"></i>
          {{ "COMMON.default.save" | translate }}
        </button>
        <button *ngIf="!disabledDeleteButton" class="btn btn-outline-danger mr-2" style="float: right;"
          (click)="deleteItemdangKyKhaiThacGiaHan()">
          <i class="far fa-trash"></i>
          {{ "COMMON.default.delete" | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="dangKyKhaiThacGiaHanIOForm">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group row mx-0">
            <label
              class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacgiahan.truluongkhaithac" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input class="form-control" type="text" formControlName="truluongkhaithac"
                placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithacgiahan.truluongkhaithacPlaceholder' | translate}}" />
              <span *ngIf="formErrors.truluongkhaithac" class="alert-danger">{{formErrors.truluongkhaithac}}</span>
            </div>
          </div>
          <div class="form-group row mx-0">
            <label
              class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacgiahan.truluongconlai" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input class="form-control" type="text" formControlName="truluongconlai"
                placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithacgiahan.truluongconlaiPlaceholder' | translate}}" />
              <span *ngIf="formErrors.truluongconlai" class="alert-danger">{{formErrors.truluongconlai}}</span>
            </div>
          </div>
          <div class="form-group row mx-0">
            <label
              class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacgiahan.donvitruluong" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <mat-select class="form-control" formControlName="donvitruluong" *ngIf="dataTranslate"
                placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithacgiahan.donvitruluongPlaceholder' | translate}}">
                <mat-option value="">
                  {{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacgiahan.donvitruluongPlaceholder" | translate }}
                </mat-option>
                <mat-option *ngFor="let donViTruLuong of donViTruLuongList" [value]="donViTruLuong.id">
                  {{ donViTruLuong.name }}
                </mat-option>
              </mat-select>
              <span *ngIf="formErrors.donvitruluong" class="alert-danger">{{formErrors.donvitruluong}}</span>
            </div>
          </div>
          <div class="form-group row mx-0">
            <label
              class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacgiahan.thoihankhaithac" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input class="form-control" type="text" formControlName="thoihankhaithac"
                placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithacgiahan.thoihankhaithacPlaceholder' | translate}}" />
              <span *ngIf="formErrors.thoihankhaithac" class="alert-danger">{{formErrors.thoihankhaithac}}</span>
            </div>
          </div>
          <div class="form-group row mx-0">
            <label
              class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacgiahan.donvithoihan" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <mat-select class="form-control" formControlName="donvithoihan" *ngIf="dataTranslate"
                placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithacgiahan.chondonvithoihan' | translate}}">
                <mat-option value="">
                  {{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacgiahan.chondonvithoihan" | translate }}
                </mat-option>
                <mat-option *ngFor="let donViThoiHan of donViThoiHanList" [value]="donViThoiHan.id">
                  {{ donViThoiHan.name }}
                </mat-option>
              </mat-select>
              <span *ngIf="formErrors.donvithoihan" class="alert-danger">{{formErrors.donvithoihan}}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group row mx-0">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkythamdokhoangsan.donvidientich" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <mat-select class="form-control" formControlName="donvidientich"
                *ngIf="dataTranslate" placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkythamdokhoangsan.chondonvidientich' | translate}}">
                <mat-option value="">
                  {{ "DANGKYHOATDONGKHOANGSAN.dangkythamdogiahan.chondonvidientich" | translate }}
                </mat-option>
                <mat-option *ngFor="let donViDienTich of donViDienTichList" [value]="donViDienTich.id">
                  {{ donViDienTich.name }}
                </mat-option>
              </mat-select>
              <span *ngIf="formErrors.donvidientich" class="alert-danger">{{formErrors.donvidientich}}</span>
            </div>
          </div>
          <div class="form-group row mx-0">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"DANGKYHOATDONGKHOANGSAN.dangkykhaithacgiahan.giahandenngay" | translate}}</label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input class="form-control" formControlName="giahandenngay" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithacgiahan.giahandenngayPlaceholder' | translate}}" />
              <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
              <span *ngIf="formErrors.giahandenngay" class="alert-danger">{{formErrors.giahandenngay}}</span>
            </div>
          </div>
          <div class="form-group row mx-0">
            <label
              class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"DANGKYHOATDONGKHOANGSAN.dangkykhaithacgiahan.hequychieu" | translate}}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <mat-select class="form-control"
                placeholder="{{ 'DANGKYHOATDONGKHOANGSAN.dangkykhaithacgiahan.chonhequychieu' | translate }}"
                formControlName="hequychieu" *ngIf="dataTranslate">
                <mat-option value="">
                  {{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacgiahan.chonhequychieu" | translate }}
                </mat-option>
                <mat-option *ngFor="let hequychieu of allHeQuyChieu" [value]="hequychieu.srid">
                  {{("DANHMUC.hequychieu.meridian"  | translate) + ": " + hequychieu.meridian + " - " + ("DANHMUC.hequychieu.prjzone"  | translate) + ": " + hequychieu.prjzone}}
                </mat-option>
              </mat-select>
              <span *ngIf="formErrors.hequychieu" class="alert-danger">{{formErrors.hequychieu}}</span>
            </div>
          </div>
          <div class="form-group row mx-0">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"DANGKYHOATDONGKHOANGSAN.dangkykhaithacgiahan.lydogiahan" | translate}}</label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <textarea class="form-control" formControlName="lydogiahan" placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithacgiahan.lydogiahanPlaceholder' | translate}}"></textarea>
              <span *ngIf="formErrors.lydogiahan" class="alert-danger">{{formErrors.lydogiahan}}</span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>