<div class="card border mt-3">
  <div class="card-header">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>
          <span class="title">{{title}}</span>
        </h4>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <button class="btn btn-primary mb-sm-1" style="float: right;" (click)="saveItemCapPhepTanThu()">
          <i class="fal fa-save"></i>
          {{ "COMMON.default.save" | translate }}
        </button>
        <button *ngIf="!disabledDeleteButton" class="btn btn-outline-danger mr-2" style="float: right;"
                (click)="deleteItemCapPhepTanThuKhoangSan()">
          <i class="far fa-trash"></i>
          {{ "COMMON.default.delete" | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="capPhepTanThuIOForm">
      <div class="container-fluid p-0">

        <div class=" row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
              <label
                class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.tenkhuvuctanthu" | translate }}
                <small>(*)</small>
              </label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <input class="form-control" type="text" formControlName="tenkhuvuctanthu"
                       placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.tenkhuvuctanthuPlaceholder' | translate}}"/>
                <span *ngIf="formErrors.tenkhuvuctanthu" class="alert-danger">{{formErrors.tenkhuvuctanthu}}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
              <label
                class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.diadiem" | translate }}
                <small>(*)</small>
              </label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <input class="form-control" type="text" formControlName="diadiem"
                       placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.diadiemPlaceholder' | translate}}"/>
                <span *ngIf="formErrors.diadiem" class="alert-danger">{{formErrors.diadiem}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class=" row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
              <label
                class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.dientichkhaithac" | translate }}
                <small>(*)</small>
              </label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <input class="form-control" type="text" formControlName="dientichkhaithac"
                       placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.dientichkhaithacPlaceholder' | translate}}"/>
                <span *ngIf="formErrors.dientichkhaithac"
                      class="alert-danger">{{formErrors.dientichkhaithac}}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
              <label
                class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.donvidientich" | translate }}
                <small>(*)</small>
              </label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <mat-select class="form-control" formControlName="donvidientich" *ngIf="dataTranslate"
                            placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.chondonvidientich' | translate}}">
                  <mat-option value="">
                    {{ "CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.chondonvidientich" | translate }}
                  </mat-option>
                  <mat-option *ngFor="let donViDienTich of donViDienTichList" [value]="donViDienTich.id">
                    {{ donViDienTich.name }}
                  </mat-option>
                </mat-select>
                <span *ngIf="formErrors.donvidientich"
                      class="alert-danger">{{formErrors.donvidientich}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class=" row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
              <label
                class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.truluongdiachat" | translate }}
                <small>(*)</small>
              </label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <input class="form-control" type="text" formControlName="truluongdiachat"
                       placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.truluongdiachatPlaceholder' | translate}}"/>
                <span *ngIf="formErrors.truluongdiachat" class="alert-danger">{{formErrors.truluongdiachat}}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
              <label
                class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.donvitruluong" | translate }}
                <small>(*)</small>
              </label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <mat-select class="form-control" formControlName="donvitruluong" *ngIf="dataTranslate"
                            placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.chondonvitruluong' | translate}}">
                  <mat-option value="">
                    {{ "CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.chondonvitruluong" | translate }}
                  </mat-option>
                  <mat-option *ngFor="let donViTruLuong of donViTruLuongList" [value]="donViTruLuong.id">
                    {{ donViTruLuong.name }}
                  </mat-option>
                </mat-select>
                <span *ngIf="formErrors.donvitruluong" class="alert-danger">{{formErrors.donvitruluong}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class=" row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
              <label
                class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.truluongkhaithac" | translate }}
                <small>(*)</small>
              </label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <input class="form-control" type="text" formControlName="truluongkhaithac"
                       placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.truluongkhaithacPlaceholder' | translate}}"/>
                <span *ngIf="formErrors.truluongkhaithac" class="alert-danger">{{formErrors.truluongkhaithac}}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
            </div>
          </div>
        </div>

        <div class=" row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
              <label
                class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.thoihankhaithac" | translate }}
                <small>(*)</small>
              </label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <input class="form-control" type="text" formControlName="thoihankhaithac"
                       placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.thoihankhaithacPlaceholder' | translate}}"/>
                <span *ngIf="formErrors.thoihankhaithac" class="alert-danger">{{formErrors.thoihankhaithac}}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
              <label
                class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.donvithoihan" | translate }}
                <small>(*)</small>
              </label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <mat-select class="form-control" formControlName="donvithoihan" *ngIf="dataTranslate"
                            placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.chondonvithoihan' | translate}}">
                  <mat-option value="">
                    {{ "CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.chondonvithoihan" | translate }}
                  </mat-option>
                  <mat-option *ngFor="let donViThoiHan of donViThoiHanList" [value]="donViThoiHan.id">
                    {{ donViThoiHan.name }}
                  </mat-option>
                </mat-select>
                <span *ngIf="formErrors.donvithoihan"
                      class="alert-danger">{{formErrors.donvithoihan}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class=" row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
              <label
                class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.ngaybdkhaithac" | translate}}
                <small>(*)</small>
              </label>
              <div class="col-lg-8 col-md-8 col-sm-8 ">
                <div class="d-flex">
                  <input class="form-control mr-2" formControlName="ngaybdkhaithac"
                         [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"
                         placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.ngaybdkhaithacPlaceholder' | translate}}" />
                  <span [owlDateTimeTrigger]="dt1" style="cursor: pointer;"
                        class="btn btn-outline-secondary"><i class="fa fa-calendar"></i></span>
                  <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                </div>
                <span *ngIf="formErrors.ngaybdkhaithac"
                      class="alert-danger">{{formErrors.ngaybdkhaithac}}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
              <label
                class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.ngayktkhaithac" | translate}}
                <small>(*)</small>
              </label>
              <div class="col-lg-8 col-md-8 col-sm-8 ">
                <div class="d-flex">
                  <input class="form-control mr-2" formControlName="ngayktkhaithac"
                         [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"
                         placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.ngayktkhaithacPlaceholder' | translate}}" />
                  <span [owlDateTimeTrigger]="dt2" style="cursor: pointer;"
                        class="btn btn-outline-secondary"><i class="fa fa-calendar"></i></span>
                  <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
                </div>
                <span *ngIf="formErrors.ngayktkhaithac"
                      class="alert-danger">{{formErrors.ngayktkhaithac}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class=" row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
              <label
                class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.congsuatkhaithac" | translate }}
                <small>(*)</small>
              </label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <input class="form-control" type="text" formControlName="congsuatkhaithac"
                       placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.congsuatkhaithacPlaceholder' | translate}}"/>
                <span *ngIf="formErrors.congsuatkhaithac" class="alert-danger">{{formErrors.congsuatkhaithac}}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
              <label
                class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.donvicongsuat" | translate }}
                <small>(*)</small>
              </label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <mat-select class="form-control" formControlName="donvicongsuat" *ngIf="dataTranslate">
                  <mat-option value="">
                    {{ "CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.donvicongsuatPlaceholder" | translate }}
                  </mat-option>
                  <mat-option *ngFor="let dvCongSuat of donViCongSuatList" [value]="dvCongSuat.id">
                    {{ dvCongSuat.name }}
                  </mat-option>
                </mat-select>
                <span *ngIf="formErrors.donvicongsuat" class="alert-danger">{{formErrors.donvicongsuat}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class=" row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
              <label
                class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.mucsaukhaithactu" | translate }}
                <small>(*)</small>
              </label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <input class="form-control" type="text" formControlName="mucsaukhaithactu"
                       placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.mucsaukhaithactuPlaceholder' | translate}}"/>
                <span *ngIf="formErrors.mucsaukhaithactu" class="alert-danger">{{formErrors.mucsaukhaithactu}}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
              <label
                class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.donvichieusau" | translate }}
                <small>(*)</small>
              </label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <mat-select class="form-control" formControlName="donvichieusau" *ngIf="dataTranslate"
                            placeholder="{{ 'CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.chondonvichieusau' | translate }}">
                  <mat-option value="">
                    {{ "CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.chondonvichieusau" | translate }}
                  </mat-option>
                  <mat-option *ngFor="let donViDoSau of donViDoSauList" [value]="donViDoSau.id">
                    {{ donViDoSau.name }}
                  </mat-option>
                </mat-select>
                <span *ngIf="formErrors.donvichieusau" class="alert-danger">{{formErrors.donvichieusau}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class=" row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
              <label
                class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.mucsaukhaithacden" | translate }}
                <small>(*)</small>
              </label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <input class="form-control" type="text" formControlName="mucsaukhaithacden"
                       placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.mucsaukhaithacdenPlaceholder' | translate}}"/>
                <span *ngIf="formErrors.mucsaukhaithacden" class="alert-danger">{{formErrors.mucsaukhaithacden}}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
            </div>
          </div>
        </div>

        <div class=" row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
              <label
                class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.phuongphapkhaithac" | translate}}
                <small>(*)</small>
              </label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <mat-select class="form-control" formControlName="phuongphapkhaithac" *ngIf="dataTranslate">
                  <mat-option value="">
                    {{ "CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.phuongphapkhaithacPlaceholder" | translate }}
                  </mat-option>
                  <mat-option *ngFor="let phuongphap of phuongPhapKhaiThac" [value]="phuongphap.id">
                    {{ phuongphap.name }}
                  </mat-option>
                </mat-select>
                <span *ngIf="formErrors.phuongphapkhaithac"
                      class="alert-danger">{{formErrors.phuongphapkhaithac}}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row mx-0">
              <label
                class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.hequychieu" | translate}}
                <small>(*)</small>
              </label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <mat-select class="form-control"
                            placeholder="{{ 'CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.chonhequychieu' | translate }}"
                            formControlName="hequychieu" *ngIf="dataTranslate">
                  <mat-option value="">
                    {{ "CAPPHEPHOATDONGKHOANGSAN.cpttkstanthukhoangsan.chonhequychieu" | translate }}
                  </mat-option>
                  <mat-option *ngFor="let hequychieu of allHeQuyChieu" [value]="hequychieu.srid">
                    {{("DANHMUC.hequychieu.meridian"  | translate) + ": " + hequychieu.meridian + " - " + ("DANHMUC.hequychieu.prjzone"  | translate) + ": " + hequychieu.prjzone}}
                  </mat-option>
                </mat-select>
                <span *ngIf="formErrors.hequychieu" class="alert-danger">{{formErrors.hequychieu}}</span>
              </div>
            </div>
          </div>
        </div>


      </div>
    </form>
  </div>
</div>
