<div class="pt-3">
  <form [formGroup]="nhomKhoangSanIOForm" class="pt-toolbar">
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{ "DANHMUC.nhomkhoangsan.manhomkhoangsan" | translate }}</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="manhomkhoangsan" placeholder="{{'DANHMUC.nhomkhoangsan.manhomkhoangsanPlaceholder' | translate}}" />
        <span *ngIf="formErrors.manhomkhoangsan" class="alert-danger">{{formErrors.manhomkhoangsan}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANHMUC.nhomkhoangsan.tennhomkhoangsan" | translate}}</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="tennhomkhoangsan" placeholder="{{'DANHMUC.nhomkhoangsan.tennhomkhoangsanPlaceholder' | translate}}" />
        <span *ngIf="formErrors.tennhomkhoangsan" class="alert-danger">{{formErrors.tennhomkhoangsan}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANHMUC.nhomkhoangsan.trangthai" | translate}}</label>
      <div class="col-sm-8">
        <mat-select class="form-control" placeholfer="{{ 'DANHMUC.nhomkhoangsan.chonTrangthai' | translate }}" formControlName="trangthai" *ngIf="dataTranslate">
          <mat-option value="">
            {{ "DANHMUC.nhomkhoangsan.chonTrangthai" | translate }}
          </mat-option>
          <mat-option *ngFor="let tt of trangthai" [value]="tt.id">
            {{ tt.name }}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.trangthai" class="alert-danger">{{formErrors.trangthai}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANHMUC.nhomkhoangsan.thutu" | translate}}</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="thutu" placeholder="{{'DANHMUC.nhomkhoangsan.thutuPlaceholder' | translate}}" />
        <span *ngIf="formErrors.thutu" class="alert-danger">{{formErrors.thutu}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"DANHMUC.nhomkhoangsan.mota" | translate}}</label>
      <div class="col-sm-8">
        <textarea class="form-control" formControlName="mota" placeholder="{{'DANHMUC.nhomkhoangsan.motaPlaceholder' | translate}}"></textarea>
        <span *ngIf="formErrors.mota" class="alert-danger">{{formErrors.mota}}</span>
      </div>
    </div>
    <div class="toolbar-container py-2">
      <div class="function-toolbar">
        <div class="form-group row mx-0">
          <div class="col-12">
            <button class="btn btn-primary float-right" (click)="onSubmit(purpose)">
              <i class="far fa-save"></i>
              {{ "COMMON.default.saveAndClose" | translate }}
            </button>
            <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose === 'new'"
              (click)="onContinueAdd(purpose)">
              <i class="far fa-download"></i>
              {{ "COMMON.default.saveAndRefresh" | translate }}
            </button>
            <button class="btn btn-outline-info float-right mr-3" *ngIf="purpose === 'new'" (click)="onFormReset()">
              <i class="far fa-sync-alt"></i>
              {{ "COMMON.default.refresh" | translate }}
            </button>
            <button class="btn btn-danger float-right mr-3" (click)="closeNhomKhoangSanIOSidenav()">
              <i class="far fa-times-circle"></i>
              {{ "COMMON.default.cancel" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>