<div>
  <div class="row mb-3">
    <div class="col-12">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button class="btn btn-sm btn-primary" (click)="setZoom();">Set Zoom to 10</button>
        <button class="btn btn-sm btn-outline-success" (click)="setCenter();">Set Center</button>
        <button class="btn btn-sm btn-info" (click)="setView();">Set View</button>
        <button class="btn btn-sm btn-outline-success" (click)="addMekong();">Add Mekong Basin</button>
      </div>
    </div>
  </div>
  <div id="viewMap" style="height: 500px; width: 100%"></div>
</div>
