
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-12 px-0">
      <div class="card border">
        <div class="card-header">
          <h3>
            <div class="row">
              <div class="col-md-4 mb-sm-1">
                <span class="title">{{ "DANGKYHOATDONGKHOANGSAN.dangkythamdoloaikhoangsan.titleList" | translate }}</span>
              </div>
              <div class="col-md-8">
                <button class="btn btn-primary mb-sm-1" style="float: right;" (click)="openDkThamDoLoaiKhoangSanIOSidenav()">
                  <i class="fal fa-plus-square"></i>
                  {{ "COMMON.default.add" | translate }}
                </button>
                <button class="btn btn-outline-primary mr-2" style="float: right;" (click)="reloadDataGrid()">
                  <i class="far fa-sync-alt"></i>
                  {{ "COMMON.default.load" | translate }}
                </button>
              </div>
            </div>
          </h3>
        </div>
        <div class="card-body">
          <ejs-grid #gridDkThamDoLoaiKhoangSan *ngIf="listDkThamDoLoaiKhoangSan" [dataSource]="listDkThamDoLoaiKhoangSan"
                    [editSettings]="settingsCommon.editSettings" [allowPaging]="true" [allowSorting]="true"
                    [pageSettings]="settingsCommon.pageSettings" [toolbar]="settingsCommon.toolbar" class="table-striped"
                    [allowResizing]="true">
            <e-columns>
              <e-column field="serialNumber" headerText="{{ 'COMMON.default.numericalOrder' | translate }}"></e-column>
              <e-column field="tenloaikhoangsan" headerText="{{ 'DANGKYHOATDONGKHOANGSAN.dangkythamdoloaikhoangsan.tenloaikhoangsan' | translate }}"></e-column>
              <e-column field="tennhomkhoangsan" headerText="{{ 'DANGKYHOATDONGKHOANGSAN.dangkythamdoloaikhoangsan.tennhomkhoangsan' | translate }}"></e-column>
              <e-column field="idthamdoloaikhoangsan" isPrimaryKey='true' headerText="{{ 'COMMON.default.action' | translate }}">
                <ng-template #template let-data>
                  <div class="btn-group">
                    <button class="btn btn-sm btn-primary" title="{{ 'COMMON.default.edit' | translate }}"
                            (click)="editItemDkThamDoLoaiKhoangSan(data.idthamdoloaikhoangsan)">
                      <i class="far fa-edit"></i>
                    </button>
                    <button class="btn btn-sm btn-danger" title="{{ 'COMMON.default.delete' | translate }}"
                            (click)="deleteItemDangKyThamDoLoaiKhoangSan(data)">
                      <i class="far fa-trash"></i>
                    </button>
                  </div>
                </ng-template>
              </e-column>
            </e-columns>
          </ejs-grid>
        </div>
      </div>
    </div>
  </div>
</div>
