<div class="pt-3 pb-4">
  <form [formGroup]="cpThamDoCongTrinhIOForm" class="pt-toolbar">
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.capphepthamdocongtrinh.sohieu" | translate }} <small>(*)</small></label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="sohieu" placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.capphepthamdocongtrinh.sohieuPlaceholder' | translate}}" />
        <span *ngIf="formErrors.sohieu" class="alert-danger">{{formErrors.sohieu}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"CAPPHEPHOATDONGKHOANGSAN.capphepthamdocongtrinh.chieusau" | translate}} <small>(*)</small></label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="chieusau" placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.capphepthamdocongtrinh.chieusauPlaceholder' | translate}}" />
        <span *ngIf="formErrors.chieusau" class="alert-danger">{{formErrors.chieusau}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"CAPPHEPHOATDONGKHOANGSAN.capphepthamdocongtrinh.hequychieu" | translate}}
        <small>(*)</small>
      </label>
      <div class="col-sm-8">
        <mat-select class="form-control" placeholder="{{ 'CAPPHEPHOATDONGKHOANGSAN.capphepthamdocongtrinh.chonhequychieu' | translate }}"
          formControlName="hequychieu" *ngIf="dataTranslate">
          <mat-option value="">
            {{ "CAPPHEPHOATDONGKHOANGSAN.capphepthamdocongtrinh.chonhequychieu" | translate }}
          </mat-option>
          <mat-option *ngFor="let hequychieu of allHeQuyChieu" [value]="hequychieu.srid">
            {{("DANHMUC.hequychieu.meridian"  | translate) + ": " + hequychieu.meridian + " - " + ("DANHMUC.hequychieu.prjzone"  | translate) + ": " + hequychieu.prjzone}}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.hequychieu" class="alert-danger">{{formErrors.hequychieu}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"CAPPHEPHOATDONGKHOANGSAN.capphepthamdocongtrinh.toadox" | translate}} <small>(*)</small></label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="toadox" placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.capphepthamdocongtrinh.toadoxPlaceholder' | translate}}" />
        <span *ngIf="formErrors.toadox" class="alert-danger">{{formErrors.toadox}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"CAPPHEPHOATDONGKHOANGSAN.capphepthamdocongtrinh.toadoy" | translate}} <small>(*)</small></label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="toadoy" placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.capphepthamdocongtrinh.toadoyPlaceholder' | translate}}" />
        <span *ngIf="formErrors.toadoy" class="alert-danger">{{formErrors.toadoy}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">{{"CAPPHEPHOATDONGKHOANGSAN.capphepthamdocongtrinh.ghichu" | translate}}</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="ghichu" placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.capphepthamdocongtrinh.ghichuPlaceholder' | translate}}" />
        <span *ngIf="formErrors.ghichu" class="alert-danger">{{formErrors.ghichu}}</span>
      </div>
    </div>
    <div class="toolbar-container py-2">
      <div class="function-toolbar">
        <div class="form-group row mx-0">
          <div class="col-12">
            <button class="btn btn-primary float-right" (click)="onSubmit(purpose)">
              <i class="far fa-save"></i>
              {{ "COMMON.default.saveAndClose" | translate }}
            </button>
            <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose === 'new'"
              (click)="onContinueAdd(purpose)">
              <i class="far fa-download"></i>
              {{ "COMMON.default.saveAndRefresh" | translate }}
            </button>
            <button class="btn btn-outline-info float-right mr-3" *ngIf="purpose === 'new'" (click)="onFormReset()">
              <i class="far fa-sync-alt"></i>
              {{ "COMMON.default.refresh" | translate }}
            </button>
            <button class="btn btn-danger float-right mr-3" (click)="closeCongTrinhThamDoIOSidenav()">
              <i class="far fa-times-circle"></i>
              {{ "COMMON.default.cancel" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

