<app-sub-header [menuItems]="navArray"></app-sub-header>

<div class="content pt-3">
  <mat-sidenav-container class="sidenav-container" hasBackdrop="false">
    <mat-sidenav-content>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 px-0">
            <div class="card border">
              <div class="card-header">
                <h3>
                  <span class="title">{{ "MAP.map.titleList" | translate }}</span>
                  <button class="btn btn-primary ml-3" style="float: right;" (click)="openIOSidebar()"
                    [disabled]="!canAddMapListAction">
                    <i class="fal fa-plus-square"></i>
                    {{ "COMMON.default.add" | translate }}
                  </button>
                  <button class="btn btn-outline-primary" style="float: right;" (click)="getAllItems()"
                    [disabled]="!canListMapListAction">
                    <i class="far fa-sync-alt"></i>
                    {{ "COMMON.default.load" | translate }}
                  </button>
                </h3>
              </div>
              <div class="card-body">
                <ejs-grid #grid *ngIf="dataTranslate" [dataSource]="listItems | async" allowPaging="true"
                  [allowSorting]="true" [allowResizing]="true" [toolbar]="settingsCommon.toolbar"
                  [pageSettings]="settingsCommon.pageSettings" class="table-striped"
                  (dataStateChange)="dataStateChange($event)">
                  <e-columns>
                    <e-column field="serialNumber" headerText="{{'COMMON.default.numericalOrder' | translate}}">
                    </e-column>
                    <e-column field="mapTitle" headerText="{{ 'MAP.map.mapTitle' | translate }}"></e-column>
                    <e-column field="description" headerText="{{ 'MAP.map.description' | translate }}">
                      <ng-template #template let-data>
                        <span [innerHtml]="data.mapAbstract"></span>
                      </ng-template>
                    </e-column>
                    <e-column field="projectionId" headerText="{{ 'MAP.map.projection' | translate }}">
                      <ng-template #template let-data>
                        {{ data.projectionId | getFieldValueFromArrayObject : listProjections : "name" }}
                      </ng-template>
                    </e-column>
                    <e-column field="status" headerText="{{ 'MAP.map.status' | translate }}">
                      <ng-template #template let-data>
                        <span [attr.disabled]="!data.status !== null" [ngClass]="{
                            label: true,
                            'label-success': data.status === 1,
                            'label-default': data.status !== 1
                          }">
                          {{ data.status | getFieldValueFromArrayObject: mapStatus:"name" }}
                        </span>
                      </ng-template>
                    </e-column>
                    <e-column field="webMaxscale" headerText="{{ 'MAP.map.webMaxscale' | translate }}"></e-column>
                    <e-column field="status" headerText="{{ 'MAP.map.image' | translate }}">
                      <ng-template #template let-data>
                        <img src="{{
                            data.refImageLink
                              ? data.refImageLink
                              : 'assets/media/images/no_map_img.jpg'
                          }}" [style.width]="'80%'" [style.maxHeight]="'70px'" alt="{{ data.mapTitle }}" />
                      </ng-template>
                    </e-column>
                    <e-column headerText="{{ 'COMMON.default.action' | translate }}">
                      <ng-template #template let-data>
                        <div class="btn-group">
                          <button class="btn btn-sm btn-primary" (click)="editItem(data)"
                            title="{{ 'COMMON.default.edit' | translate }}" [disabled]="!canEditMapListAction">
                            <i class="fal fa-edit"></i>
                          </button>
                          <button class="btn btn-sm btn-info" title="{{ 'COMMON.default.detail' | translate }}"
                            (click)="detailItem(data.id)" [disabled]="!canDetailMapListAction">
                            <i class="fal fa-ellipsis-h"></i>
                          </button>
                          <button class="btn btn-sm btn-danger" (click)="deleteItem(data)"
                            title="{{ 'COMMON.default.delete' | translate }}" [disabled]="!canDeleteMapListAction">
                            <i class="fal fa-trash"></i>
                          </button>
                        </div>
                      </ng-template>
                    </e-column>
                  </e-columns>
                </ejs-grid>
              </div>
            </div>
          </div>
        </div>
      </div>

      <mat-sidenav #aside [fixedInViewport]="true" [fixedTopGap]="50" class="aside" position="end"
        style="width: 600px;">
        <div class="p-2 pl-3 bg-primary text-white mat-sidenav-title">
          <button class="btn btn-sm btn-light" (click)="closeIOSidebar()">
            <i class="fad fa-chevron-double-right"></i>
          </button>
          <span style="vertical-align: middle;"
            class="ml-3 mat-sidenav-title-text">{{ matSidenavService.sidenavTitle }}</span>
        </div>
        <template #ioSidebar> </template>
      </mat-sidenav>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
