<div class="card border mt-3">
  <div class="card-header">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>
          <span class="title" *ngIf="currentAction === ActionType.Add">
            {{ 'DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.titleAdd' | translate}}
          </span>
          <span class="title" *ngIf="currentAction === ActionType.Edit">
            {{ 'DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.titleEdit' | translate}}
          </span>
        </h4>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <button class="btn btn-primary mb-sm-1" style="float: right;" (click)="saveItemdangKyKhaiThacVLXD()">
          <i class="fal fa-save"></i>
          {{ "COMMON.default.save" | translate }}
        </button>
        <button *ngIf="!disabledDeleteButton" class="btn btn-outline-danger mr-2" style="float: right;"
                (click)="deleteItemdangKyKhaiThacVLXD()">
          <i class="far fa-trash"></i>
          {{ "COMMON.default.delete" | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="dangKyKhaiThacVLXDIOForm">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group row mx-0">
            <label
              class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.dientichkhaithac" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input class="form-control" type="text" formControlName="dientichkhaithac"
                     placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.dientichkhaithacPlaceholder' | translate}}"/>
              <span *ngIf="formErrors.dientichkhaithac" class="alert-danger">{{formErrors.dientichkhaithac}}</span>
            </div>
          </div>

          <div class="form-group row mx-0">
            <label
              class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.khoiluongkhaithac" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input class="form-control" type="text" formControlName="khoiluongkhaithac"
                     placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.khoiluongkhaithacPlaceholder' | translate}}"/>
              <span *ngIf="formErrors.khoiluongkhaithac" class="alert-danger">{{formErrors.khoiluongkhaithac}}</span>
            </div>
          </div>

          <div class="form-group row mx-0">
            <label
              class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.donvikhoiluong" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <mat-select class="form-control" formControlName="donvikhoiluong" *ngIf="dataTranslate"
                          placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.donvikhoiluongPlaceholder' | translate}}">
                <mat-option value="">
                  {{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.donvikhoiluongPlaceholder" | translate }}
                </mat-option>
                <mat-option *ngFor="let donViTruLuong of donViTruLuongList" [value]="donViTruLuong.id">
                  {{ donViTruLuong.name }}
                </mat-option>
              </mat-select>
              <span *ngIf="formErrors.donvikhoiluong" class="alert-danger">{{formErrors.donvikhoiluong}}</span>
            </div>
          </div>

          <div class="form-group row mx-0">
            <label
              class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.congsuatkhaithac" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input class="form-control" type="text" formControlName="congsuatkhaithac"
                     placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.congsuatkhaithacPlaceholder' | translate}}"/>
              <span *ngIf="formErrors.congsuatkhaithac" class="alert-danger">{{formErrors.congsuatkhaithac}}</span>
            </div>
          </div>

          <div class="form-group row mx-0">
            <label
              class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.donvicongsuat" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <mat-select class="form-control" formControlName="donvicongsuat" *ngIf="dataTranslate"
                          placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.donvicongsuatPlaceholder' | translate}}">
                <mat-option value="">
                  {{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.donvicongsuatPlaceholder" | translate }}
                </mat-option>
                <mat-option *ngFor="let donViCongSuat of donViCongSuat" [value]="donViCongSuat.id">
                  {{ donViCongSuat.name }}
                </mat-option>
              </mat-select>
              <span *ngIf="formErrors.donvicongsuat" class="alert-danger">{{formErrors.donvicongsuat}}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group row mx-0">
            <label
              class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.mucsaukhaithactu" | translate }}
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input class="form-control" type="text" formControlName="mucsaukhaithactu"
                     placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.mucsaukhaithactuPlaceholder' | translate}}"/>
              <span *ngIf="formErrors.mucsaukhaithactu" class="alert-danger">{{formErrors.mucsaukhaithactu}}</span>
            </div>
          </div>

          <div class="form-group row mx-0">
            <label
              class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.mucsaukhaithacden" | translate }}
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input class="form-control" type="text" formControlName="mucsaukhaithacden"
                     placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.mucsaukhaithacdenPlaceholder' | translate}}"/>
              <span *ngIf="formErrors.mucsaukhaithacden" class="alert-danger">{{formErrors.mucsaukhaithacden}}</span>
            </div>
          </div>

          <div class="form-group row mx-0">
            <label
              class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.donvichieusau" | translate }}
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <mat-select class="form-control" formControlName="donvichieusau" *ngIf="dataTranslate"
                          placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.chondonvichieusau' | translate}}">
                <mat-option value="">
                  {{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.chondonvichieusau" | translate }}
                </mat-option>
                <mat-option *ngFor="let donViChieuSau of donViDoSauList" [value]="donViChieuSau.id">
                  {{ donViChieuSau.name }}
                </mat-option>
              </mat-select>
              <span *ngIf="formErrors.donvichieusau" class="alert-danger">{{formErrors.donvichieusau}}</span>
            </div>
          </div>

          <div class="form-group row mx-0">
            <label
              class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.khaithacdenngay" | translate}}</label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input class="form-control" formControlName="khaithacdenngay" [owlDateTimeTrigger]="dt1"
                     [owlDateTime]="dt1"
                     placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.khaithacdenngayPlaceholder' | translate}}"/>
              <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
              <span *ngIf="formErrors.khaithacdenngay" class="alert-danger">{{formErrors.khaithacdenngay}}</span>
            </div>
          </div>

          <div class="form-group row mx-0">
            <label
              class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.kehoachkhaithac" | translate}}</label>
            <div class="col-lg-8 col-md-8 col-sm-8">
            <textarea class="form-control" formControlName="kehoachkhaithac"
                      placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithacvlxd.kehoachkhaithacPlaceholder' | translate}}"></textarea>
              <span *ngIf="formErrors.kehoachkhaithac"
                    class="alert-danger">{{formErrors.kehoachkhaithac}}</span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
