<!-- Page header -->
<app-sub-header [menuItems]="navArray"></app-sub-header>
<!-- /page header -->
<div class="content pt-3">
  <mat-sidenav-container class="sidenav-container" hasBackdrop="false">
    <mat-sidenav-content>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 px-0">
            <div class="card border">
              <div class="card-header">
                <h3>
                  <span class="title">{{
                    "TINBAI.tintuc.titleList" | translate
                  }}</span>
                  <button
                    class="btn btn-primary"
                    style="float: right;"
                    (click)="openTintucIOPageAdd()"
                    [disabled]="!addTinTucAction"
                  >
                    <i class="fal fa-plus-square"></i>
                    {{ "COMMON.default.add" | translate }}
                  </button>
                  <button
                    class="btn btn-outline-primary mr-3"
                    style="float: right;"
                    (click)="getAllTintuc()"
                    [disabled]="!listTinTucAction"
                  >
                    <i class="far fa-sync-alt"></i>
                    {{ "COMMON.default.load" | translate }}
                  </button>
                </h3>
              </div>
              <div class="card-body">
                <ejs-grid
                  #grid
                  *ngIf="listTintuc && dataTranslate"
                  [dataSource]="listTintuc"
                  [editSettings]="settingsCommon.editSettings"
                  [allowPaging]="true"
                  [allowSorting]="true"
                  [pageSettings]="settingsCommon.pageSettings"
                  [toolbar]="settingsCommon.toolbar"
                  class="table-striped"
                  (queryCellInfo)="customiseCell($event)"
                  [allowResizing]="true"
                >
                  <e-columns>
                    <e-column
                      field="serialNumber"
                      headerText="{{
                        'COMMON.default.numericalOrder' | translate
                      }}"
                    ></e-column>
                    <e-column
                      field="title"
                      headerText="{{ 'TINBAI.tintuc.title' | translate }}"
                    ></e-column>
                    <e-column
                      field="author"
                      headerText="{{ 'TINBAI.tintuc.author' | translate }}"
                    ></e-column>
                    <e-column
                      field="categoryId"
                      headerText="{{ 'TINBAI.tintuc.categoryId' | translate }}"
                    ></e-column>
                    <e-column
                      field="image"
                      headerText="{{ 'TINBAI.tintuc.imgLink' | translate }}"
                    ></e-column>
                    <e-column
                      field="id"
                      headerText="{{ 'COMMON.default.action' | translate }}"
                    >
                      <ng-template #template let-data>
                        <div class="btn-group">
                          <button
                            class="btn btn-sm btn-primary"
                            title="{{ 'COMMON.default.edit' | translate }}"
                            (click)="openTintucIOPageEdit(data.id)"
                            [disabled]="!editTinTucAction"
                          >
                            <i class="far fa-edit"></i>
                          </button>
                          <button
                            class="btn btn-sm btn-info"
                            title="{{ 'TINBAI.tintuc.review' | translate }}"
                            (click)="reviewItem(data.id)"
                          >
                            <i class="far fa-ellipsis-h"></i>
                          </button>
                          <button
                            class="btn btn-sm btn-danger"
                            title="{{ 'COMMON.default.delete' | translate }}"
                            (click)="deleteItemTintuc($event)"
                            [disabled]="!deleteTinTucAction"
                          >
                            <i class="far fa-trash"></i>
                          </button>
                        </div>
                      </ng-template>
                    </e-column>
                  </e-columns>
                </ejs-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
