<div class="card border mt-3">
  <div class="card-header">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>
          <span class="title">{{title}}</span>
        </h4>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <button class="btn btn-primary mb-sm-1" style="float: right;" (click)="saveItemTinhTienCapQuyen()">
          <i class="fal fa-save"></i>
          {{ "COMMON.default.save" | translate }}
        </button>
        <button *ngIf="!disabledDeleteButton" class="btn btn-outline-danger mr-2" style="float: right;"
                (click)="deleteItemTinhTienCapQuyen()">
          <i class="far fa-trash"></i>
          {{ "COMMON.default.delete" | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="tinhTienTheoNamIOForm">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="row form-group mx-0">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "TINHTIENCAPQUYEN.tinhtiencapquyentheonam.tongtienphainop" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input class="form-control" type="text" formControlName="tongtienphainop" placeholder="{{'TINHTIENCAPQUYEN.tinhtiencapquyentheonam.tongtienphainopPlaceholder' | translate}}" />
              <span *ngIf="formErrors.tongtienphainop" class="alert-danger">{{formErrors.tongtienphainop}}</span>
            </div>
          </div>
          <div class="row form-group mx-0">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "TINHTIENCAPQUYEN.tinhtiencapquyentheonam.namnoplandau" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input class="form-control" type="text" formControlName="namnoplandau" placeholder="{{'TINHTIENCAPQUYEN.tinhtiencapquyentheonam.namnoplandauPlaceholder' | translate}}" />
              <span *ngIf="formErrors.namnoplandau" class="alert-danger">{{formErrors.namnoplandau}}</span>
            </div>
          </div>
          <div class="row form-group mx-0">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "TINHTIENCAPQUYEN.tinhtiencapquyentheonam.sotienlandau" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input class="form-control" type="text" formControlName="sotienlandau" placeholder="{{'TINHTIENCAPQUYEN.tinhtiencapquyentheonam.sotienlandauPlaceholder' | translate}}" />
              <span *ngIf="formErrors.sotienlandau" class="alert-danger">{{formErrors.sotienlandau}}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="row form-group mx-0">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "TINHTIENCAPQUYEN.tinhtiencapquyentheonam.solannop" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input class="form-control" type="text" formControlName="solannop" placeholder="{{'TINHTIENCAPQUYEN.tinhtiencapquyentheonam.solannopPlaceholder' | translate}}" />
              <span *ngIf="formErrors.solannop" class="alert-danger">{{formErrors.solannop}}</span>
            </div>
          </div>
          <div class="row form-group mx-0">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "TINHTIENCAPQUYEN.tinhtiencapquyentheonam.giatinhtienlandau" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input class="form-control" type="text" formControlName="giatinhtienlandau" placeholder="{{'TINHTIENCAPQUYEN.tinhtiencapquyentheonam.giatinhtienlandauPlaceholder' | translate}}" />
              <span *ngIf="formErrors.giatinhtienlandau" class="alert-danger">{{formErrors.giatinhtienlandau}}</span>
            </div>
          </div>
          <div class="row form-group mx-0">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "TINHTIENCAPQUYEN.tinhtiencapquyentheonam.sotienhangnam" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input class="form-control" type="text" formControlName="sotienhangnam" placeholder="{{'TINHTIENCAPQUYEN.tinhtiencapquyentheonam.sotienhangnamPlaceholder' | translate}}" />
              <span *ngIf="formErrors.sotienhangnam" class="alert-danger">{{formErrors.sotienhangnam}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <app-chitiettinhtiencapquyentheonam-list  [allowAutoInit]="false" #chiTietTinhTienTheoNam></app-chitiettinhtiencapquyentheonam-list>
        </div>
      </div>
    </form>
  </div>
</div>
