<div class="pt-3 pb-4">
  <form [formGroup]="tochucIOForm" class="pt-toolbar">
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{ "DANHMUC.tochuc.tentochuc" | translate }}
        <small>(*)</small></label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="tentochuc" placeholder="{{'DANHMUC.tochuc.tentochucPlaceholder' | translate}}" />
        <span *ngIf="formErrors.tentochuc" class="alert-danger">{{formErrors.tentochuc}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"DANHMUC.tochuc.diachi" | translate}}
        <small>(*)</small>
      </label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="diachi" placeholder="{{'DANHMUC.tochuc.diachiPlaceholder' | translate}}" />
        <span *ngIf="formErrors.diachi" class="alert-danger">{{formErrors.diachi}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"DANHMUC.tochuc.loaigiayto" | translate}}
        <small>(*)</small>
      </label>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12">
            <mat-select class="form-control" placeholder="{{ 'DANHMUC.tochuc.chonLoaiGiayTo' | translate }}" formControlName="loaigiayto" *ngIf="dataTranslate">
              <mat-option value="">
                {{ "DANHMUC.tochuc.chonLoaiGiayTo" | translate }}
              </mat-option>
              <mat-option *ngFor="let loai of loaigiayto" [value]="loai.id">
                {{ loai.name }}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <span *ngIf="formErrors.loaigiayto" class="alert-danger">{{formErrors.loaigiayto}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"DANHMUC.tochuc.sogiayto" | translate}}
        <small>(*)</small>
      </label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="sogiayto" placeholder="{{'DANHMUC.tochuc.sogiaytoPlaceholder' | translate}}" />
        <span *ngIf="formErrors.sogiayto" class="alert-danger">{{formErrors.sogiayto}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"DANHMUC.tochuc.ngaycap" | translate}}
        <small>(*)</small>
      </label>
      <div class="col-sm-9">
        <input class="form-control" formControlName="ngaycap" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" placeholder="{{'DANHMUC.tochuc.ngaycapPlaceholder' | translate}}" />
        <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
        <span *ngIf="formErrors.ngaycap" class="alert-danger">{{formErrors.ngaycap}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"DANHMUC.tochuc.noicap" | translate}}
        <small>(*)</small>
      </label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="noicap" placeholder="{{'DANHMUC.tochuc.noicapPlaceholder' | translate}}" />
        <span *ngIf="formErrors.noicap" class="alert-danger">{{formErrors.noicap}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{ "DANHMUC.tochuc.loaitochuc" | translate }}
        <small>(*)</small>
      </label>
      <div class="col-sm-9">
        <div class="row">
          <div class="{{classColWithFiftyPercentForCombobox ? 'col-sm-6' : 'col-sm-12'}}">
            <mat-select class="form-control" placeholder="{{ 'DANHMUC.tochuc.chonLoaiToChuc' | translate }}" formControlName="idloaitochuccombobox" *ngIf="dataTranslate">
              <mat-select-filter [displayMember]="'tenloaitochuc'" [array]="listLoaiToChucFilter" (filteredReturn)="listLoaiToChuc = $event">
              </mat-select-filter>
              <mat-option value="">
                {{ "DANHMUC.tochuc.chonLoaiToChuc" | translate }}
              </mat-option>
              <mat-option *ngFor="let loaiTC of listLoaiToChuc" [value]="loaiTC.idloaitochuc">
                {{ loaiTC.tenloaitochuc }}
              </mat-option>
            </mat-select>
          </div>
          <div class="{{classColWithFiftyPercentForCombobox ? 'col-sm-6' : ''}}">
            <input type="hidden" class="form-control" formControlName="idloaitochuc">
            <label class="col-form-label text-left">
              {{tenLoaiToChuc}}
            </label>
          </div>
        </div>
        <span *ngIf="formErrors.idloaitochuc" class="alert-danger">{{formErrors.idloaitochuc}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"DANHMUC.tochuc.fax" | translate}}</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="fax" placeholder="{{'DANHMUC.tochuc.faxPlaceholder' | translate}}" />
        <span *ngIf="formErrors.fax" class="alert-danger">{{formErrors.fax}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"DANHMUC.tochuc.website" | translate}}</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="website"  placeholder="{{'DANHMUC.tochuc.websitePlaceholder' | translate}}" />
        <span *ngIf="formErrors.website" class="alert-danger">{{formErrors.website}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"DANHMUC.tochuc.dienthoai" | translate}}</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="dienthoai" placeholder="{{'DANHMUC.tochuc.dienthoaiPlaceholder' | translate}}" />
        <span *ngIf="formErrors.dienthoai" class="alert-danger">{{formErrors.dienthoai}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"DANHMUC.tochuc.email" | translate}}</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="email" placeholder="{{'DANHMUC.tochuc.emailPlaceholder' | translate}}" />
        <span *ngIf="formErrors.email" class="alert-danger">{{formErrors.email}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{ "COMMON.default.matinh" | translate }}
        <small>(*)</small></label>
      <div class="col-sm-9">
        <div class="row">
          <div class="{{classColWithFiftyPercentForCombobox ? 'col-sm-6' : 'col-sm-12'}}">
            <mat-select class="form-control" formControlName="matinh" [compareWith]="compareTinh"  placeholder="{{ 'COMMON.default.chonTinh' | translate }}"
              (selectionChange)="showDvhcHuyen()" *ngIf="dataTranslate">
              <mat-select-filter [displayMember]="'ten'" [array]="dvhcProvinceFilters" (filteredReturn)="allTinh = $event">
              </mat-select-filter>
              <mat-option value="">
                {{ "COMMON.default.chonTinh" | translate }}
              </mat-option>
              <mat-option *ngFor="let tinh of allTinh" [value]="{idtinh: tinh.id, matinh: tinh.matinh}">
                {{ tinh.ten }}
              </mat-option>
            </mat-select>
          </div>
          <div class="{{classColWithFiftyPercentForCombobox ? 'col-sm-6' : ''}}"></div>
        </div>
        <span *ngIf="formErrors.matinh" class="alert-danger">{{formErrors.matinh}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{ "COMMON.default.mahuyen" | translate }}
        <small>(*)</small></label>
      <div class="col-sm-9">
        <div class="row">
          <div class="{{classColWithFiftyPercentForCombobox ? 'col-sm-6' : 'col-sm-12'}}">
            <mat-select class="form-control" formControlName="mahuyen" [compareWith]="compareHuyen"  placeholder="{{ 'COMMON.default.chonHuyen' | translate }}"
              (selectionChange)="showDvhcXa()" *ngIf="dataTranslate">
              <mat-select-filter [displayMember]="'ten'" [array]="dvhcDistrictFilters"(filteredReturn)="allHuyen = $event">
              </mat-select-filter>
              <mat-option value="">
                {{ "COMMON.default.chonHuyen" | translate }}
              </mat-option>
              <mat-option *ngFor="let huyen of allHuyen" [value]="{idhuyen: huyen.id, mahuyen: huyen.mahuyen}">
                {{ huyen.ten }}
              </mat-option>
            </mat-select>
          </div>
          <div class="{{classColWithFiftyPercentForCombobox ? 'col-sm-6' : ''}}"></div>
        </div>
        <span *ngIf="formErrors.mahuyen" class="alert-danger">{{formErrors.mahuyen}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"COMMON.default.maxa" | translate}}
        <small>(*)</small>
      </label>
      <div class="col-sm-9">
        <div class="row">
          <div class="{{classColWithFiftyPercentForCombobox ? 'col-sm-6' : 'col-sm-12'}}">
            <mat-select class="form-control" formControlName="maxa" [compareWith]="compareXa" placeholder="{{ 'COMMON.default.chonXa' | translate }}" *ngIf="dataTranslate">
              <mat-select-filter [displayMember]="'ten'" [array]="dvhcWardFilters" (filteredReturn)="allXa = $event">
              </mat-select-filter>
              <mat-option value="">
                {{ "COMMON.default.chonXa" | translate }}
              </mat-option>
              <mat-option *ngFor="let xa of allXa" [value]="{idxa: xa.id, maxa: xa.maxa}">
                {{ xa.ten }}
              </mat-option>
            </mat-select>
          </div>
          <div class="{{classColWithFiftyPercentForCombobox ? 'col-sm-6' : ''}}"></div>
        </div>
        <span *ngIf="formErrors.maxa" class="alert-danger">{{formErrors.maxa}}</span>
      </div>
    </div>
    <!-- <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"DANHMUC.tochuc.trangthai" | translate}}</label>
      <div class="col-sm-9">
        <mat-select class="form-control" placeholder="{{ 'DANHMUC.tochuc.chonTrangthai' | translate }}" formControlName="trangthai" *ngIf="dataTranslate">
          <mat-option value="">
            {{ "DANHMUC.tochuc.chonTrangthai" | translate }}
          </mat-option>
          <mat-option *ngFor="let tt of trangthai" [value]="tt.id">
            {{ tt.name }}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.trangthai" class="alert-danger">{{formErrors.trangthai}}</span>
      </div>
    </div> -->
    <div class="form-group row mx-0">
      <label class="col-sm-3 col-form-label text-right">{{"DANHMUC.tochuc.thutu" | translate}}</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="thutu" placeholder="{{'DANHMUC.tochuc.thutuPlaceholder' | translate}}" />
        <span *ngIf="formErrors.thutu" class="alert-danger">{{formErrors.thutu}}</span>
      </div>
    </div>
    <div class="toolbar-container py-2">
      <div class="function-toolbar">
        <div class="form-group row mx-0">
          <div class="col-12">
            <button class="btn btn-primary float-right" (click)="onSubmit(purpose)">
              <i class="far fa-save"></i>
              {{ "COMMON.default.saveAndClose" | translate }}
            </button>
            <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose === 'new'"
              (click)="onContinueAdd(purpose)">
              <i class="far fa-download"></i>
              {{ "COMMON.default.saveAndRefresh" | translate }}
            </button>
            <button class="btn btn-outline-info float-right mr-3" *ngIf="purpose === 'new'" (click)="onFormReset()">
              <i class="far fa-sync-alt"></i>
              {{ "COMMON.default.refresh" | translate }}
            </button>
            <button class="btn btn-danger float-right mr-3" (click)="closeToChucIOSidenav()">
              <i class="far fa-times-circle"></i>
              {{ "COMMON.default.cancel" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
