::ng-deep {
  .layer-grid {
    .e-grid .e-gridheader {
      position: fixed;
      top: -1000px;
    }

    .e-grid .e-content {
      min-height: 30vh;
    }

    td.e-rowcell.e-templatecell:last-child {
      overflow: unset;
      opacity: 1;
    }

    .e-grid table tbody tr:last-child td {
      border-bottom: none;
    }

    .e-grid .e-rowcell .e-checkbox-wrapper,
    .e-grid .e-rowcell .e-css.e-checkbox-wrapper {
      float: right;
    }

    .e-table {
      border-top: 1px solid #e4e4e4;
    }

    i {
      cursor: pointer;
    }
  }

  .hide-childs-checkbox
    .layer-grid
    .e-grid
    [class*="level1"]
    .e-checkbox-wrapper {
    display: none;
  }

  .hidden {
    display: none;
  }

  .disablecheckbox {
    pointer-events: none;
    opacity: 0.55;
  }
}
