<div class="container-fluid mt-3">
    <div class="row">
      <div class="col-lg-12" style="padding: 0px;">
        <div class="card border">
          <div class="card-header">
            <h3 class="card-title">
                <div class="row">
                    <div class="col-md-8 mb-sm-1">
                      <span class="title">{{ "DANGKYHOATDONGKHOANGSAN.dangkythamdokhuvuc.titleList" | translate }}</span>
                    </div>
                    <div class="col-md-4">
                      <button class="btn btn-primary mb-sm-1" style="float: right;" (click)="openDkThamDoCongTrinhIOSidenav()">
                        <i class="fal fa-plus-square"></i>
                        {{ "COMMON.default.add" | translate }}
                      </button>
                      <button class="btn btn-outline-primary mr-2" style="float: right;" (click)="reloadDataGrid()">
                        <i class="far fa-sync-alt"></i>
                        {{ "COMMON.default.load" | translate }}
                      </button>
                    </div>
                </div>
            </h3>
          </div>
          <div class="card-body">
            <ejs-grid #gridDkThamDoKhuVuc *ngIf="listDkThamDoKhuVuc" [dataSource]="listDkThamDoKhuVuc" [childGrid]='childGrid'
              [editSettings]="settingsCommon.editSettings" [allowPaging]="true" [allowSorting]="true" [allowTextWrap]="true" [textWrapSettings]='wrapSettings' (load)='onLoad($event)'
              [pageSettings]="settingsCommon.pageSettings" [toolbar]="settingsCommon.toolbar" class="table-striped" [allowResizing]="true" >
              <e-columns>
                <e-column field="serialNumber" headerText="{{ 'COMMON.default.numericalOrder' | translate }}"></e-column>
                <e-column field="tenkhuvuc" headerText="{{ 'DANGKYHOATDONGKHOANGSAN.dangkythamdokhuvuc.tenkhuvuc' | translate }}"></e-column>
                <e-column field="dientich" headerText="{{ 'DANGKYHOATDONGKHOANGSAN.dangkythamdokhuvuc.dientich' | translate }}"></e-column>
                <e-column field="donvidientich" headerText="{{ 'DANGKYHOATDONGKHOANGSAN.dangkythamdokhuvuc.donvidientich' | translate }}"></e-column>
                <e-column field="idthamdokhuvuc"  isPrimaryKey='true' headerText="{{ 'COMMON.default.action' | translate }}">
                  <ng-template #template let-data>
                    <div class="btn-group">
                      <button class="btn btn-sm btn-primary" title="{{ 'COMMON.default.edit' | translate }}"
                      (click)="editItemDkThamDoKhuVuc(data.idthamdokhuvuc)">
                        <i class="far fa-edit"></i>
                      </button>
                      <button class="btn btn-sm btn-danger" title="{{ 'COMMON.default.delete' | translate }}"
                        (click)="deleteItemDangKyThamDoKhuVuc(data)">
                        <i class="far fa-trash"></i>
                      </button>
                    </div>
                  </ng-template>
                </e-column>
              </e-columns>
            </ejs-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
  
