<div class="card border mt-3">
    <div class="card-header">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9">
          <h4>
            <span class="title" *ngIf="currentAction === ActionType.Add">
              {{ 'DANGKYHOATDONGKHOANGSAN.dangkykhaithacdieuchinh.titleAdd' | translate}}
            </span>
            <span class="title" *ngIf="currentAction === ActionType.Edit">
              {{ 'DANGKYHOATDONGKHOANGSAN.dangkykhaithacdieuchinh.titleEdit' | translate}}
            </span>
          </h4>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <button class="btn btn-primary mb-sm-1" style="float: right;" (click)="saveItemDangKyKhaiThacKhoangSan()">
            <i class="fal fa-save"></i>
            {{ "COMMON.default.save" | translate }}
          </button>
          <button *ngIf="!disabledDeleteButton" class="btn btn-outline-danger mr-2" style="float: right;"
            (click)="deleteItemDangKyKhaiThacTraLai()">
            <i class="far fa-trash"></i>
            {{ "COMMON.default.delete" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="dangKyKhaiThacTraLaiIOForm">
        <div class="container-fluid p-0">
          <!-- Số Giấy tờ-->
          <div class=" row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-group row mx-0">
                <label
                  class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacdieuchinh.sogiayphep" | translate }}
                  <small>(*)</small>
                </label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <input type="hidden" formControlName="idgiayphep">
                  <input class="form-control" type="text" formControlName="sogiayphep"
                    placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithacdieuchinh.sogiayphepPlaceholder' | translate}}" />
                  <span *ngIf="formErrors.idgiayphep || formErrors.sogiayphep"
                    class="alert-danger">{{formErrors.sogiayphep}}</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                  <button class="btn btn-primary mb-sm-1" style="float: right;" (click)="openGiayPhepIOSidenav()">
                    <i class="fal fa-plus-square"></i>
                    {{ "COMMON.default.select" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Diện tích khai thác & Diện tích đã cấp phép-->
          <div class=" row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-group row mx-0">
                <label
                  class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacdieuchinh.dientichdacapphep" | translate }}
                  <small>(*)</small>
                </label>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <input class="form-control" type="text" formControlName="dientichdacapphep"
                    placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithacdieuchinh.dientichdacapphepPlaceholder' | translate}}" />
                  <span *ngIf="formErrors.dientichdacapphep" class="alert-danger">{{formErrors.dientichdacapphep}}</span>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group row mx-0">
                  <label
                    class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacdieuchinh.dientichkhaithac" | translate }}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" type="text" formControlName="dientichkhaithac"
                      placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithacdieuchinh.dientichkhaithacPlaceholder' | translate}}" />
                    <span *ngIf="formErrors.dientichkhaithac" class="alert-danger">{{formErrors.dientichkhaithac}}</span>
                  </div>
                </div>
              </div>
          </div>
          <!-- Diện tích trả lại & đơn vị diện tích-->
          <div class=" row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-group row mx-0">
                <label
                  class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacdieuchinh.dientichtralai" | translate }}
                  <small>(*)</small>
                </label>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <input class="form-control" type="text" formControlName="dientichtralai"
                    placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithacdieuchinh.dientichtralaiPlaceholder' | translate}}" />
                  <span *ngIf="formErrors.dientichtralai" class="alert-danger">{{formErrors.dientichtralai}}</span>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group row mx-0">
                  <label
                    class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacdieuchinh.donvidientich" | translate }}
                    <small>(*)</small>
                  </label>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <mat-select class="form-control" formControlName="donvidientich" *ngIf="dataTranslate"
                      placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithacdieuchinh.chondonvidientich' | translate}}">
                      <mat-option value="">
                        {{ "DANGKYHOATDONGKHOANGSAN.dangkythamdogiahan.chondonvidientich" | translate }}
                      </mat-option>
                      <mat-option *ngFor="let donViDienTich of donViDienTichList" [value]="donViDienTich.id">
                        {{ donViDienTich.name }}
                      </mat-option>
                    </mat-select>
                    <span *ngIf="formErrors.donvidientich" class="alert-danger">{{formErrors.donvidientich}}</span>
                  </div>
                </div>
              </div>
          </div>
          <!-- Loại trả lại & Lý do trả lại-->
          <div class=" row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <!-- <div class="form-group row mx-0">
                <label
                  class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacdieuchinh.truluongdiachat" | translate }}
                  <small>(*)</small>
                </label>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <input class="form-control" type="text" formControlName="truluongdiachat"
                    placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithacdieuchinh.truluongdiachatPlaceholder' | translate}}" />
                  <span *ngIf="formErrors.truluongdiachat" class="alert-danger">{{formErrors.truluongdiachat}}</span>
                </div>
              </div> -->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group row mx-0">
                    <label
                      class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"DANGKYHOATDONGKHOANGSAN.dangkykhaithacgiahan.lydotralai" | translate}}</label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                      <textarea class="form-control" formControlName="lydotralai"
                        placeholder="{{'DANGKYHOATDONGKHOANGSAN.dangkykhaithacgiahan.lydotralaiPlaceholder' | translate}}"></textarea>
                      <span *ngIf="formErrors.lydotralai" class="alert-danger">{{formErrors.lydotralai}}</span>
                    </div>
                  </div>
            </div>
          </div>
          <!-- hệ quy chiếu-->
          <div class=" row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-group row mx-0">
                <label
                  class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"DANGKYHOATDONGKHOANGSAN.dangkykhaithacdieuchinh.hequychieu" | translate}}
                  <small>(*)</small>
                </label>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <mat-select class="form-control"
                    placeholder="{{ 'DANGKYHOATDONGKHOANGSAN.dangkykhaithacdieuchinh.chonhequychieu' | translate }}"
                    formControlName="hequychieu" *ngIf="dataTranslate">
                    <mat-option value="">
                      {{ "DANGKYHOATDONGKHOANGSAN.dangkykhaithacdieuchinh.chonhequychieu" | translate }}
                    </mat-option>
                    <mat-option *ngFor="let hequychieu of allHeQuyChieu" [value]="hequychieu.srid">
                      {{("DANHMUC.hequychieu.meridian"  | translate) + ": " + hequychieu.meridian + " - " + ("DANHMUC.hequychieu.prjzone"  | translate) + ": " + hequychieu.prjzone}}
                    </mat-option>
                  </mat-select>
                  <span *ngIf="formErrors.hequychieu" class="alert-danger">{{formErrors.hequychieu}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
