<div class="card border mt-3">
  <div class="card-header">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>
          <!-- <span class="title" *ngIf="currentAction === ActionType.Add">
            {{ 'CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.titleAdd' | translate}}
          </span>
          <span class="title" *ngIf="currentAction === ActionType.Edit">
            {{ 'CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.titleEdit' | translate}}
          </span> -->
          <span class="title">{{title}}</span>
        </h4>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <button class="btn btn-primary mb-sm-1" style="float: right;" (click)="saveItemCapPhepThamDo()">
          <i class="fal fa-save"></i>
          {{ "COMMON.default.save" | translate }}
        </button>
        <button *ngIf="!disabledDeleteButton" class="btn btn-outline-danger mr-2" style="float: right;"
                (click)="deleteItemCapPhepThamDoKhoangSan()">
          <i class="far fa-trash"></i>
          {{ "COMMON.default.delete" | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="capPhepThamDoIOForm">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group row mx-0">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.tenkhuvucthamdo" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input class="form-control" type="text" formControlName="tenkhuvucthamdo" placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.tenkhuvucthamdoPlaceholder' | translate}}" />
              <span *ngIf="formErrors.tenkhuvucthamdo" class="alert-danger">{{formErrors.tenkhuvucthamdo}}</span>
            </div>
          </div>
          <div class="form-group row mx-0">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.thoihanthamdo" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input class="form-control" type="text" formControlName="thoihanthamdo" placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.thoihanthamdoPlaceholder' | translate}}" />
              <span *ngIf="formErrors.thoihanthamdo" class="alert-danger">{{formErrors.thoihanthamdo}}</span>
            </div>
          </div>
          <div class="form-group row mx-0">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.ngaybdthamdo" | translate}}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8 ">
                <div class="d-flex">
                    <input class="form-control mr-2" formControlName="ngaybdthamdo"
                        [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"
                        placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.ngaybdthamdoPlaceholder' | translate}}" />
                        <span [owlDateTimeTrigger]="dt1" style="cursor: pointer;"
                        class="btn btn-outline-secondary"><i class="fa fa-calendar"></i></span>
                    <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                </div>
                <span *ngIf="formErrors.ngaybdthamdo" class="alert-danger">{{formErrors.ngaybdthamdo}}</span>
            </div>
          </div>
          <div class="form-group row mx-0">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.dientichthamdo" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input class="form-control" type="text" formControlName="dientichthamdo" placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.dientichthamdoPlaceholder' | translate}}" />
              <span *ngIf="formErrors.dientichthamdo" class="alert-danger">{{formErrors.dientichthamdo}}</span>
            </div>
          </div>
          <div class="form-group row mx-0" *ngIf="!disabledDienTichTraLai">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.dientichtralai" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input class="form-control" type="text" formControlName="dientichtralai" placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.dientichtralaiPlaceholder' | translate}}" />
              <span *ngIf="formErrors.dientichtralai" class="alert-danger">{{formErrors.dientichtralai}}</span>
            </div>
          </div>
          <div class="form-group row mx-0">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.chieusauthamdotu" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input class="form-control" type="text" formControlName="chieusauthamdotu" placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.chieusauthamdotuPlaceholder' | translate}}" />
              <span *ngIf="formErrors.chieusauthamdotu" class="alert-danger">{{formErrors.chieusauthamdotu}}</span>
            </div>
          </div>
          <div class="form-group row mx-0">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.chieusauthamdoden" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input class="form-control" type="text" formControlName="chieusauthamdoden" placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.chieusauthamdodenPlaceholder' | translate}}" />
              <span *ngIf="formErrors.chieusauthamdoden" class="alert-danger">{{formErrors.chieusauthamdoden}}</span>
            </div>
          </div>
          <div class="form-group row mx-0">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.mucdichsudungkhoangsan" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input class="form-control" type="text" formControlName="mucdichsudungkhoangsan" placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.mucdichsudungkhoangsanPlaceholder' | translate}}" />
              <span *ngIf="formErrors.mucdichsudungkhoangsan" class="alert-danger">{{formErrors.mucdichsudungkhoangsan}}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group row mx-0">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.diadiem" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input class="form-control" type="text" formControlName="diadiem" placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.diadiemPlaceholder' | translate}}" />
              <span *ngIf="formErrors.diadiem" class="alert-danger">{{formErrors.diadiem}}</span>
            </div>
          </div>
          <div class="form-group row mx-0">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.donvithoihan" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <mat-select class="form-control" formControlName="donvithoihan"
                *ngIf="dataTranslate" [displayMember]="'name'" placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.chondonvithoihan' | translate}}">
                <mat-option value="">
                  {{ "CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.chondonvithoihan" | translate }}
                </mat-option>
                <mat-option *ngFor="let donViThoiHan of donViThoiHanList" [value]="donViThoiHan.id">
                  {{ donViThoiHan.name }}
                </mat-option>
              </mat-select>
              <span *ngIf="formErrors.donvithoihan" class="alert-danger">{{formErrors.donvithoihan}}</span>
            </div>
          </div>
          <div class="form-group row mx-0">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.ngayktthamdo" | translate}}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8 ">
                <div class="d-flex">
                    <input class="form-control mr-2" formControlName="ngayktthamdo"
                        [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"
                        placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.ngayktthamdoPlaceholder' | translate}}" />
                        <span [owlDateTimeTrigger]="dt2" style="cursor: pointer;"
                        class="btn btn-outline-secondary"><i class="fa fa-calendar"></i></span>
                    <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
                </div>
                <span *ngIf="formErrors.ngayktthamdo" class="alert-danger">{{formErrors.ngayktthamdo}}</span>
            </div>
          </div>
          <div class="form-group row mx-0">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.donvidientich" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <mat-select class="form-control" formControlName="donvidientich"
                *ngIf="dataTranslate" placeholder="{{'CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.chondonvidientich' | translate}}">
                <mat-option value="">
                  {{ "CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.chondonvidientich" | translate }}
                </mat-option>
                <mat-option *ngFor="let donViDienTich of donViDienTichList" [value]="donViDienTich.id">
                  {{ donViDienTich.name }}
                </mat-option>
              </mat-select>
              <span *ngIf="formErrors.donvidientich" class="alert-danger">{{formErrors.donvidientich}}</span>
            </div>
          </div>
          <div class="form-group row mx-0" *ngIf="!disabledDienTichTraLai">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right"></label>
            <div class="col-lg-8 col-md-8 col-sm-8"></div>
          </div>
          <div class="form-group row mx-0">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{ "CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.donvichieusau" | translate }}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <mat-select class="form-control" formControlName="donvichieusau"
                *ngIf="dataTranslate" placeholder="{{ 'CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.chondonvichieusau' | translate }}">
                <mat-option value="">
                  {{ "CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.chondonvichieusau" | translate }}
                </mat-option>
                <mat-option *ngFor="let donViDoSau of donViDoSauList" [value]="donViDoSau.id">
                  {{ donViDoSau.name }}
                </mat-option>
              </mat-select>
              <span *ngIf="formErrors.donvichieusau" class="alert-danger">{{formErrors.donvichieusau}}</span>
            </div>
          </div>
          <div class="form-group row mx-0">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right"></label>
            <div class="col-lg-8 col-md-8 col-sm-8"></div>
          </div>
          <div class="form-group row mx-0">
            <label class="col-lg-4 col-md-4 col-sm-4 col-form-label text-right">{{"CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.hequychieu" | translate}}
              <small>(*)</small>
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <mat-select class="form-control" placeholder="{{ 'CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.chonhequychieu' | translate }}"
                formControlName="hequychieu" *ngIf="dataTranslate">
                <mat-option value="">
                  {{ "CAPPHEPHOATDONGKHOANGSAN.cptdksthamdokhoangsan.chonhequychieu" | translate }}
                </mat-option>
                <mat-option *ngFor="let hequychieu of allHeQuyChieu" [value]="hequychieu.srid">
                  {{("DANHMUC.hequychieu.meridian"  | translate) + ": " + hequychieu.meridian + " - " + ("DANHMUC.hequychieu.prjzone"  | translate) + ": " + hequychieu.prjzone}}
                </mat-option>
              </mat-select>
              <span *ngIf="formErrors.hequychieu" class="alert-danger">{{formErrors.hequychieu}}</span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

