<!-- Page header -->
<app-sub-header [menuItems]="navArray"></app-sub-header>
<!-- /page header -->
<div class="content pt-3">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 px-0">
            <div class="card border">
              <div class="card-body">
                <h4>{{ 'COMMON.default.timkiemnangcao' | translate }}:</h4>
                <div class="row" [formGroup]="formSearch">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 form-group">
                    <label class="col-form-label text-right">{{"COMMON.default.key" | translate}}:</label>
                    <input type="text" formControlName="Keyword" class="form-control"
                      placeholder="{{'COMMON.default.keyPlaceholder' | translate}}">
                  </div>
                  <div class="col-lg-2 col-md-3 col-sm-4 form-group d-flex" style="align-items: flex-end;">
                    <div>
                      <button class="btn btn-success" (click)="searchAdvance()">
                        {{"COMMON.default.search" | translate}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-sidenav-container class="sidenav-container" hasBackdrop="false">
    <mat-sidenav-content>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 px-0">
            <div class="card border">
              <div class="card-header">
                <h3>
                  <div class="row">
                    <div class="col-md-6 mb-sm-1">
                      <span class="title">{{ "KHUVUCKHOANGSAN.khuvuckhoangsandochai.titleList" | translate }}</span>
                    </div>
                    <div class="col-md-6">
                      <button class="btn btn-primary mb-sm-1" style="float: right;"
                        (click)="openKhuVucKhoangSanDocHaiIOSidenav()">
                        <i class="fal fa-plus-square"></i>
                        {{ "COMMON.default.add" | translate }}
                      </button>
                      <button class="btn btn-outline-primary mr-2" style="float: right;" (click)="reloadDataGrid()">
                        <i class="far fa-sync-alt"></i>
                        {{ "COMMON.default.load" | translate }}
                      </button>
                    </div>
                  </div>
                </h3>
              </div>
              <div class="card-body">
                <ejs-grid #gridKvKhoangSanDocHai *ngIf="listKvKhoangSanDocHai"
                  [dataSource]="listKvKhoangSanDocHai | async" [editSettings]="settingsCommon.editSettings"
                  [allowPaging]="true" [allowSorting]="true" [allowTextWrap]="true" [textWrapSettings]='wrapSettings'
                  [pageSettings]="settingsCommon.pageSettings" class="table-striped" [allowResizing]="true"
                  (dataStateChange)="dataStateChange($event)">
                  <e-columns>
                    <e-column field="serialNumber" headerText="{{ 'COMMON.default.numericalOrder' | translate }}">
                    </e-column>
                    <e-column field="tenkhuvuc"
                      headerText="{{ 'KHUVUCKHOANGSAN.khuvuckhoangsandochai.tenkhuvuc' | translate }}"></e-column>
                    <e-column field="diadiem"
                      headerText="{{ 'KHUVUCKHOANGSAN.khuvuckhoangsandochai.diadiem' | translate }}"></e-column>
                    <e-column field="loaikhoangsan"
                      headerText="{{ 'KHUVUCKHOANGSAN.khuvuckhoangsandochai.loaikhoangsan' | translate }}"></e-column>
                    <e-column field="doituongloaihinh"
                      headerText="{{ 'KHUVUCKHOANGSAN.khuvuckhoangsandochai.doituongloaihinh' | translate }}">
                    </e-column>
                    <e-column field="idkhuvuc" isPrimaryKey='true'
                      headerText="{{ 'COMMON.default.action' | translate }}">
                      <ng-template #template let-data>
                        <div class="btn-group">
                          <button class="btn btn-sm btn-primary" title="{{ 'COMMON.default.edit' | translate }}"
                            (click)="editItemKhuVucKhoangSanDocHai(data.idkhuvuc)">
                            <i class="far fa-edit"></i>
                          </button>
                          <button class="btn btn-sm btn-info" title="{{ 'COMMON.default.detail' | translate }}"
                            (click)="detailItem(data.idkhuvuc)">
                            <i class="fal fa-ellipsis-h"></i>
                          </button>
                          <button class="btn btn-sm btn-danger" title="{{ 'COMMON.default.delete' | translate }}"
                            (click)="deleteItemKhuVucKhoangSanDocHai(data)">
                            <i class="far fa-trash"></i>
                          </button>
                        </div>
                      </ng-template>
                    </e-column>
                  </e-columns>
                </ejs-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
      <mat-sidenav #aside [fixedInViewport]="true" [fixedTopGap]="50" class="aside" position="end"
        style="width: 700px;">
        <div class="p-2 pl-3 bg-primary text-white mat-sidenav-title fixed-top">
          <button class="btn btn-sm btn-light" (click)="closeKhuVucKhoangSanDocHaiIOSidenav()">
            <i class="fad fa-chevron-double-right"></i>
          </button>
          <span style="vertical-align: middle;"
            class="ml-3 mat-sidenav-title-text">{{ matSidenavService.sidenavTitle }}</span>
        </div>
        <template #compKvKhoangSanDocHaiIO> </template>
      </mat-sidenav>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>